[2022-09-29 15:52] kohrar commented on #38
@xraive Can you please try setting it in `/configs/.parameters` instead and reboot to apply?

[2022-09-29 15:59] xraive commented on #38
@kohrar looks like that did it.  Thanks @kohrar and @jsolarin.  The recording stopped after a reboot when I made the changes in the .parameters file.  So just to confirm the .parameters file is for v2 and the .user_config file is for v3?  Although the .user_config is also present in v2.

[2022-09-29 16:05] kohrar commented on #38
@xraive Excellent!

That appears to be correct. The v2 firmware reads these settings from `.parameters`.

The v2's `.user_config` indeed exists and is written to by iCamera, but it appears to store the alarm/grid data (which is now stored in v3's `.grid_config` file).

[2022-09-29 22:51] sim4dim commented on #172
Just wondering if there is any update? Got Floodlight and under [4.36.9.139](https://download.wyzecam.com/firmware/v3/demo_wcv3_4.36.9.139.zip) and latest wz_mini it is not working ...

[2022-10-01 00:31] xraive commented on #38
@kohrar Would you consider patching WYZE Pan v1?

[2022-10-01 22:00] kohrar commented on #38
I was hoping the Pan v1 would be similar to the v2 firmware (version numbers are close, so I can just find the new addresses to patch), but the network handling code look a bit different. I don't have any of the pan cameras either to test with either, so I probably won't be able to make a patch for this anytime soon.

[2022-10-01 22:51] xraive commented on #38
No rush, if you need help with testing let me know.  I have a few of these devices.

[2022-10-02 15:22] tbrausch opened #324 "Changes to FPS in RTSP do not get applied correctly"
When I make changes to the RTSP settings in the wz_mini.conf file they never seem to have any effect. For example, if I set the RTSP_HI_RES_FPS="" and view the camera in VLC the media info shows 25 FPS as expected. However if I change it to RTSP_HI_RES_FPS="20" the VLC app still shows 25 FPS. When I change other settings beside RTSP it seems to work.  So am I missing something obvious?

A few days

[2022-10-02 16:38] tbrausch commented on #324
Wow, thought this hack was not supposed to change the camera hardware/firmware!  I had to factory reset the device to get the FPS back to 20, although this did not help the HIRES stream - still stability and tearing issues.

[2022-10-02 22:33] gtxaspec commented on #324
In order to push the camera beyond 20fps, we have to modify the config files on the camera.  This is one of the only situations where the camera config is modified.

I will look into your issue of the FPS not returning.

[2022-10-03 11:49] tbrausch commented on #324
Thanks, things now make a little more sense.

[2022-10-03 12:04] tbrausch commented on #324
Could I ask one more question?  Several times I have installed wz_mini_hacks on a Wyze V3 camera which is running the Wyze RTSP beta firmware and tried to get the wz_mini_hacks RTSP to work, but to no avail.  Should the RTSP streams work with the 4.61.0.1 firmware? (I tried with the Wyze RTSP both enabled and disabled).  I have read here that wz_mini should work, but not specifically if the RTSP p

[2022-10-05 16:04] kohrar commented on #324
@tbrausch There's likely some compatibility issues between the libcallback hack and firmware 4.61.0.1 (RTSP beta). I do recall having the same issues you did where the RTSP stream from wz_mini_hacks doesn't work on that particular version.
The RTSP stream from the beta firmware that you enable via the Wyze app should still work, however.

[2022-10-05 16:07] kohrar commented on #286
For automatic control, see #309 and look at the `night_` options that you can set in `/configs/.user_config`. `iCamera` will automatically control the IR lights based on those settings.

[2022-10-06 02:10] rickgitdone opened #329 "changed timezone str to EST now not booting"
am on latest 4.36.9.139 ,,, used the web gui camera config portion to change the timezone string to EDT ...

Could this brick the camera? won't boot fully now with sdcard in or out? red led comes on and nothing further ...

I have also reapplied the 4.36.9.139 and same... If anyone has any ideas LMK...

[2022-10-06 07:12] gtxaspec commented on #329
can you check the logs folder on the sd card? you can upload them here for us to find out whats going on.

[2022-10-06 07:32] virmaior commented on #329
@rickgitdone that sucks.

I did warn that I was unable to test this so far ...
I'll work on fixing the code; unfortunately, I can't help with the damage.

[2022-10-06 07:35] gtxaspec commented on #329
@virmaior not to worry, i can help @rickgitdone fix it.  stand by for a fix

[2022-10-06 11:31] rickgitdone commented on #329
@gtxaspec

tried adding this to the wz_mini/etc/rc.d/S14nightdrop and rebooted a few times

it appears now my backup copy of the .user_config must also have been corrupted since after I ran thru the RTSP firmware upgrade then back to 4.36.9.139 and it came back  ...I boldly ran the camera update script again not realizing the peril... meh...

is it possible I generate a .user_config from scratch a

[2022-10-06 11:32] gtxaspec commented on #329
try
[code]

[2022-10-06 11:56] rickgitdone commented on #329
OK .. I am in.. here is my /configs/.user_config from it now below... still looks corrupt .. I went thru each version and found .3 looks clean pasted to bottom ... if I copy .3 ver over the current do I need to preserver the p2pid= and r_encr= section at the top? or just edit out all the quoted sections?

Thanks so far really appreciate the assistance here

[NET]="[NET]"
bindOk=1
p2pid=3D3DHKNBRHG

[2022-10-06 11:59] gtxaspec commented on #329
use `.user_config.3`

[2022-10-06 12:18] rickgitdone commented on #329
@gtxaspec  ... back in business ... thx again.

I did the following while active w/o incident and commented out the other edits in wz_mini/etc/rc.d/S14nightdrop then rebooted

rm -f /configs/.user_config && cp /configs/.user_config.3 /configs/.user_config

[2022-10-06 12:20] gtxaspec commented on #329
glad to hear!

[2022-10-06 15:04] virmaior commented on #329
glad to see it got fixed.

https://github.com/gtxaspec/wz_mini_hacks/pull/330 should make it so that this doesn't happen.
I replaced the technique that wrote a completely new wz_mini.conf file (and thus borked the format for this file) with one that first makes a copy, only replaces altered single key=value pair, and then switches file names.
also prettied up the interface just a tad.

[2022-10-07 18:59] KevinKadow opened #333 "After upgrade, existing "root" cron file is copied to /opt/wz_mini/etc/cron/cron instead of /opt/wz_mini/etc/cron"
After running "upgrade-run.sh", the "root' cron file is one folder deeper than it should be, is in /opt/wz_mini/etc/cron/cron/root

[2022-10-08 18:18] charlesmkelley commented on #172
Insanely stupid question, but what file in the directory am I replacing with this? Would love ot test out to see if this works. @skilau too, as it seems like you have it working?

[2022-10-09 19:56] kohrar commented on #333
I see the same issue as well. Should be fixed by #337.

[2022-10-10 22:56] mega3st opened #340 "No audio in tinycam app due to audio codec used in RTSP stream"
When trying to activate audio in the tinycam app, the following error message appears

"Unsupported codec. Switch camera audio codec to Linear PCM, G.711 A-law (PCMA), G7.11 μ-law (PCMU), AAC, AMR-NB, G.726 (32kbps)"

Is it possible to change the audio codec by adjusting a file?

If not, would it be possible to create an option for this in the future, or maybe even think about changing the default

[2022-10-11 07:10] FiveLeavesLeft commented on #10
I override a routine, IMP_Encoder_GetStream that gets called for each frame. I call the original version of the routine and if someone has opened a connection to my little server I send the frame over that connection.

So I have some C code that waits for a connection. That runs in it’s own little thread.

[2022-10-11 09:06] FiveLeavesLeft commented on #10
Great. The Makefile and source code and toolchain are in www.sonic.net/~crb/dev/src.tgz . I forget where exactly I got this toolchain, but it’s probably the same one you are using.

Integrate this into wz_mini_hacks however you want. I chose /configs because it’s writable and persistent on V2 and V3. ( I haven’t made this version work with V2 yet. )

The code compiles into libcrb.so which is copie

[2022-10-11 15:43] virmaior commented on #340
This is a continuing issue that arises from a limitation of what we have:

https://github.com/gtxaspec/wz_mini_hacks/discussions/93
https://github.com/gtxaspec/wz_mini_hacks/discussions/197

basically requires redoing the audio using ffmpeg as the native encoder  v4l2rtspserver doesn't have the ability to do this.

[2022-10-11 22:35] mega3st commented on #340
Sorry, I wasn’t aware of that - the tinyCam Monitor app seems to be a bit picky about audio.

Assuming that the developer of the app will not provide a solution any time soon, the only alternative would be to switch to a more versatile RTSP server like [rtsp-simple-server](https://github.com/aler9/rtsp-simple-server), right?

And since this is certainly easier said than done, I should probably bet

[2022-10-11 22:48] kohrar commented on #340
@mega3st that sounds about right. I've used rtsp-simple-server in the past with good results. Just enable RTSP on the Wyze cam and then add a new source to the rtsp-simple-server config like this:
[code]

You can then try pointing your tinyCam app to the rtsp-simple-server instance and see if that works.

[2022-10-12 00:20] mega3st commented on #340
@kohrar with RTSP firmware 4.61.0.1, I had directly both video and audio in the tinyCam app. However, there were often longer freezers (despite full internet access).

Since the stream is the same, I can't imagine that another hop through a separate rtsp-simple-server changes anything.

Version 4.36.9.139 in combination with the official Wyze app runs smoothly but but isn’t my favorite solution.

[2022-10-12 00:49] mrlt8 commented on #340
@kohrar I don't think rebroadcasting the stream will fix it. The problem is that the camera is using an audio format that is not compatible with RTSP (s16le) which needs to be re-encoded. Wyze seems to be going back and forth with the audio codec on different firmware so that's why we just re-encode any incompatible format to AAC on the bridge.

@mega3st Why not just connect to the wyze cams direc

[2022-10-12 01:15] mega3st commented on #340
@mrlt8 the intended solution was to operate the camera locally without internet access, which is why I became aware of this project in the first place.

In addition to the unstable integration via RTSP in combination with the RTSP firmware, tinyCam indeed seems to support a cloud connection. However, this would mean that the camera would have to stay online and the latency is also higher.

[2022-10-12 01:22] mrlt8 commented on #340
Not necessarily. I believe tinycam is using the same TUTK sdk as the wyze app, so it will always attempt to connect locally if on the same LAN as the cameras (that's why the app will sometimes show the cam as offline but still be able to connect).

[2022-10-12 15:54] clee604 commented on #340
I use simple-rtsp-server to proxy and recode the rtsp stream to get audio in TinyCam.

Proxy:
[code]
Reencode audio
`runOnDemand: ffmpeg -rtsp_transport udp -i rtsp://localhost:8554/rtsp1 -c:v copy -c:a aac -f rtsp rtsp://localhost:$RTSP_PORT/$RTSP_PATH`

I keep the two lines separate so I can still access the original feed via proxy for VLC clients to save on CPU usage when encoding isn't necessa

[2022-10-12 23:33] mega3st commented on #340
@mrlt8 I just tried to connect with tinyCam directly to a local V3 without internet access, but either without initial connection to the Wyze server also no local connection comes up or the self hosted mode of the wz_mini_hacks prevents it...

@clee604 running a separate rtsp server for my simple use case seems unnecessarily complex. Unfortunately the releases of the rtsp-simple-server do currentl

[2022-10-13 01:14] skilau commented on #340
As I was pondering what it would take to do this in v4l2rtspserver...

I see that they have a pending PR to add support for converting the audio stream to MP3:
https://github.com/mpromonet/v4l2rtspserver/pull/247

Granted, it looks like it has been sitting there for a few months open/not merged, but this would suggest that this problem may go away in the future.

[2022-10-13 16:10] kohrar commented on #333
@gtxaspec has merged #337. Can you confirm if this is fixed by re-running the upgrade script again and close the issue if it's resolved? Thanks!

[2022-10-13 17:14] capncybo commented on #333
@KevinKadow & @kohrar I just upgraded a WYZE v3... Seems to be working perfectly now.
Thanks for the PR & for the merge Gentlemen.

[2022-10-13 18:30] Sadie33 commented on #241
Success, I've taken the plunge and used this latest method to install wz_mini_hacks on my Wyze Cam 2.

I now have wz_mini_hacks operational on 7 Wyze Cam 3 and 1 Wyze Cam 2.

Thanks You!!!

[2022-10-14 21:06] scottjl opened #343 "Stuck in a boot loop?"
v3 cam, v4.36.9.139 firmware. 16G FAT formatted card. copied over contents of SD_ROOT as instructed. Camera powers on, I can hear mechanical clicking, speaker click, 4 led's flash very quickly, whole cycle repeats endlessly.

any advice? thanks!

[2022-10-15 09:25] virmaior commented on #343
1. does the camera boot normally if the SD card is not in it?
2. make sure there's no v3_demo.bin in the root directory?
3. what are the contents of wz_mini.conf ?

[2022-10-15 13:37] scottjl commented on #343
1. yes. or if the card is in and empty
2. card is freshly formatted and empty when i copy the git files over
3. doesn't seem to matter, i've tried with stock config file, as well as my lightly edited config file. (set user and password for rtsp and enabled it).

[2022-10-15 13:48] virmaior commented on #343
1. are there any log files being generated under `/wz_mini/log` ? that might identify where things are going wrong.
2. presumably, you're not trying defaulting to USB direct or Ethernet over USB?
3. the directory structure looks like:

[code]

[2022-10-15 14:05] scottjl commented on #343
yep.. this is what is confusing me too. the card is certainly fat32. i've actually tried two different cards, the first one was 1g and i thought maybe it's just somehow too small, so i tried a 8g card. the file structure was correct, i simply did a copy from SD_ROOT with `cp -rv * /Volumes/Unititled` (I'm doing this from a mac). i edited wz_mini.conf with vim, which will respect the file format, a

[2022-10-15 17:00] endertable commented on #343
Have you ever had the hack on this cam before?
How new is this cam?
Does /wz_mini/tmp/.storage/rcS  exist?
  If it does not, create it and enter the following:

[code]

After camera reboots, check contents of SD card and see if it created the file "WTFRCS" on the root.

if the file  /wz_mini/tmp/.storage/rcS DOES exist, exit it and under the #!/bin/sh line at top add the following:

`touch /opt/IA

[2022-10-15 20:45] misterjmw opened #346 "Request: Ability to set SSID/pass in conf file"
As far as I am aware, the only need to attach a device to Wyze services is to set the SSID credentials.

Can a wz_mini add compatibility for a wpa_supplicant.conf file or similar? it would be great to not need to start up a new camera without having to communicate with Wyze at all.

[2022-10-16 00:11] Bob-AOL commented on #288
Notepad works just fine.

[2022-10-16 01:10] Bob-AOL commented on #38
Just finished this thread. Great work and amazing diligence among you guys. It's all magic to me.

Just curious if there may be any interest in reviewing #241 to possibly offer suggestions there for determining why only one of my three V2s accepted the new method of implementing wz_mini.  Our host has been pecking at it a little here and a little there, but I realize the priority level is pretty l

[2022-10-16 12:36] rca commented on #38
One quick suggestion I can make is to format your SD Card and check, double check, and triple check that you are formatting it as MSDOS.  Any other filesystem type will not work.

[2022-10-17 02:47] petermg opened #347 "No audio recording on v2"
So I complied the demo.bin for v2 as per the instructions and everything worked but the audio. I was no longer able to hear or record any audio from the camera. I was using
[4.9.9.1433](https://s3.us-west-2.amazonaws.com/download.wyzecam.com/firmware/v2/demo_4.9.9.1433.bin.zip) (September 27, 2022)
I tried this on two cameras. I didn't see anyone else mention this so I'm posted it here.
I flashed

[2022-10-17 03:01] gtxaspec commented on #347
anything past 4.9.8.1002 is not supported
you will have to downgrade to that firmware
i will update the documentation accordingly.

[2022-10-17 03:18] petermg commented on #347
Thanks! I just noticed that's the version on the script. Just finished
compiling that one and am about to flash it now 👍

On Sun, Oct 16, 2022, 8:01 PM gtxaspec ***@***.***> wrote:

[2022-10-17 03:20] petermg commented on #347
Also the URL in the script is no longer valid since they "officially" removed that version, but there is still a working link, it's here:
https://download.wyzecam.com/firmware/v2/demo_4.9.8.1002.zip

[2022-10-17 16:15] Bob-AOL commented on #38
A review of #241 includes all the details associated with the issue to date.

[2022-10-17 19:29] skilau commented on #347
@gtxaspec : Any idea what Wyze did to break it for us?

I don't use any v2's, but I am always keeping my eye out on this kind of stuff for v3, since I am highly invested now in using wz_mini_hacks for all my cameras here at home, and do not want Wyze to break things for me.

[2022-10-17 19:58] gtxaspec commented on #347
They statically compiled the liblocalsdk libraries into the binary.  We were using LD_PRELOAD to hook into the libraries.  Now we must modify the binary to make changes

[2022-10-18 05:08] virmaior commented on #343
WyzeHacks probably won't work on that recent of a firmware since
1. new default password is unknown
2. they removed telnet ?

in that case, downgrade to a lower firmware version that still has the old password. I've been using 4.36.2.5 but that's pretty old (prior to the recent handiwork of kohrar higher versions couldn't really do offline running)

[2022-10-18 12:25] rocket59 commented on #38
I upgrade my V3 camera to 4.36.9.139 and set up the hacks successfully with ENABLE_SELFHOSTED_MODE changed to true in the conf file. However when I SSHd into the camera and ran ps it did not show the patch as active. The process shown is

(iCamera) /bin/sh /opt/wz_mini/usr/bin/iCamera

(and the RTSP stream drops off after about a couple  of hours with no internet access).  Have I missed something?

[2022-10-18 12:49] scottjl commented on #343
@endertable

Nope, file doesn't exist.

@virmaior
From the main page of this project:

[2022-10-18 13:43] virmaior commented on #343
Err... WyzeHacks != wz_mini
https://github.com/HclX/wyzehacks is an older hack that worked using a different mechanism. It can't provide SSH. It enables telnet but there's no telnet on 4.36.9.139 so you would need to go to a lower version in order to see if we can learn anything about the bootloader.

[2022-10-18 16:37] virmaior commented on #346
wifi ssid is at `/configs/.wifissid`
wifi password is at `/configs/.wifipasswd`

so that means with reboot we can setup this up to be changeable. Of course if you change either to something wrong, you're probably going to lose access unless you're using USB-ethernet or direct.

[2022-10-18 23:05] rocket59 commented on #38
Well 10 hours on and it's still up. My thanks to @kohrar and @gtxaspec for the work that's gone into the hack and the self hosting mode.

I have 2 questions:
(1) I'm getting a lag of about 3 seconds (in VLC on the high res settings). Is there any way to reduce this a bit?
(2) @kohrar originally built the patch for the RTSP beta firmware. Out of curiosity I was going to try it with the beta firmwar

[2022-10-19 17:55] Bob-AOL commented on #38
Am I to understand all of this as a LAN only solution with zero integrated Wyze app functionality, or am I overlooking something obvious that also allows it to be easily implemented in a WLAN environment? And if the latter is indeed applicable, what are the methods of choice for portable access to camera locations for live aiming, maintenance, remote viewing, etc?

[2022-10-19 18:28] misterjmw commented on #346
I've tried to improve it but a previous version borked a camera for another user which gtxaspec helped them restore.
right now, it requires a reboot for any changes, but for a couple of them we can probably do it without rebooting if we pass them to cmd irled on or cmd irled off directly.

I fully understand. Regarding those settings; Here's an example of my use case:
I have a 3d printer in a shed

[2022-10-19 19:00] capncybo commented on #38
@Bob-AOL Not sure I follow where you are becoming confused but, with the default config inside wz_mini.conf...
ENABLE_SELFHOSTED_MODE="false"
-You will maintain WYZE app functionality & have Remote WAN type streaming via the WYZE app.
But there are some minor-major network issues (Depending on your network) infrastructure.

If you change...
ENABLE_SELFHOSTED_MODE="false"
Then it becomes a local IP

[2022-10-19 19:46] Bob-AOL commented on #38
Thanks for the response and clarification. I'm familiar with access to and modification of the .conf file by the various means available. I just wasn't clear about any side-effects regarding portable wireless app access to the device once the Wyze tethering had been severed -- e.g. when climbing a ladder for live positioning of a camera or just having handy app access for general viewing.

So the

[2022-10-19 22:30] jsolarin commented on #38
@Bob-AOL basically. The problem this issue solves is when you block the Wyze camera from the internet, the Wyze iCamera binary was restarting the network stack. This was interrupting the rtsp stream even on the Wyze rtsp firmware. So by patching the binary, it will no longer restart network and freeze the video stream. The side effect is losing the Wyze app management and cloud features but a smal

[2022-10-19 23:50] virmaior commented on #346
I think the ideal way to do this is if we can pre-empt the configuration file on the camera with one on the SD card. If so, then it could work with the slap it in method.  I haven't delved into the mechanics of that myself but a few of the other contributors especially the maintainer would be knowledgeable about whether that's possible.

[2022-10-20 01:41] misterjmw commented on #346
I as well am not familiar with how the Wyze internals/configs work.
That said; I am willing to test or provide information as much as possible.

[2022-10-20 04:49] rocket59 opened #357 "V3 fails to start if conf files changed, requiring mini hacks to be reinstalled."
It looks like I may be the only one with this issue.

If I edit any config file either through my desktop or directly on the camera vis SSH/nano (eg wz_mini.conf or .user_config) a restart of the camera kills everything (no RTSP or SSH access). The same happens if I make a change through the web interface and reboot from it. The only way to recover is to redo the hack from scratch. I have no idea

[2022-10-20 04:49] endertable commented on #343
If you are going to use WyzeHacks, create an Upgrade.tar file by doing the following:

`mkdir Upgrade`

In this Upgrade directory have the following:

busybox             (one that includes telnetd, can even use the wz_mini one)
upgraderun.sh   (this is the script that is called by assis for updates)
shadow              (a shadow password file with the encrypted password of your choice)

shadow (w

[2022-10-20 08:31] virmaior commented on #357
It sounds like wz_mini is not running at all on reboot.

This makes me wonder if there's something causing your card to get reformatted to ExFAT on reboot.
1. are you using the same SD card every time?
2. when you open the SD card on a computer are the files still there?
3. is the card still FAT32 formatted when you check it in a computer?

(The bootloader can only understand FAT32 but that the fu

[2022-10-20 11:35] rocket59 commented on #357
1. Yes 32gb Sandisk Ultra (nothing special about it)
2. Yes
3. Yes

A straight restart of the camera with no changes to any files doesn't cause any problems, so only when a change is made it fails to run.

[2022-10-20 11:49] virmaior commented on #357
I'm at a loss, but  I'm wondering if the SD card might be bad. It seems really weird that this would happen in this way at all since the hack works initially (you do hear the "wz_mini initializing" message and then get a reboot right?)

1. Does it write mp4 files to the card as normal?
2. can you write any sort of file to the card without it getting clobbered? as in just write something meaningles

[2022-10-20 12:13] scottjl commented on #343
sorry, but this is a bit more than i was planning on doing for this project. i had hoped there was a quick fix for my problem and there isn't.

[2022-10-20 12:13] #343 closed

[2022-10-20 13:38] rocket59 commented on #357
It seems that the card was at fault although it works fine in my pc. I swapped it out for an old samsung pro card and so far editing in SSH or using the web interface and rebooting works as it should!

[2022-10-20 13:42] #357 closed

[2022-10-20 19:01] kohrar commented on #346
I added a feature a few weeks ago that lets you set up the camera without the Wyze App or the cloud at all.  You only need to have the QR code containing your WiFi information. I've detailed how this works on my own notes at https://leo.leung.xyz/wiki/Wyze_Cam#Setup_a_Wyze_Cam_without_the_Wyze_App_or_internet.

Essentially, with a Wyze cam running wz_mini_hacks which is not already configured with

[2022-10-20 19:32] the-real-crayboy opened #360 "DNS lookups failing - resolv.conf "comment""
lines in /etc/resolv.conf are being "commented" with the interface name
eg:
[code]
which is breaking name resolution:
[code]
Removing the comments ( and waiting a minute ) fixes this.
rebooting breaks it again ( can't find the script that's doing this )

[2022-10-20 21:00] sideup66 commented on #360
nslookup in busybox is broken. Its been a long standing issue....are you running the local DNSMASQ on your camera?

[2022-10-20 23:13] the-real-crayboy commented on #360
I know what needs to be done, but am not familiar enough with this environment to neatly implement.
/usr/share/udhcpc/default.script
is creating bad resolv.conf configuration ( bad for this implementation anyway )
A fix that should last until a reboot is to copy /usr/share/udhcpc/default.script to /tmp ( unfortunately /usr/share/udhcpc/is r/o )
and make these changes:
[code]
the kill the running u

[2022-10-21 05:43] foureight84 opened #361 "Wyze V3 Firmware 4.36.0.88 wlan0 not found"
I loaded a 32GB FAT 32 SD with the content of "SD_ROOT", and inserted the SD card into the Wyze Cam V3 (firmware  4.36.0.88). I can hear the voice prompt that "WZ Mini initializing first boot. Extracting the first swap, please wait." I wait a good 15 minutes but I don't see the camera connect to WIFI and the LED light stays red.

This camera has been paired with my Wyze account once before and I p

[2022-10-21 14:41] the-real-crayboy commented on #360
[udhcpc.gz](https://github.com/gtxaspec/wz_mini_hacks/files/9840009/udhcpc.gz)
[fixedresolver.script.gz](https://github.com/gtxaspec/wz_mini_hacks/files/9840011/fixedresolver.script.gz)
Not elegant, but this fixes resolving, and survives a reboot
copy udhcpc to /opt/wz_mini/etc/rc.local.d
copy fixedresolver.script to /opt/wz_mini/f
either run  /opt/wz_mini/etc/rc.local.d/udhcpc or reboot
nslookups

[2022-10-21 16:10] kohrar commented on #361
4.36.0.88 is pretty old. That's one of the first firmware for the v3. We're now at 4.36.9.139. Can you try upgrading it to something a bit newer and see if that helps?

You can find the official versions from Wyze Lab at:
- https://support.wyze.com/hc/en-us/articles/360024852172-Release-Notes-Firmware

If you need a particular version, I have some saved in my repo:
- https://github.com/kohrar/Wyze

[2022-10-21 17:14] foureight84 commented on #361
Sweet! Thank you for that. Updated to 4.36.3.18. For some reason, the sd card method wouldn't work with demo_wcv3.bin or demo.bin.

I have the conf set DISABLE_FW_UPGRADE="true". On a curious note, it's always possible to downgrade firmware right? There hasn't been a lockdown firmware to prevent downgrades?

[2022-10-21 17:30] kohrar commented on #361
As far as I know, you should be able to downgrade using one of the older firmware files in the repo using the SD card method.

Just make sure that your SD card is FAT formatted and the firmware file is named demo_wcv3.bin. You also need to hold the SETUP button as you're powering on the camera.

[2022-10-21 17:34] foureight84 commented on #361
Thank you! I had it on FAT32... no wonder.

[2022-10-21 17:34] #361 closed

[2022-10-21 17:40] kohrar commented on #361
FAT32 should work.

It looks like there's a new firmware version out. Don't use 4.36.10.2700 as it isn't supported (yet?).

[2022-10-21 18:10] foureight84 commented on #361
Yea. I am on 4.36.3.18 since that's what was on my wyze app and it's not the latest unsupported firmware. I don't need any of the new features since I'll be using the wyze v3 with frigate. I just needed the wz mini hacks for rtsp.

[2022-10-21 23:52] baudev commented on #346
@kohrar Thanks for your work, I'll try this quickly
Your blog page is a treasure!

Which solution did you choose to disconnect your camera from Wyze servers?

I was thinking about:

- Putting a raspberry between my camera and my router and prevent any communication from the camera with the outside world
- Using iptables to filter outgoing communications (block all except RTSP). Is it enough ?

[2022-10-22 00:07] baudev commented on #286
Indeed, it is important to understand that this hack runs in parallel with the Wyze firmware.

If we activate the RTSP stream of the hack without "turning on" the camera in the Wyze application (or using `ENABLE_SELFHOST_MODE=true`), then there will be no automatic change of the IR leds. In use it is quite surprising but technically understandable.

Maybe you should close the issue since @Jonathan

[2022-10-22 00:13] #286 closed

[2022-10-22 02:21] kohrar commented on #346
That solution sounds fine to me.

I've opted to put them on my wireless network with the network gateway and DNS servers set to something invalid to effectively stop it from being able to talk to the internet. I've previously used OpenWRT on a Raspberry Pi to set up a completely separate network with a port forwarding to each camera, but I've since just placed them all on my local LAN to simplify

[2022-10-22 20:34] baudev commented on #346
Thanks for your answer @kohrar. I used iptables and it works great 🎉

To provide feedback on your isolated mode:

- it is important to follow the order of the steps explained [here](https://leo.leung.xyz/wiki/Wyze_Cam#Setup_a_Wyze_Cam_without_the_Wyze_App_or_internet)
(indeed on a camera already configured, I had a lot of problems. Maybe it should be mentioned in the README that the camera must be

[2022-10-23 13:09] Bob-AOL commented on #241
@gtxaspec -- hey Bob, I'll have an update this weekend for ya!

Any update on this?

[2022-10-24 15:48] tbrausch opened #368 "WEB_CAM_ENABLE Issues"
I tried to setup one of my V3 Wyzecams as a web camera, but after setting WEB_CAM_ENABLE to true the camera would no longer boot up.  I also tried installing the SD card from scratch with the only change being WEB_CAM_ENABLE=true and it still would not boot up.

[2022-10-24 21:04] misterjmw commented on #346
1. That's great information to have. I had decoded the QR code out of curiosity but gone no further than that.
2. It still feels like an band-aid solution. Why go through the legwork of generating a code, resetting a camera, etc. If I can drop a wpa-supplicant file on the microsd and update it and away we go.

If the above works, then the QR code is a moot point.

If I'm the only one asking, I gue

[2022-10-24 21:32] misterjmw commented on #346
I have just tested this and indeed placing the ssid in the first, and the password in the second moved the v2 to a different wifi.
Can these files be created prior to the device being setup?

I would also agree that @kohrar's wiki is fantastic. Personally it looks like adding the features noted at: https://leo.leung.xyz/wiki/Wyze_Cam#Firmware_settings to the Web UI would be the best step for remov

[2022-10-25 00:39] virmaior commented on #346
@misterjmw  we already have most of that functionality in `/cgi-bin/cam.cgi`
1. I might be missing quite a few settings though. I only have V3s so I don't know whether the code even works correctly on V2s.
2. as of right now, we can't inject it into a running Wyze camera -- we have to reboot to get our settings to go (not yet done but we should be able to (a) turn off/on the infrared without reboo

[2022-10-25 00:40] virmaior commented on #368
what do you mean by "boot up"?
If you `WEB_CAM_ENABLE` then the camera needs to be plugged into a computer with a working USB cable (supplied cable is power only) and nothing else about the camera should work at all (no ssh, no wyze app, no SD card recording, no control of IR)

[2022-10-25 12:31] tbrausch commented on #368
When I plug the camra into a USB port it does the following:
1) Initially turns on red LED
2) Red LED turns off folowed by two clicks
3) Blue LED turns on followed by two small pinging sounds
Is this the expected behavior?

[2022-10-25 14:35] tbrausch commented on #368
My bad initially - I had a bad USB cable.  Now the camera is recognized in the Windows Device Manager.  However, I have tried multiple applications and "Web Cam Test" websites and it still does not work.  The websites initially recognize and find the webcam, but they are not able to use it.  I also tried an older version of wz_mini_hacks just in case, but this did not work either.

[2022-10-25 14:47] virmaior commented on #368
unfortunately that's the limits of what I know about this particular use. We'll have to wait until someone more knowledgeable comes along for an answer.

[2022-10-25 16:58] tbrausch commented on #368
OK, thx!

[2022-10-25 17:14] gtxaspec commented on #360
i'll look into integrating this fix into the main repo

[2022-10-25 17:39] misterjmw commented on #346
Regarding the V2; There were some oddities. I changed multiple variables then rebooted several times before I saw actual changes in the rtsp stream. Can't explain it, but it occurred.

As for the parameters, the issue I noted (and a reason for opening this ticket) simply was that they were not pre-populated and I did not see documentation indicating I could do what I needed.

It wasn't until @kohr

[2022-10-25 19:50] digitalpixies commented on #58
Anyone try to redirect those ips to a self hosted we server? Assuming there's error code handling, an invalid https cert or http error response should put the Wyze into a wait-and-try-again-state. It shouldn't reboot itself nor should it try to hammer their own servers (prevent ddosing themselves when they really have a server issue)

[2022-10-25 19:54] gtxaspec commented on #241
@Bob-AOL sorry for the delay, still need to test some things before I can get you a test image.  My test setup is offline at the moment.  I haven't given up on it yet!

[2022-10-25 21:34] tbrausch commented on #58
First of all, "Thank You!".  I just saw this post and tried it on one of my cameras.  It appears to have solved ALL of the tearing issues I was having with the 1080P stream.  I am not that familiar with Linux and was hoping you could answer a quick question for me.  When I run the command:
`mount --bind /opt/hosts /etc/hosts`
it works until the camera is restarted, the mount operation apparently i

[2022-10-26 00:25] Bob-AOL commented on #241
Thanks for the encouraging response. There is certainly no shortage of cool developments on several other more relevant fronts to keep you busy as well. I understand. And now V3 Pro...

But if you're still game, I certainly am. It seems like a problem in _need_ of an answer..., just because.

[2022-10-26 02:30] maxfield-allison commented on #241
I've got some old v2's I can donate or use to assist troubleshooting

[2022-10-26 11:46] Bob-AOL commented on #241
Very generous of you.

Perhaps you could try the new method to see if it's successful on a couple? Otherwise I'd be interested in a couple just to double check my method(s) if nothing else. I flashed my first one with no problems. The second two are not recognizing wz-mini from the same SD card that works perfectly in the first V2.

There are three distinctively different hardware platforms among

[2022-10-26 15:44] #187 closed

[2022-10-27 06:29] sandstormkeshav opened #371 "High CPU usage in self hosted mode"
When running the v3 in self hosted mode, I see iCamera.patched using 93% of the CPU. When I was not in self hosted mode, it was about 30%. Is there a reason for the greater usage or is this a bug?

[2022-10-27 07:04] baudev commented on #371
Same problem on my V3 cam with this mode

[2022-10-27 16:13] kohrar commented on #371
Yes, I notice this issue too. I haven't been able to quite work the cause, but I suspect my no-ops are causing one of the threads in iCamera to go into a tight loop until something times out.

The CPU usage does seem to taper down after a few minutes past the initial boot phase and it becomes stable after that. Does it for you?

[2022-10-27 21:42] sandstormkeshav commented on #371
Even after about 15 minutes of uptime I am still seeing about 90% CPU usage

[2022-10-27 22:25] baudev commented on #371
Yes, 20 minutes after I've 33%!
Seems widely acceptable, thanks

[2022-10-27 22:38] sandstormkeshav opened #375 "Blue Iris RTSP streams Jitter"
I am running the V3 through ethernet but am experiencing frame drops when trying to record through Blue Iris. It works consistently for a few seconds but then the fps goes from 20 -> 5. This does not occur with the sub stream. I have ran iperf between the camera and the server and have confirmed than bandwidth is not the issue.
Streams seem to playback fine with VLC but wanted to ask if anyone els

[2022-10-27 22:52] kohrar commented on #371
Thanks for the reports @sandstormkeshav and @baudev.  That seems to be in line with what I'm experiencing too.

I'll see what I can do about the iCamera patch to address this when I have some free time.

[2022-10-28 05:52] virmaior commented on #346
@misterjmw
I guess the top thing (at least from perspective) that I'd like figured out is if we can mount our own config file from the SD card so that the camera only sees that one.

If so, I could much more easily test messing with the camera's config from the web interface. Right now, I'm wary to do things that edit those settings because I'm worried about bricking my V3s (though gtxaspec was ab

[2022-10-28 14:33] misterjmw commented on #346
I am curious how the brick occurred, though that curiosity is 100% tangential.

I have a spare v3. but I do not know enough about the hack itself to (probably) be useful. e.g. can we copy the original to the sdcard, then symlink from the original path to the sdcard on boot?

Happy to help if I can.

[2022-10-29 17:51] sheilnaik commented on #172
@skilau Can you confirm how you got the kernel updated with the file @gtxaspec attached? I am having the same issue. The slower USB speed with the patched kernel isn't a big deal as I just need to be able to turn the light on and off.

[2022-10-29 21:50] endertable commented on #172
You should be able to extract the bin from kernel-t31.bin.gz, then replace the 'factory_t31_ZMC6tiIDQN' on the root of the SD card with it.

[2022-10-30 04:39] virmaior commented on #346
off to a good start building on https://github.com/gtxaspec/wz_mini_hacks/discussions/374

am thinking if we use `/opt/wz_mini/slapin` we could have it mount
1. configuration file (`/configs/.parameters` in v2 / `/configs/.user_config` in v3).
2. `wifissid`
3. `wifipassword`

This would make it a lot easier to no-install slap-in and never have to configure anything.

My initial test works (was abl

[2022-11-01 16:58] ragenhe opened #380 "Multiple networks in AllowedIPs"
Normally on the client side config you can specify multiple networks with a comma in between....

i.e.  10.1.2.3/24, 192.168.1.2/24

I have attempted the same with AllowedIPs and it doesn't work with the comma between them.

Are multiple networks allowed in the wz_mini_hacks wireguard? If yes, how should it be formatted?

[2022-11-02 14:29] ragenhe commented on #380
I experimented with a couple possible solutions.
The one that  works is editing the wz_mini.conf and using single quotes around the comma separated list, instead of double quotes.

[2022-11-02 20:34] ragenhe commented on #380
So the above workaround does allow WG to start, it appears that the route add command doesn't like the IPs in list form.

What are the chances we can add wg-quick to the OS/SDCard?

[2022-11-02 23:08] cirrusflyer commented on #187
I upgraded to 4.36.10.2864 thinking this was no longer an issue.  My bad.  I can still SSH to the cameras, but not feed.  What's the recommended solution?  Just rollback?

[2022-11-04 21:01] foureight84 commented on #361
This is quite strange. I am currently on 4.36.3.19 and which was updated using the Wyze App. The newer firmware does not show up on the app and it thinks this is the latest version. I assume it's because it's on a fetch cycle.

I went back trying to update the firmware manually to 4.36.9.139, which is the latest that's still compatible with the wz_mini_hacks. However, no matter how many times I bo

[2022-11-04 21:11] kohrar commented on #361
Could you try doing smaller version jumps with your upgrades? Maybe try upgrading from 4.36.3.19 to 4.36.6.17 and see if that works.

[2022-11-04 21:22] foureight84 commented on #361
I've just tried that as well. Still the same issue. I'm seeing reports from several people on Reddit and Wyze forums that it doesn't seem to like certain SD Card brands. Though I've tried Sandisk, Samsung, PNY, and now generic.

[2022-11-04 22:53] foureight84 commented on #361
It looks like they recommend class 10 sd cards which is the specs on their branded sd cards. Apparently, I don't have any class 10 sd cards on hand funny enough. I bought some and should arrive tomorrow. If that doesn't work, I will go as far as buying one of their branded sd card to try.

[2022-11-05 02:17] glessa1 opened #385 "Add Basic Auth to wz_mini_hacks Web Server portal"
Add Basic Auth to wz_mini_hacks Web Server portal

[2022-11-05 02:20] glessa1 commented on #385
I have it implemented in my clone. I can share the updates if you'd like to see them.

[2022-11-06 09:20] virmaior commented on #385
can you do it a fork and put in a pull request?

[2022-11-06 20:34] glessa1 commented on #385
@virmaior
Done :)

[2022-11-06 23:28] foureight84 commented on #361
The Class 10 SD cards work. I guess that's a requirement as well for flashing. 32GB or less, FAT32, Class 10.

[2022-11-06 23:57] virmaior commented on #385
nice!
I didn't know the httpd implementation we have from busybox could even support basic auth.

[2022-11-07 18:02] ragenhe opened #392 "Work with V3 attached to flood light"
It appears that running wmh on a V3 that has the flood light setup (accessory) will prevent the accessory from working correctly.

I don't care if wmh cannot manage the accessory, but it would be nice if it wouldn't block the accessory from working, if at all possible.

[2022-11-08 21:07] maxfield-allison opened #397 "v3 pro support?"
any chance we'll see v3 pro support?

[2022-11-08 21:58] DAMAGEDatheCORE commented on #397
This isn't an issue. Head to the discussion tab to read posts about the investigatory work already going on with the v3 Pro.

[2022-11-08 22:43] baudev commented on #397
See https://github.com/gtxaspec/wz_mini_hacks/discussions/366

[2022-11-08 23:54] maxfield-allison commented on #397
forgot discussions existed, sorry

[2022-11-08 23:54] #397 closed

[2022-11-09 11:27] foureight84 opened #398 "RTSP can't lower fps"
I have the following settings for RTSP:

[code]

When I view both live streams in VLC and inspect the media info, I notice that both streams show 20fps when the lower res is set to 10fps. Shouldn't the low res stream get capped at 10fps?

[2022-11-09 19:15] foureight84 commented on #398
It looks like low-res fps and hi-res fps are tied together. I updated the hi res to use 30fps  and kept low res at 10fps but vlc stream info shows that the low res is now at 30fps as well.

[2022-11-13 02:16] orizzle opened #401 "cameras rebooting"
I don't think this is specific to wz_mini but in general I have a problem with my v3 cameras rebooting and have yet to find a good fix. I log into my cameras via ssh to check uptime and see that some reboot daily, others reboot every few days.  In a 24 hour period, some cameras will capture the full 24 hours of footage but on bad days, some only seem to capture about 23 1/2 hours. I thought about

[2022-11-13 03:07] endertable commented on #401
There is a glitch with Wyze FW that only records 23 hours. I believe some cameras miss the first hour of the day?!?

As far as the rebooting, do you have the cron set up to reboot daily on some of the cameras?  Otherwise the only other real reason can see is that they have network/internet problems, so they reboot.  Do the ones that reboot daily have the same uptime or are they varied greatly?

[2022-11-13 18:36] orizzle commented on #401
It's not exactly 23 hours. Sometimes it's like 23:30 or 23:45.

no cron jobs to reboot daily. here are some of my cameras and their last boot time, as you can see there is a lot of variability. can i stop them from rebooting for network issues, to rule that out?

 Sun Nov 13 12:40:55 EST 2022
  Sun Nov 13 13:04:34 EST 2022
     Sat Nov 12 23:39:24 EST 2022
      Mon Nov  7 14:35:45 EST 2022

[2022-11-14 11:46] virmaior commented on #401
@orizzle
1. what version of the firmware are you using?
2. are the cameras connected to the internet?

[2022-11-14 12:54] orizzle commented on #401
4.36.9.139 is what's reported in the app. Although I did have a lower version installed before. After applying wz mini hacks, it started reporting the new version

One camera did seem to update itself automatically to 4.36.10.2700 but the hack is still working

Everything is connected to the Internet

[2022-11-16 05:49] virmaior commented on #401
major parts of the hack don't work on that version.
What are you using the hack for?

One thing I noticed is that if I created a high load situation the camera would reboot on its own.

any chance of wifi router issues at those specific times?

[2022-11-16 11:33] orizzle commented on #401
I don't see any difference in uptime with the 2700 vs 139. Using the hack mainly to sync videos with my Nas. I wrote a script that runs every 15 minutes to copy videos over the network. Doing it this way instead of writing directly to the Nas in case of outage, I'll have the videos on the sdcard as a backup.  Not sure if copying would give me a high enough load to reboot.

As far as wifi issues, I

[2022-11-16 13:17] virmaior commented on #401
ahh, many people want to use this for RTSP or other uses. That all breaks with 4.36.10.2700.

I don't think that causes a high load (I actually have a cron moving video from SD to RPi).

What might be happening is that for both 4.35.9 and 4.36.10 unless you set it to run without connecting to wyze, then the camera will start rebooting if it loses connection to the internet. If the wifi were dying,

[2022-11-16 20:58] orizzle commented on #401
Any way to keep events working with self hosted?

[2022-11-17 00:48] virmaior commented on #401
I don't know because I don't use events...

At this point, I don't know what you can do other than troubleshoot it. If it were me, I would start by checking the camera logs to see if something specific is happening at the reboot times. Since you do have a NAS system in place, you could also try to use that to pinpoint the timing.

[2022-11-17 23:03] TimDowker commented on #401
Having the same issue.  Not sure what's happening.  Running 4.36.9.139 firmware.  When I run a ping on it - it will come up for about 7/8 responses then back offline again.

[2022-11-18 19:39] orizzle commented on #401
I found log and rebootlog directories but the log files are not text, perhaps encrypted somehow? Are there logs elsewhere?

[2022-11-19 00:00] virmaior commented on #401
try `/wz_mini/bin/gather_wz_logs.sh`

[2022-11-20 22:49] thurinus commented on #343
I experienced this exact symptom, and managed to work around it by doing the formatting and copying of the SD_ROOT files on my MacBook instead of my Windows machine. Am not sure what the underlying cause is... does BSD somehow copy files differently?

This isn't a proper solution, but figured I'd leave a paper trail for anyone who stumbled on this thread trying to debug the same problem. Maybe som

[2022-11-22 22:43] orizzle opened #404 "Hooking motion detection?"
Contemplating putting my cameras into self hosting mode. Is there a way to hook motion detection so that I can know which frames have motion?

[2022-11-25 13:43] #404 closed

[2022-11-25 16:09] capncybo opened #407 "Did firmware 4.36.10.2864 (break/stop/prevent) most future development of wz_mini_hacks"
@gtxaspec (Hope you are doing okay?)
I've noticed "most" of the  wz_mini_hacks development seems to have stagnated.
Is that because when WYZE released firmware 4.36.10.2864 (November 2, 2022)...
It's essentially broken the primary (RTSP) streaming functionality, moving forward?
I've noticed it seems to be a bit more work to roll-back firmware _(See in BOLD below_)
But I'm somewhat perplexed by the

[2022-11-25 18:27] sideup66 commented on #407
Actually yeah, as it sits, the new firmware update effectively breaks ANY RTSP functionality we had. Im suspecting the way forward is possibly a patched version of the icamera bin file, maybe retrofitting it with an older version for usability of rtsp functions.... However im not sure if some of the other proposed fixes exist. Some of the network changes could be handy to possibly deprecate some f

[2022-11-27 02:12] juichi opened #408 "Feature request: Support for Realtek 8153 gigabit ethernet driver"
Hi, thank you for the time and this project.  I recently purchased the "Cable Matters Micro USB to Ethernet Adapter Up to 480Mbps for Streaming Sticks Including Chromecast, Google Home Mini and More - Not Compatible with Roku Device" (https://www.amazon.com/dp/B07N2ZHFY9) to bring ethernet to my wyze cam.  I knew I was rolling the dice but at the time it was cheaper than the uctronics adapter.   A

[2022-11-27 14:55] tbrausch commented on #324
It would be great if the wyze_mini_hacks RTSP worked on Version 4.61.0.1 (RTSP Beta).  I would like to use the Wyze RTSP for 1080P and the wyze_mini_hacks RTSP for 360P (because the wyze_mini_hacks RTSP exhibits a lot of tearing and smearing in the 1080P stream)

[2022-11-28 06:36] MomosX commented on #324
I also tried to lower the FPS on the RTSP stream to anything below 20.  It does not work.  Using only the high res stream, but tried also in dual stream configuration.

Any solution to this please ?

[2022-11-28 16:02] virmaior commented on #407
I'm actually still back on 4.36.2.5.
I've got a pull request in for some web improvements but gtxaspec hasn't moved on it.
In general, the current system is working for me and my use case ... but I've got one camera (the one I usually test new things on) which lost all of its /configs directory at some point after I upgraded to the Oct 13 wz_mini code.  It also apparently just happened last night

[2022-11-28 17:37] endertable commented on #407
Yep , the current release is pretty stable so no real reason to keep doing nuance updates that can possibly break something else.  Take vimaior's issue above concerning his /configs directory.  That's challenging to troubleshoot especially if an isolated incident.

Then there's the necessary questions for other any issues that come up: What FW are you on, what version of wyze_hacks_mini, any custo

[2022-11-28 17:45] capncybo commented on #407
@virmaior re: the camera update you received last night... Yikes that is somewhat UN-nerving.
Especially considering it may have put one(or more) of these cameras into a non-functioning state.
I'd really just like to hear #1) that @gtxaspec is actually still alive & OK.
But also #2) if this project has been shutdown via C&D or if @gtxaspec has simply decided to cease future development.
I've notic

[2022-11-30 02:13] skilau commented on #407
@gtxaspec has responded to threads here and there, but yeah, no idea if he is taking a break, or is working through the possible ways around Wyze's changes.

I know for myself, I am sticking pat for now.

3 of my cameras are all mounted outside, it is winter, and I live in Minnesota.
I have no plans to change anything with them for awhile, as there is no way I want to be climbing around on a ladde

[2022-11-30 02:22] DAMAGEDatheCORE commented on #407
Sticking pat? 🤔

Tbh, if I were gtxaspec, I'd take a well-deserved break before diving into
trying to find workarounds for the latest firmwares.

On Tue, Nov 29, 2022, 9:13 p.m. skilau ***@***.***> wrote: