[2022-06-22 03:12] shamlord commented on #116
I don't believe my issue was caused by the difference between the older and newer hack revisions. I'm not certain, but I believe I was running the May 25th or May 27th version of wz_mini on the cameras before the update. All are on the same Wyze firmware version. Before running the update script, I did manually replace the `wz_mini.conf` files on each camera with the most recent version on Github

[2022-06-22 15:21] gtxaspec commented on #88
good news! I have new wifi drivers for rtl8189ftv working on V2, v3, and the atbm603x chipsets, all working with connection tracking now... some more testing and then we can give this a whirl

[2022-06-23 06:09] gtxaspec commented on #88
the https://github.com/gtxaspec/wz_mini_hacks/tree/wz_mini_wifi branch has full support for iptables/conntrack/etc.

make sure not to disable the new drivers in the config, otherwise the kernel will crash on boot with the old drivers.

[2022-06-23 06:24] gtxaspec commented on #100
this branch https://github.com/gtxaspec/wz_mini_hacks/tree/wz_mini_wifi includes new drivers for both the rtl8189FTV and the atbm6032i, so it should work across all camera models.

feel free to test, I will roll this into the master branch soon.  both drivers perform much better than the stock drivers, as well as the older 8189fs I was using.

[2022-06-23 07:17] gtxaspec commented on #116
fixed in https://github.com/gtxaspec/wz_mini_hacks/commit/cf02d1aeb96fafde1b19d5eb25a22b705e536df5

thanks for the logs!

[2022-06-23 07:17] #116 closed

[2022-06-23 07:19] gtxaspec commented on #12
feature release in https://github.com/gtxaspec/wz_mini_hacks/commit/81df1b22bbcd1adea0605c03fbb7b74d1a646fea should satisfy this!

[2022-06-23 07:19] #12 closed

[2022-06-23 14:55] gtxaspec commented on #100
this branch has newer drivers than master at the moment.

yes, stock driver is the original factory driver.

[2022-06-23 15:11] gtxaspec commented on #100
already planned 😁

[2022-06-23 20:28] capncybo commented on #100
Ahhh cr@p!!!
I can't "easily" play with this new branch remotely from work.
I'm probably going to have to do some real work instead... Dammit ;-)

[2022-06-23 23:22] juanboro opened #123 "Support Entware?"
Hi,
I'm not 100% sure if the kernel arch supports it ... but is it possible to support [Entware](https://github.com/Entware/Entware/wiki ) packages?

This would make features like #99 easy to handle (openssh sftp server in entware works well w/ dropbear ssh).

[2022-06-23 23:50] gtxaspec commented on #123
probably not until we get overlayfs working properly

[2022-06-24 04:16] archandanime opened #124 "Kernel compliation for overlayfs testing"
I'm ready to apply the [overlayfs patch](https://github.com/adilinden-oss/overlayfs-patches/blob/master/overlayfs.v18-3.10-rc7.patch), I also complied T31 kernel from [mnakada's repo](https://github.com/mnakada/atomcam_tools) after replacing mnakada's built-in init by your v3_init. Was that all I need to do to make the v3 cam boot successfully?
I ask in case there are some missing steps.
Thank you

[2022-06-24 04:17] gtxaspec commented on #124
yes, use the t31 kernel config from my repo, modify the init script in `src/initramfs_skeleton/init` and then `make linux-rebuild`

I have a sample init that I was testing if you want it too.

[2022-06-24 04:19] archandanime commented on #124
yes, I also replaced the kernel.config, I forgot to tell, sorry about that.
I would love to see your init file.

[2022-06-24 04:21] gtxaspec commented on #124
[code]
its old, so rename the scripts accordingly.

[2022-06-24 04:22] gtxaspec commented on #124
no, the kernel command line is not the same as the stock.  It specifies the initramfs.

[2022-06-24 04:24] archandanime commented on #124
ummm do you have a file where you wrote down the commandline?

[2022-06-24 04:25] gtxaspec commented on #124
its in the .config in the wz_mini repo under src

[2022-06-24 04:27] archandanime commented on #124
I get it now, it's already there :), replace the kernel.config and it's done

[2022-06-24 04:34] archandanime commented on #124
@gtxaspec the factory_t31_ZMC6tiIDQN kernel is loaded by uboot instead of being written to the device so there's no risk bricking it, right? I just want to make sure, again

[2022-06-24 04:37] gtxaspec commented on #124
right, the camera is impossible to brick, unless you mess with u-boot, `/dev/mtd1`

if any other partition gets damaged, just flash demo-wcv3.bin and everything is back to stock.

[2022-06-24 05:48] archandanime commented on #124
Procedure:
1. Replace initramfs-skeleton/init by init_overlay (the one you sent above)
2. Replace kernel.config
3. run "sudo make" at atomcam_tools
[code]
4. scp the factory_t31_ZMC6tiIDQN to /media/mmc/
Result: The device fails to boot, I ssh'ed to router(it runs Openwrt), the camera is not connected to the router.
I'm not at home to check if the status light is on or what's inside the SD card

[2022-06-24 05:52] gtxaspec commented on #124
did you change the script names in the init? they changed, its not v3_init anymore, wz_init.sh

[2022-06-24 05:56] archandanime commented on #124
the built-in init? - Yes
oh the line:
[code]
I didn't change it to wz_init.sh

[2022-06-24 06:49] archandanime opened #127 "Add wiki page"
I think it's a good idea make to wiki pages so it's easier to read and the README.md won't be too long.
It's easier to add more contents too.

[2022-06-24 08:26] archandanime commented on #124
@gtxaspec the camera still doesn't boot.
I changed
[code]
then complied the kernel but it didn't boot.
I also tried using the old kernel-built-in init but it still doesn't boot

[2022-06-24 08:28] gtxaspec commented on #124
how are you recompiling? did you `docker exec` into the docker instance?

[2022-06-24 08:29] archandanime commented on #124
I ran sudo `docker-compose exec builder bash` then `make linux-rebuild`

[2022-06-24 08:31] gtxaspec commented on #124
ok that works too.  I use `docker exec -it <id> /bin/bash`  Did put the wz_mini kernel config in `/src/kernel.config` ?

[2022-06-24 08:32] gtxaspec commented on #124
this is the latest stock init:

[code]
try using that one just to make sure you can compile a working kernel

[2022-06-24 08:38] archandanime commented on #124
I tried the code above to initramfs-skeleton/init, it still doesn't boot.
there's only the LED red above the cam

[2022-06-24 08:54] archandanime commented on #124
I think I can make serial connection to the camera, I'll solder and give you the bootlog

[2022-06-24 12:36] tavicu opened #128 "Issues after running update-run.sh"
Hi,

It was the new release and I tried updating the cameras with `update-run.sh`.
I don't know why but after `Rebooting into UPGRADE MODE` the cameras are indeed rebooting but I don't hear any sound of `Upgrade mode` that I hear before.

Once the camera boots it works in the wyze app but wz_mini looks like it was not loaded because I can't connect to ssh and also the RTSP feeds are down.
Then I t

[2022-06-24 12:38] tavicu commented on #128
Here is the update log:
[code]

[2022-06-24 12:41] archandanime commented on #124
I got the log!
these are last lines of the log
[code]
full log is [here](https://github.com/archandanime/Log-files/blob/main/2022-06-24_wz_mini_boot_01.log)

[2022-06-24 12:48] tavicu commented on #128
I can see in the logs that those lines are duplicated: Maybe the script is run multiple times?

[code]

[2022-06-24 15:47] archandanime commented on #128
Sorry about inconvenience, the file has been modified recently without testing.

it wasn't run multiple times but was because the script ran itself again...
[code]
I think gtxaspec will make releases soon so people won't put experimental code into their devices

[2022-06-24 16:18] archandanime commented on #124
I tried compiling the kernel so many times without success.
always stuck at
[code]
how exactly did you compile your kernel, please? I think I'm not doing it the right way, what I do:
[code]
then I copy the uImage.lzma to SD card and rename to factory_t31_ZMC6tiIDQN
I don't know if I'm doing wrong :(
maybe you want to try compiling it and send me so we can test it out

[2022-06-24 16:47] gtxaspec commented on #128
the duplicate messages are a result of the file descriptor nor being closed properly I believe, its a bug.  I did some testing before releasing, In my testing I had no issues but obviously something may have been missed :o:

I'll double check today

[2022-06-24 16:48] archandanime commented on #124
it's at `CONFIG_INITRAMFS_SOURCE="/openmiko/build/buildroot-2016.02/output/images/initramfs.cpio"`

[2022-06-24 16:59] archandanime commented on #124
it's 644, let's see if it work with 755

[2022-06-24 17:03] archandanime commented on #124
it works!!!!!!!!

[2022-06-24 17:04] gtxaspec commented on #124
=D

[2022-06-24 17:08] archandanime commented on #124
wait, I think the init works but I have kernel panic here

[2022-06-24 17:11] gtxaspec commented on #124
in the kernel, disable netfilter and try again

[2022-06-24 17:12] archandanime commented on #124
changed to `CONFIG_NETFILTER=n`, compiling again

[2022-06-24 17:22] gtxaspec commented on #124
you can also use `make linux-menuconfig` to bring up the standard Linux menu config

[2022-06-24 17:29] gtxaspec commented on #124
there may be a typo in the .config file? or formatting error?

[2022-06-24 17:34] gtxaspec commented on #124
does /openmiko/build/buildroot-2016.02/output/images/initramfs.cpio exist?

[2022-06-24 17:35] archandanime commented on #124
wait, is `CONFIG_NETFILTER=n` correct? or I should leave `CONFIG_NETFILTER=`?
 /openmiko/build/buildroot-2016.02/output/images/initramfs.cpio doesn't exist

[2022-06-24 17:35] gtxaspec commented on #124
just comment the line out,don't set to n

[2022-06-24 17:41] archandanime commented on #124
[code]
it's compiling

[2022-06-24 17:45] archandanime commented on #124
[code]
that trick didn't help

[2022-06-24 17:48] gtxaspec commented on #124
if you leave netfilter, do you get that error still?

[2022-06-24 17:51] archandanime commented on #124
yes, my the issue on my computer

[2022-06-24 18:03] gtxaspec commented on #128
Looks like this is an issue with the new upgrade script, upgrading from the old one.   it doesn't affect new installs, just upgrades that contain the old script.  the fix is to install the upgrade script before upgrading.  I'll have to figure out how to avoid this situation in the future.

[2022-06-24 18:09] capncybo commented on #100
Testing & so far I AGREE... " both drivers perform much better than the stock drivers, as well as the older 8189fs"
Noticing improved performance, thx.

[2022-06-24 18:14] gtxaspec commented on #124
hmm... ok try disabling the new wifi drivers in wz_mini.conf

[2022-06-24 18:20] gtxaspec commented on #124
i updated https://github.com/gtxaspec/wz_mini_hacks/blob/master/src/kernel/t31-config.conf

if you use that config, add the overlay, and it should work with the new wifi drivers (i think)

[2022-06-24 18:20] gtxaspec commented on #128
fixed in latest release.

[2022-06-24 18:24] archandanime commented on #124
it's my computer acting weird. I'll try it as soon as the compiler works again

[2022-06-24 18:29] archandanime commented on #124
and thank you!

[2022-06-24 18:30] gtxaspec commented on #124
no worries! knowledge for all! =D

[2022-06-24 18:49] archandanime commented on #124
@gtxaspec
with t3-config.conf as init
[code]

[2022-06-24 18:59] gtxaspec commented on #124
the initramfs file is the atomcam_tools version, you may have to replace it again

[2022-06-25 00:41] gtxaspec commented on #100
available now in current release

[2022-06-25 00:41] #100 closed

[2022-06-25 00:41] gtxaspec commented on #88
available now in current release

[2022-06-25 00:41] #88 closed

[2022-06-25 00:43] gtxaspec opened #129 "Enable libcallback by default, all features disabled."
Enable libcallback on by default, so rtsp server is not required for libcallback features.

[2022-06-25 00:44] gtxaspec opened #130 "increase watch time on impdbg"
Stop running impdbg so often, parse info from `/dev/shm/imp_deubg_shm` instead

[2022-06-25 01:12] gtxaspec opened #131 "add fail_over_mac options for bonding"
per https://www.kernel.org/doc/Documentation/networking/bonding.txt

[code]

[2022-06-25 01:32] gtxaspec commented on #130
not feasable, `/dev/shm/imp_deubg_shm` is only updated after impdbg is run.

consider increasing check from 30 to 60 seconds

[2022-06-25 04:56] gtxaspec commented on #124
you also may want to delete the docker image completely and start over

[2022-06-25 05:06] archandanime commented on #124
I think it should work now.
the `src/buildscripts/make_initramfs.sh` generates `initramfs.cpio` at `/atomtools/build/buildroot-2016.02/output/images`
but the `make` command looks for it at `/openmiko/build/buildroot-2016.02/output/images/` so I made the `/openmiko/build/buildroot-2016.02/output/images/` and copied the `initramfs.cpio` to there. Then the compilation succeeded. Its size is 2168078 b

[2022-06-25 05:36] gtxaspec opened #133 "add function to libcallback to stop motor controls on panv2"
find the function, hook it to stop motor init.

[2022-06-25 05:37] gtxaspec commented on #133
`local_sdk_motor_init`

[2022-06-25 08:03] gtxaspec commented on #71
@mwhdc, If you can, try flashing the latest release on the PanV1.  See if it boots.  If it doesn't, can you see if there is anything in the `/opt/wz_mini/log/` directory?

thanks!

[2022-06-25 12:04] archandanime commented on #124
it worked
the initramfs init was executed
[code]
but it ended up with kernel panic, I think it failed to switch to new root
[log file](https://github.com/archandanime/Log-files/blob/main/2022-06-25_wyze-v3_boot01.log)

[2022-06-25 13:30] archandanime commented on #124
kernel with Overlayfs init
[log file](https://github.com/archandanime/Log-files/blob/main/2022-06-25_wyze-v3_boot02.log)
[code]
I thought you commented it on purpose

[2022-06-25 13:35] archandanime commented on #124
kernel with Overlayfs init, this time #fi is uncommented
[log file](https://github.com/archandanime/Log-files/blob/main/2022-06-25_wyze-v3_boot03.log)
[code]

[2022-06-25 13:52] archandanime commented on #124
I think the Overlayfs is not in the kernel, though `CONFIG_OVERLAYFS_FS=y`

[2022-06-25 16:47] endertable commented on #133
Hi @gtxaspec Forgive my ignorance, just asking because I am confused, but why exactly would one want to stop motor controls on a PTZ (minus the Z)?  Since you are working on it I know there would be a specific reason, I just can't think of it.

[2022-06-25 16:54] gtxaspec commented on #124
did you disable the new wifi drivers?

[2022-06-25 16:57] gtxaspec commented on #133
it was a request
https://github.com/gtxaspec/wz_mini_hacks/discussions/132

[2022-06-25 17:00] archandanime commented on #124
how do I... do it? I looked for `8189` in kernel.config but I couldn't find

[2022-06-25 17:03] gtxaspec commented on #124
in wz_mini.conf

[2022-06-25 17:07] archandanime commented on #124
it's still stuck at kernel panic after I changed to `ENABLE_RTL8189FS_DRIVER="false"`

[2022-06-25 17:16] gtxaspec commented on #124
you disabled netfilter? that's the cause of the crash

[2022-06-25 17:18] archandanime commented on #124
yes, I left it empty `CONFIG_NETFILTER=`

[2022-06-25 17:30] gtxaspec commented on #124
comment it out ##

[2022-06-25 17:35] archandanime commented on #124
I commented it, still kernel panic

[2022-06-25 19:55] gtxaspec commented on #124
in wz mini conf, enable debug mode

[2022-06-25 22:50] mwhdc commented on #71
Pan v1 doesn't seem to recognize the latest demo.bin as a flashable file. It ignores the reset button and does a standard boot. I'll try adding your v2_kernel to the latest stock Pan demo.bin (vs the v2's) in case there's a difference.

[2022-06-25 23:27] tensiondriven commented on #119
I've been pining for a web interface to change settings as well.  I don't know much about `atomcam_tools`, and if we'd be reinventing too much by trying to replicate some of the features, but I was imagining an (optional?) process in wz_mini_hacks that would run a basic web server with a single page that would read in the config file, present a form to the user with current values, and allow updat

[2022-06-26 02:17] archandanime commented on #124
it drops me a shell but I can't enter commands
[code]

[2022-06-26 02:20] gtxaspec commented on #124
via serial right? really weird, should work.  does it work with the stock wz mini kernel?

[2022-06-26 02:24] archandanime commented on #124
yes via serial
and it doesn't work with stock wz mini kernel
I'm buying new a new UART adapter now

[2022-06-26 02:37] gtxaspec commented on #124
ah i see, maybe that will fix it

[2022-06-26 03:53] archandanime commented on #124
I bought a new PL2303 and a CP2102
the CP2102 doesn't seem to work
the new PL2303 works, it does give me boot output but I still can't type commands. Unlike the old one, this one when I connect Tx to Rx(on the adapter), it gives me exactly what I type.

[2022-06-26 03:57] archandanime commented on #124
I think it's communication issue, I'm figuring it out

[2022-06-26 04:11] gtxaspec commented on #124
do you have a raspberry pi? that can be used too.

[2022-06-26 04:15] archandanime commented on #124
yes... I have a raspberry pi 4b as NAS, I have not used the GPIO before
let me try if the PL2303 works with the raspberry

[2022-06-26 04:23] archandanime commented on #124
the PL2303 doesn't work with raspberry pi, there is boot log but I can't input command, it's the same issue as on my computer.
I notice that the Tx LED(it blinks if I type something without connecting to the camera) is always ON! it's very bright as if it's connected to Vcc

[2022-06-26 04:26] archandanime commented on #124
it's not Vcc, I just connected a LED between Rx and Gnd on the camera, no light on

[2022-06-26 04:30] archandanime commented on #124
https://github.com/archandanime/Log-files/blob/main/IMG_20220626_112745.jpg

[2022-06-26 04:38] gtxaspec commented on #124
the camera is 3.3v, is your serial adapter 3.3v also? i think that would make a difference

[2022-06-26 04:53] archandanime commented on #124
I don't connect the 3.3v, there are only 3 pin headers on the circuit board

[2022-06-26 04:57] gtxaspec commented on #124
here are the terminal specs in case you need them:

[code]

[2022-06-26 05:12] archandanime commented on #124
on my computer only /dev/ttyUSB0 works, I did with same parameters as the above

[2022-06-26 06:57] gtxaspec commented on #124
any luck?

[2022-06-26 07:37] archandanime commented on #124
I also tried PuTTY on Windows, same settings, still boot log can still be read but I can't input commands
There's a suggestion on the internet to disable Hardware flow control, I did it but it didn't work

[2022-06-26 08:26] gtxaspec commented on #124
try to enable initramfs debug mode in wz_mini.conf, see if you can type there.

[2022-06-26 08:32] archandanime commented on #124
it dropped me a shell
[code]
but I can't type

[2022-06-26 08:33] archandanime commented on #124
let me try changing UART-TTL voltage to 3.3v

[2022-06-26 10:10] archandanime commented on #124
I can type commands now!
from the corner to middle of the PCB it's Gnd Tx Rx

[2022-06-26 10:17] archandanime commented on #124
I found the /dev/mtdblock2 isn't present
[code]

[2022-06-26 10:22] archandanime commented on #124
I'll try mounting and switch_root and see what happens

[2022-06-26 14:20] archandanime commented on #124
this's what happened
[code]

[2022-06-26 15:40] archandanime commented on #124
it failed to switch_root because switch_root must be run as PID 1(as init). In the init file `/bin/sh` spawns a new process with another PID different from 1, hence `PID must be 1.`
I think debug mode should run `exec /bin/sh` instead of `/bin/sh` so users can switch_root if they want to

[2022-06-26 15:48] archandanime commented on #124
I changed init from
[code]
to
[code]
it dropped me a shell(/bin/sh)
I typed
[code]
it booted to Wyze stock!

[2022-06-26 15:58] gtxaspec commented on #124
great idea

[2022-06-26 16:24] archandanime commented on #124
more issues... it still has kernel panic with wz_mini.sh init!
with
[code]
it dropped me `/bin/sh`
I switch_root, it dropped a login prompt
I logged on with `root` and `WYom20200`, it gave me a shell `[root@WCV3:~]#`
I don't know what to do next

[2022-06-26 16:31] archandanime commented on #124
nevermind, update wz_mini directory to lastest makes it work!!!!!

[2022-06-26 16:39] gtxaspec commented on #124
it's loading the new driver, disable both wifi drivers in wzmini conf

[2022-06-26 16:40] gtxaspec commented on #124
I'm debug mode, once you are at the shell to start everything, run /system/init/app_init.sh

[2022-06-26 16:42] archandanime commented on #124
I disabled 2 drivers
[code]
now the camera is on! ^-^

[2022-06-26 16:44] archandanime commented on #124
thank you so so much!

[2022-06-26 16:48] tavicu commented on #128
Awesome. Still have 2 cameras which I didn't update. I will try it today :)

[2022-06-26 17:11] archandanime commented on #124
it still doesn't have overlayfs though `CONFIG_OVERLAYFS_FS=y` :((

[2022-06-26 17:12] gtxaspec commented on #124
you can't mount a test setup with overlayfs? manually? like as in not from init, in the booted system...

[2022-06-26 17:14] archandanime commented on #124
I still can't
[code]

[2022-06-26 17:25] gtxaspec commented on #124
try compiling overlayfs as module.  then load the .lol manually using insmod

[2022-06-26 17:31] archandanime commented on #124
I'll try

[2022-06-26 17:40] archandanime commented on #124
@gtxaspec how do I compile it like that? I've never done that on embedded devices

[2022-06-26 17:50] gtxaspec commented on #124
change =y to =m on the kernel config

then it rebuild the kernel, it will compile the module, should be in output/target/lib/modules/etc

[2022-06-26 17:55] archandanime commented on #124
I set `CONFIG_OVERLAYFS_FS=m` and compiled it, there's only initramfs_root/ dir under outout/

[2022-06-26 17:56] gtxaspec commented on #124
/openmiko/build/buildrootwhatever/output/target doesn't exist? what is in the output dir?

[2022-06-26 18:06] archandanime commented on #124
`/atomtools/build/buildroot-2016.02/output/` is the output dir
kernel modules are at `/atomtools/build/buildroot-2016.02/output/target/lib/modules/`, there's no overlayfs.ko or something like that

[2022-06-26 18:56] gtxaspec commented on #124
maybe your  overlay patch isn't compiling properly... in linux-custom/fs/Makefile do you have:

`obj-$(CONFIG_OVERLAYFS_FS)      += overlayfs/` or something like that?

[2022-06-27 03:07] gtxaspec commented on #131
added in https://github.com/gtxaspec/wz_mini_hacks/commit/65e839b6a95c8cc9ed335256e2c5904629da2f9b

[2022-06-27 03:07] #131 closed

[2022-06-27 04:03] gtxaspec commented on #124
here is the repo of the linux kernel i manually patched overlayfs into
https://github.com/gtxaspec/t31_kernel_overlay_test
if i remember correctly, it works.

rename `linux-custom` to `linux-custom-backup` and put this repo as `linux-custom` and then run `make linux-rebuild`

[2022-06-27 04:08] archandanime commented on #124
thank you very much!

[2022-06-27 11:40] archandanime commented on #124
I copied your `fs/overlayfs/` dir to linux-custom/fs/, added `obj-$(CONFIG_OVERLAYFS_FS)      += overlayfs/
` to fs/Makefile and `source "fs/overlayfs/Kconfig"` to fs/Kconfig and ran `make linux-rebuild`
it ended up with
[code]

[2022-06-27 12:23] archandanime commented on #124
I'm going to patch it manually

[2022-06-27 13:09] tavicu commented on #128
I tried something.

After everything was working I run the `sync` and `reboot` commands manually from the SSH.
The camera restarts but wz_mini it's not loaded.

Power cycle it makes it loading wz_mini.

Then I tried to run only `reboot` command and same thing. It reboots the camera and doesn't load wz_mini.
So it appears there is a problem with `reboot` command on 3 of my cameras.

[2022-06-27 15:55] archandanime commented on #124
with your repo, when I ran `make linux-rebuild`
[code]

[2022-06-27 15:59] goldenhub77 opened #136 "RTSP video display distorted with fast moving objects in frame"
All V3 cameras with current firmware, running RTSP 20FPS Max bitrate 2048, target 1024 get distortion/artifacts with fast moving objects. Impacts video quality but not audio.

[2022-06-27 16:30] clee604 commented on #136
May be similar to the issue I posted here, no resolution though:
https://github.com/gtxaspec/wz_mini_hacks/discussions/121

[2022-06-27 16:44] goldenhub77 commented on #136
@clee604 Yes, this is exactly what I'm experiencing. It is not a connectivity issue because I have perfect signals and it only occurs when using the RTSP server loaded with wz_mini_hacks.

[2022-06-27 16:54] gtxaspec commented on #128
@tavicu which model camera?

[2022-06-27 16:55] gtxaspec commented on #136
if you change the encoder mode, to 4 or 8, does this still happen?

[2022-06-27 17:03] goldenhub77 commented on #136
@gtxaspec Yes, I tried 4 and 8 and it still occurs.

[2022-06-27 17:05] goldenhub77 commented on #136
@gtxaspec How ever Wyze programmed RTSP on their firmware it works perfect but has other bugs with their accessories like the spotlight. Is there anyway you can assess the RTSP firmware if I share it?

[2022-06-27 17:05] tavicu commented on #128
Wyze v3, all of them. 3 were purchased 8 months ago (all 3 have this problem) and two were purchased about one month ago.

[2022-06-27 17:08] gtxaspec commented on #136
We have their firmware, and we are unable to implement it the way they are doing it without the original source code.

One other suggestion, if you disable "motion tagging" in the app does it still occur as well?

[2022-06-27 17:11] gtxaspec commented on #124
ok, git clone the repo somewhere else, like /tmp/linux-custom-overlay, then cd to that directory, then run
`CROSS_COMPILE=/openmiko/build/mips-gcc472-glibc216-64bit/bin/mips-linux-gnu- make -j4 uImage`

[2022-06-27 17:16] clee604 commented on #136
I disabled motion tagging as one of the first things after implementing rtsp because I hated the green boxes and it still occurs.

[2022-06-27 17:19] gtxaspec commented on #124
can you disable wireguard in the kernel .conf? comment hte line out

[2022-06-27 17:20] gtxaspec commented on #136
It's strange, because I can not reproduce this on my end.  The way I test (rtsp stream)

WiFi or ethernet
place the camera infront of a big tv and then run some fast motion > no artifacts
place the camera in front of my and then I move around really fast > no artifacts
place camera with phone upclose for testing > no artifacts

[2022-06-27 17:22] gtxaspec commented on #136
I was able to get some artifacts just now only by changing the router to a wifi channel that is congested.  The artifacts still do not happen on wired ethernet.  I will continue to investigate this as a software issue on the camera

[2022-06-27 17:28] gtxaspec commented on #136
another suggestion (for testing) disable continuous or motion recording to micro sd in the app, to test.  I've found when the microsd card is slow or failing, iCamera does not like that and problems occur.

[2022-06-27 17:39] archandanime commented on #124
there's only `/tmp/t31_kernel_overlay_test/config` it doesn't contain `CONFIG_WIREGUARD=`

[2022-06-27 17:39] clee604 commented on #136
similar results here: disabling sd card recording does not make a difference.
@gtxaspec  how are you viewing the RTSP stream? I noticed if I have HW acceleration on (using tinycam) there's artifacts. However using SW decoding or VLC there's no artifacts, but instead it frame skips.

[2022-06-27 17:46] gtxaspec commented on #124
sorry, it was not included in the repo
https://gist.github.com/gtxaspec/2e9e08bb14b4e29a2fd2bf43ce286b44

[2022-06-27 17:51] archandanime commented on #124
I renamed the file to `.config`, it already had `CONFIG_WIREGUARD=m`, but it still returned errors when I ran the command
[code]

[2022-06-27 17:55] archandanime commented on #124
[code]
`/openmiko/build/buildroot-2016.02/dl/` contains a lot of files/dirs but no wireguard* dir

[2022-06-27 17:55] clee604 commented on #136
using VLC on my pc i don't really notice any artifacts or frameskips..

VLC on my ipad shows some frameskips...

Maybe some kind of error correction is better on the PC VLC?

[2022-06-27 18:04] archandanime commented on #124
I'll try to copy your your fs/overlayfs and try again, maybe it can solve the unknown symbol errors.
I've got to sleep, have a good day!

[2022-06-28 01:48] gtxaspec commented on #71
i've ordered a PanV1 (i hope it's a v1) so hopefully I can get this working quickly

[2022-06-28 03:04] archandanime commented on #124
Overlayfs is successfully compiled into the kernel!!!
[code]
I patched manually, set `CONFIG_OVERLAYFS_FS=y` and ran `make linux-rebuild`, then it worked, I still don't know why :))

from initramfs shell
[code]

[2022-06-28 03:11] archandanime commented on #124
Earlier, `insmod overlayfs.ko` didn't work, I tried `modprobe overlayfs`
[code]
during debug mode, there's no `/lib/modules/3.10.14__isvp_swan_1.0__`, hence the error, it wasn't because of missing `Module.symvers`

[2022-06-28 03:35] gtxaspec commented on #10
@FiveLeavesLeft Hello!  I wanted to include your h264 solution in an upcoming release of wz_mini as an alternative to v4l2rtspserver for users, would you mind sharing the source to integrate it?

thanks!

[2022-06-28 03:49] gtxaspec commented on #124
great to hear it works!

[2022-06-28 03:51] gtxaspec commented on #124
converting to discussion for visibility

[2022-06-28 03:53] gtxaspec commented on #110
Did you ever get this working? Testing the latest version, it works well.

[2022-06-28 03:53] gtxaspec commented on #98
Did you ever resolve this? Working well on my end.

[2022-06-28 03:56] gtxaspec commented on #136
Ok, following up, does this happen on the 360p stream as well?

[2022-06-28 04:05] goldenhub77 commented on #136
@gtxaspec Yes

[2022-06-28 12:52] archandanime commented on #127
@gtxaspec I can't add wiki pages or make pull request for wiki pages from my cloned repo

[2022-06-28 13:09] tavicu commented on #128
I have formated the card and setup wz_mini from the scratch.
Booted the camera, everything was ok.

Then I run the update-run.sh script and it started the update process.
Then the camera reboots and nothing. No message, no access to ssh. The wz_mini was not loaded.
Here is the update log: https://pastebin.com/uCgACMaC

Unplug the camera from the power and back in I can hear the message: "wz_mini i

[2022-06-28 13:15] tavicu commented on #128
Ok. As I said in previous messages I have 5 cameras in total.
3 are older, 2 newer.
The problem can be replicated on the 3 older cameras.

The other difference between them is the SD Card. Older one have a card from Hama and the newer ones have a card from Kingston.
Same speed, same capacity (32GB), same way to format them.

I've made a writing/read test and the Hama cards are even better, reachin

[2022-06-28 14:47] goldenhub77 commented on #136
@skilau I am on Wifi at 20fps. I do not get any tearing or artifacts while using the RTSP firmware directly from Wyze but the audio is distorted.   This implementation has perfect audio but the video is distorted.

[2022-06-28 14:50] clee604 commented on #136
I tested on both ethernet and wifi, and FPS at 15, 20, and blank; all the same issue for me

[2022-06-28 15:55] Vanterax commented on #136
I have the same problem with three v3 cams, but they're all on Wifi.  The RTSP stream was prefect before updating to the "06-24-22" update, but now I get lots of artifacts and corruption in the video feed.  Of my three v3 cams, I put two back on the Wyze RTSP firmware and now they're streaming fine.  I'm leaving one of the latest wz_mini to troubleshoot.  I have them set to 15fps and it's hard to

[2022-06-28 16:21] gtxaspec commented on #136
if you revert to this release: https://github.com/gtxaspec/wz_mini_hacks/tree/cf02d1aeb96fafde1b19d5eb25a22b705e536df5

do the rtsp problems go away?

[2022-06-28 17:33] gtxaspec commented on #136
[8189fs.ko.gz](https://github.com/gtxaspec/wz_mini_hacks/files/9003450/8189fs.ko.gz)
Here is an updated build of the wifi driver for the V3 (only v3), if anyone wants to test, rename the old one `8189fs.ko.old` and replace it with this one.  It's located in `/opt/wz_mini/lib/modules/3.10.14__isvp_swan_1.0__/extra/8189fs.ko`

[2022-06-28 17:38] Vanterax commented on #136
Reverted to the previous release fixes my issue with the RTSP feed.  It's solid and consistent without artifacts or skipping.
I have a 4th spare V3 that I'll be using to test the new wifi driver, but I have to wait for a new SD card coming from Amazon tomorrow. :)

[2022-06-28 17:47] gtxaspec commented on #136
[8189fs_v2.ko.gz](https://github.com/gtxaspec/wz_mini_hacks/files/9003521/8189fs_v2.ko.gz)
@clee604 here is a new driver for the v2 if you want to test.  the path to replace the driver is `/opt/wz_mini/lib/modules/3.10.14/extra/8189fs.ko`

[2022-06-28 17:53] clee604 commented on #136
thanks @gtxaspec, currently on my V2 I'm rolling back and testing older releases to see if I can get ethernet to work again first. Then I'll test the rtsp stream stability and the new wifi driver after.

My V3s are in use so I don't want to touch until I'm confident i have enough time to test and fix it they stop working

[2022-06-28 18:11] gtxaspec commented on #136
thanks for the feedback and testing everyone!  I have almost every camera, and with every release I make sure I test every model camera I have both wifi and Ethernet.  So hopefully we can track this down and figure out what's going on

[2022-06-28 20:53] clee604 commented on #136
I didn't think the wifi driver would change anything on my asix ethernet connected V3 but I tried anyways. no improvement with the artifacts. I will try rolling back the V3 to the above posted version later to see if it improves artifacts.

[2022-06-28 21:16] gtxaspec commented on #71
the latest release includes an updated compile_image.sh script.

try `./compile_image.sh pan` to create a demo.bin for the pan.  it works on my test unit.

[2022-06-28 21:36] gtxaspec commented on #136
@clee604 if i can compile a new kernel with some changes would you be able to test it on your v2?

[2022-06-28 21:38] clee604 commented on #136
@gtxaspec yes, no problem

[2022-06-28 21:59] gtxaspec commented on #136
@clee604

copy these to the camera
via ssh, run the commands:

first, replace the wifi driver with this one:
[8189fs.ko.gz](https://github.com/gtxaspec/wz_mini_hacks/files/9005646/8189fs.ko.gz)
extract it and replace it `/opt/wz_mini/lib/modules/3.10.14/extra/8189fs.ko`

then,
copy this to the camera:
[kernel.bin.gz](https://github.com/gtxaspec/wz_mini_hacks/files/9005589/kernel.bin.gz)
and run th

[2022-06-28 22:17] gtxaspec commented on #127
from `https://github.com/gtxaspec/wz_mini_hacks.wiki.git` ?

[2022-06-28 22:17] clee604 commented on #136
@gtxaspec done, what should I be testing post flash?

[2022-06-28 22:18] gtxaspec commented on #136
problems with RTSP

[2022-06-28 22:22] Vanterax commented on #136
It just dawned on me that I might have missed an important detail.  I upgraded using the upgrade-run.sh script and then uploaded a new  wz_mini.conf file with all the proper settings.  Turns out that might have been my problem.  By installing wz_mini fresh, I don't have an artifact problem anymore.

[2022-06-28 22:37] clee604 commented on #136
@gtxaspec ah, I was just about to comment that the ethernet doesn't work with this kernel either on my V2.

My V2 didn't have artifacts with RTSP but the video stream did crash lately with the new versions. But that generally happens overnight. So far with the new wifi driver and kernel nothing seems out of the ordinary, I'll leave it on and see how stable it is.

[2022-06-28 22:38] gtxaspec commented on #136
Ethernet broken...hmm
okay let me look into some stuff for ya

[2022-06-28 22:47] clee604 commented on #136
Think I spoke too soon.. seen a few artifacts with the new V2 kernel which I never had before with the V2 cam..

If i want to roll back can I just reflash demo.bin?

[2022-06-28 22:53] clee604 commented on #136
Back to the ethernet connected V3 - another thing I just noticed when I pulled some recordings off the SD card via SCP, the audio does not sync with the video. I'm not sure if this started happening today when I dropped to 15fps for testing or it was always like this...

[2022-06-28 23:00] gtxaspec commented on #136
that's right

[2022-06-28 23:06] clee604 commented on #136
Thanks, I'll probably roll back to the last version where ethernet works for my V2 for the time being except when testing.

[2022-06-29 00:05] mwhdc commented on #71
Bonehead mistake on my part, I thought the Pan v1 had a white LED in front like the v2 cube that would indicate when the firmware was being updated. It doesn't, the orange just stays lit during flashing and boot, then blinks while the camera tries to bring up a network connection. So I've been able to flash your kernel successfully on two Pan v1s now.

Current issue is that both Pans seem to have

[2022-06-29 00:09] gtxaspec commented on #71
if you ever upgraded beyond 1002 firmware, you need to add them back to wifi, they encrypt the ssid and password now in the configuration files.

[2022-06-29 01:13] archandanime commented on #127
let me try it again

[2022-06-29 01:21] mwhdc commented on #71
I've tried a few times on both cams and still no luck. Is it possible that the right credentials are in place but the new Wi-Fi drivers aren't loading? Getting endless loops of this in the log...

[code]

[2022-06-29 01:28] gtxaspec commented on #71
when you push the setup button, do you hear the ready to connect prompt?

[2022-06-29 01:29] gtxaspec commented on #71
I don't have the new wifi-drivers in place for the panv1 yet, so wifi drivers shouldn't be an issue...

[2022-06-29 01:30] gtxaspec commented on #71
can you share the wz_init, wz_post, and dmesg logs?

[2022-06-29 01:39] mwhdc commented on #71
Yes, and the cams are reading the QR code, but then claiming they can't find the SSID.

I had the new drivers enabled in wz_mini.conf, but disabling them doesn't seem to make a difference.

Logs are attached from a boot with drivers disabled. There wasn't a dmesg.log on the card.

[wz_init.log](https://github.com/gtxaspec/wz_mini_hacks/files/9006577/wz_init.log)
[wz_post.log](https://github.com/gt

[2022-06-29 02:51] gtxaspec commented on #71
it seems I can't connect this wyze pan to my wifi, even flashing back to stock.  It refuses to connect to my wifi router... have you tried to flash your back to stock?

I'm not sure if its because I accidentally deleted a .product_config file on mine though

[2022-06-29 03:00] gtxaspec commented on #71
It works when I configure it manually, flashing stock again...

[2022-06-29 04:29] gtxaspec opened #140 "backup /configs & /params"
backup these two for safe keeping for users.

[2022-06-29 04:32] gtxaspec commented on #71
looks like the stock wifi driver does not like our kernel.  I will update the release to include a new wifi driver which does work with the pan.

[2022-06-29 09:24] gtxaspec commented on #71
latest release includes a new v2_kernel.bin and SD_ROOT including new modules.

[2022-06-29 12:10] mwhdc commented on #71
Success! Had to re-add the cam one last time after first wz_mini boot, now online and working well.

By the way, I've been making one change to fw_tool.sh after each revision to allow it to run under darwin - "stat -c %s" changes to "stat -f %z". If you add a uname -s to fork that command, the script will work for Mac users. (Homebrew install of u-boot-tools and any dependencies is also required.)

[2022-06-30 02:57] goldenhub77 commented on #136
@gtxaspec @skilau I reverted to the previous build https://github.com/gtxaspec/wz_mini_hacks/tree/cf02d1aeb96fafde1b19d5eb25a22b705e536df5 and the artifact issue appears to be resolved. I updated the WiFi driver out of curiosity and it caused frame drops so I reverted back to the old driver.

[2022-06-30 16:07] virmaior commented on #119
@tensiondriven  that's some what similar to how atomcam_tools does it. For whatever combination of reasons it uses https://vuejs.org/ to compose the page. It then passes everything via cgi:

https://github.com/mnakada/atomcam_tools/blob/main/web/source/vue/Setting.vue

[2022-06-30 19:22] jdesai61 opened #145 "The wz_user.sh script has r8152 USB Ethernet driver auto detection wrong"
The auto recognition doesn't work for r8152 adapter because the value  '0bda:8152' is also listed under cdc_ether (which takes precedence)
[code]
This is a minor issue because I can work around it by setting auto detect off and manually specifying r8152

[2022-06-30 19:24] endertable commented on #119
This should be flagged as a "Help Wanted" as this requires a little HTML, CSS, CGI scripting and processing.  Of course, can be mostly taken from atomcams and altered.  Just have to ask if a webserver just to alter a config file once in a while is worth it.  If so:

For those wanting to test, there is a basic web server built in:

httpd -p 8082 -h /tmp/www

Will listen on port 8082 with DOCROOT at

[2022-06-30 19:36] gtxaspec opened #146 "strip wifi kernel modules of debug symbols"
add --strip-debug to compile process for 8189x and atbm603x
reduces the size of atbm_wifi significantly

[2022-06-30 19:40] jdesai61 opened #147 "Strange issue with ethernet driver"
First of all, thanks for this excellent painless way to hack with Wyze camera *in my case v3). I am able to turn ethernet on (r8152 based adapter) and the camera seems to function well. However, once I enable ethernet, I can only access camera from Wyzeapp,. I can't ping, ssh or use RTSP streaming etc unless I disable ethernet.  However, the Wyze app on my phone is able to see the stream properly

[2022-06-30 19:41] gtxaspec commented on #145
from what I remember, 8152 based adapters could use either driver.  @jdesai61, will you confirm your adapter does not work with cdc_ether alone?  Can you supply the brand and model as well?

[2022-06-30 19:42] gtxaspec commented on #147
you can pull the sd card and check wz_mini/logs

the ethernet is brought up in wz_user.log

check there to see if anything stands out.   Unless you having bonding enabled, the ethernet adapter should pull a different IP since the MAC is different...

[2022-06-30 19:43] skilau commented on #145
Interesting.
It looks like the Device ID ('0bda:8152') for your device can be used with either driver:

grep USB_DEVICE * -r |grep 8152
cdc_ether.c:	USB_DEVICE_AND_INTERFACE_INFO(REALTEK_VENDOR_ID, 0x8152, USB_CLASS_COMM,
r8152.c:	{USB_DEVICE(VENDOR_ID_REALTEK, PRODUCT_ID_RTL8152)},

grep PRODUCT_ID_RTL8152 * -r
r8152.c:#define PRODUCT_ID_RTL8152		0x8152

Both drivers appear to support  '0bda:8152

[2022-06-30 19:49] gtxaspec commented on #147
What I would recommend for debugging, set everything up using wifi, ssh in, then load the module manually, as in:
`modprobe cdc_ether`
`ifconfig eth0 up`
`udhcpc -i eth0`
`ifconig`
and see if you can get an IP on the ethernet adapter.

[2022-06-30 19:51] jdesai61 commented on #147
ok will do

[2022-06-30 19:59] capncybo commented on #146
Nice find ;-)

[2022-06-30 22:01] jdesai61 commented on #145
There is a discrepancy in documentation (or script wz_user.sh)...
[code]
In above code the ENABLE_USB_ETH_MODULES should change to ENABLE_USB_ETH_MODULE_MANUAL so I can setup
ENABLE_USB_ETH_MODULE_MANUAL="a,b,c"
or the documentation should state that ENABLE_USB_ETH_MODULE_MANUAL needs to be set to true and then use a second variable ENABLE_USB_ETH_MODULES (not listed in sample file) should contain

[2022-06-30 22:06] jdesai61 commented on #147
I think not getting ethernet setup was due to following issue:

  https://github.com/gtxaspec/wz_mini_hacks/issues/145#issuecomment-1171721181

Combined with the fact that even when camera gets ethernet IP and gives up WiFi IP, the wyze app continues to show old WiFi ip.   Closing this issue.

[2022-06-30 22:06] #147 closed

[2022-06-30 23:10] gtxaspec commented on #136
I've compiled the latest version of wz_mini in a branch without nf-conntrack (v3/panv2 ONLY)
https://github.com/gtxaspec/wz_mini_hacks/tree/wz_mini-no_conntrack
if anyone wants to test it and see if the issues are resolved, go ahead =D

[2022-06-30 23:28] gtxaspec commented on #98
closing due to lack or information, open a new ticket if you still have issues!

[2022-06-30 23:28] #98 closed

[2022-06-30 23:28] gtxaspec commented on #110
closing due to lack or information, open a new ticket if you still have issues!

[2022-06-30 23:28] #110 closed

[2022-06-30 23:31] clee604 commented on #136
is there a parameter with the upgrade script to select a different branch now? I saw you mentioned it was done in the other thread but wasn't sure if it was available yet

[2022-06-30 23:35] gtxaspec commented on #136
edit the file `upgrade-run.sh` and change:

`BRANCH="master"`
to
`BRANCH="wz_mini-no_conntrack`

then run it

[2022-06-30 23:48] clee604 commented on #136
tried twice, but getting 60 out of 232 computed checksums did not match error when branch is changed BRANCH="wz_mini-no_conntrack

[2022-07-01 00:01] gtxaspec commented on #136
oops one sec. ok its fixed try now

[2022-07-01 00:13] clee604 commented on #136
got this error at the end.. not sure if it actually continued to upgrade or not...
/opt/wz_mini/bin/upgrade-run.sh: line 11: can't create /dev/fd/64: nonexistent directory

[2022-07-01 00:17] gtxaspec commented on #136
thats just a logging error, shouldn't matter.   it should have rebooted the camera.

if you ssh into the system and run md5sum /opt/wz_mini/lib/modules/3.10.14__isvp_swan_1.0__/extra/8189fs.ko

it should give you `a19d7ac413fcb57fe25f4bc5889739dc`

[2022-07-01 00:19] clee604 commented on #136
it gives me d52dd5f273ed68807dfddfd99940e6f9 so i assume it didn't upgrade

[2022-07-01 00:19] gtxaspec commented on #136
yeah strange, i just tested on one of my camera's and it worked without error.  you may have to do a manual upgrade.

[2022-07-01 00:25] clee604 commented on #136
i'll take a look at it later when i'm home.. one thing i noticed is when i check the upgrade-run.sh script it is back to "master" for the branch

[2022-07-01 01:07] juanboro commented on #123
I managed to get it working without overlayfs.  It's a little convoluted but seems to work- I wrote up the process I used here: https://github.com/juanboro/wz_mini_hacks/blob/master/documentation/entware_install.md

[2022-07-01 06:35] gtxaspec commented on #133
added in https://github.com/gtxaspec/wz_mini_hacks/commit/d87d43241fbd04e4b7304e2aca94d42dbab088dd

[2022-07-01 06:35] #133 closed

[2022-07-01 22:55] yerffejytnac commented on #119
Sr. React Engineer here and would love to help with this if you need it! 👋

[2022-07-02 00:25] jemershaw opened #151 "Rtsp no video issue using two streams"
This is in reference to issue #98. It seems like after doing a fresh install it still happens. Ill attach the logs shortly since I'm on my phone.

My config is using both unicast streams. I have consistent sessions to both streams and at random intervals it drops the video.

[2022-07-02 03:26] jacoblukewood commented on #110
I had made the script executable via the root account using SSH however am still not seeing the script execute.

This is the script I am attempting to execute from boot at /media/mmc/motiondetection.sh:
`#!/opt/wz_mini/bin/bash

while true
do
  ret=`cmd waitmotion 1000 | grep "timeout" | wc -l`

  if [ $ret -eq 0  ] ; then
    echo "Reporting motion!"
    wget --post-data="motion=1" http://10.0.1.

[2022-07-02 03:29] jacoblukewood commented on #110
If I run the script from the command line `/media/mmc/motiondetection.sh` then it works successfully.

[2022-07-02 03:54] gtxaspec commented on #110
if you check the wz_user.log, what does it say about the custom script

[2022-07-02 04:01] jacoblukewood commented on #110
`/media/mmc/wz_mini/log/wz_user.log`

[code]

[2022-07-02 04:25] gtxaspec commented on #110
the /media/mmc path may not be created yet by iCamera when your script is attempting to execute, change it to `/opt/motiondetection.sh`

[2022-07-02 05:09] endertable commented on #119
@yerffejytnac Sweet, which is your specialty, HTML and CSS, CGI scripting, web server, or do you dabble in all?

[2022-07-02 07:05] gtxaspec commented on #145
fixed in https://github.com/gtxaspec/wz_mini_hacks/commit/f1c0e3725e1af99166c9eaab31149e68f5292082

[2022-07-02 07:05] #145 closed

[2022-07-02 07:05] gtxaspec commented on #140
added in https://github.com/gtxaspec/wz_mini_hacks/commit/19ff6e3fcd926f5f4b381f0c3beb64a6181ebdca

[2022-07-02 07:05] #140 closed

[2022-07-02 07:32] gtxaspec commented on #71
fixed in https://github.com/gtxaspec/wz_mini_hacks/commit/f4245747f3ff597b1ba94bb0f87be93e887637a1
thanks for the testing @mwhdc

[2022-07-02 07:32] #71 closed

[2022-07-02 07:33] gtxaspec commented on #146
fixed in https://github.com/gtxaspec/wz_mini_hacks/commit/973cc4d8e78c1e5a857257eaa147d0434b2a13b5

[2022-07-02 07:33] #146 closed

[2022-07-02 07:37] gtxaspec commented on #99
lets wait for #123 on this one

[2022-07-02 07:37] #99 closed

[2022-07-02 07:40] gtxaspec opened #152 "port latest libcallback"
latest https://github.com/mnakada/atomcam_tools/tree/main/libcallback has bug fixes and improvements

clone and add our changes

create patches and apply to repo

[2022-07-02 07:40] gtxaspec commented on #129
need this first, for #152

[2022-07-02 09:19] gtxaspec opened #153 "cifs doesn't work"
[code]

probably need cifs-utils compiled.

[2022-07-02 09:22] gtxaspec commented on #129
added in https://github.com/gtxaspec/wz_mini_hacks/commit/478b1ceba0656d4ed82c147f82298c806e1873b7

[2022-07-02 09:22] #129 closed

[2022-07-02 09:24] gtxaspec commented on #123
very cool @juanboro!

[2022-07-02 12:18] jemershaw commented on #151
I think I found the problem. I use the rtsp-simple-server to proxy my streams and it seems like there was a bug in the way I configured it. I updated it to patch that bug so I'm going to close the ticket.

[2022-07-02 12:18] #151 closed

[2022-07-02 14:46] mwhdc commented on #71
Thanks for buying the outdated device to debug! Don't forget to add Pan v1 to README.md.

[2022-07-02 15:37] goldenhub77 commented on #136
@gtxaspec Your changes on the no_conntrack branch resolved the artifact issue but are still dropping frames occasionally. When testing on VLC for about 5-10 minutes the video completely freezes but audio continues. This does not occur using the Wyze RTSP firmware under the same conditions so I know it is not a network related issue.

[2022-07-02 16:54] clee604 commented on #136
I tried the no_conntrack branch on my ASIX connected V3 and didn't boot up correctly (no ssh or rtsp stream, though I think the camera is on). wz_user log had some missing directory for the wifi driver error but I forgot to copy log before I just wiped it with a fresh install of the latest version.

I have not yet a chance to test it on a wifi connected V3 as they are a bit more difficult to get t

[2022-07-02 16:56] goldenhub77 commented on #136
@clee604 I recommend wiping your Wyze and updating by downloading the firmware from Wyze and using an SD card.

[2022-07-02 17:00] clee604 commented on #136
I don't have the same video freezing issue as you and the artifacts are a nuisance but not a dealbreaker at the moment.

The wyze RTSP firmware works well but doesn't have ethernet support and I'm a bit concerned about the security of the older RTSP firmware

[2022-07-02 17:30] jacoblukewood commented on #110
I've modified the path and the I'm no longer seeing the above error in the log, however, the script still does not seem to function.

Is there a way I can delete the old log files?

[2022-07-02 17:53] jacoblukewood commented on #110
Could it be because the script is an infinite loop but doesn't continue to run after wz_user.sh completes?

[2022-07-02 18:20] gtxaspec commented on #110
the script is run with & which shoves in the background...
 add `sleep 10` right before the while loop statement to delay execution a bit and we if that works.

[2022-07-02 18:36] gtxaspec commented on #136
thanks for the info.  still gathering some data, we may have a resolution soon.

[2022-07-02 18:51] jacoblukewood commented on #110
Success! Thank you!

[2022-07-03 00:43] gtxaspec commented on #153
false alarm, the following command works with the build-in `mount` command:
` mount -t cifs '//x.x.x.x/test' /tmp/test -o vers=2.0,username=test_user,password=test_password`

[2022-07-03 00:43] #153 closed

[2022-07-03 00:45] gtxaspec opened #154 "update documentation"
docs need to be updated:

clarify working cifs command
panv1 support

[2022-07-04 09:20] gtxaspec opened #156 "wyze car compatability and fixes"
needs kernel with USB to serial module enabled for the car

[2022-07-04 10:34] jemershaw opened #157 "Rtsp no video issue using two streams"
Okay, I'm opening this #121 because I was mistaken it seems like there's some session timeout or something with icamera. I've been using this configuration with a reolink and the old wyze rtsp firmware and hadn't had any problems with the stream via rtsp-simple-server.

I currently have two streams on wyze and rtsp-simple-server proxies the connection to wyze on init. It seems like if the first co

[2022-07-04 15:21] clee604 commented on #157
Is this on a V2 because I've been trying to figure out why the video feed crashes after some time. I also use rtsp-simple-server as a proxy (on demand, it opens and closes the stream as needed) and the V2 video stops working after some time (usually overnight or a few hours in the day). I see some small consistent file sizes after in the recordings which I assume are audio only.

This doesn't happ

[2022-07-04 20:29] endertable commented on #156
So does the Wyze car use standard V2 FW?  I was under the impression that use a special version of the V2 FW.  Could never find a link.

[2022-07-05 01:37] gtxaspec commented on #156
it does use a a special firmware and iCamera version.  I have reverse engineered the control protocols so it should work with any camera via rtsp, just need to figure out how to implement controls via an app or web page.

[2022-07-05 02:00] jemershaw commented on #157
@clee604 can you run `/opt/wz_mini/bin/v4l2rtspserver -V` on the V3 camera?

 I'm running 4.36.9.139 wyze firmware and the v4l2rtspserver is 0.3.3-4-ga43e094-dirty.

[2022-07-05 04:05] clee604 commented on #157
Also 0.3.3-4-ga43e094-dirty on both V2 and V3.

I just noticed you mention you have two streams though, is that two RTSP streams on the camera (ie. you have both hi-res and low-res streams) or do you mean two client streams on the camera (ie. the rtsp server + another device)

[2022-07-05 08:04] gtxaspec commented on #156
serial commands:
[code]

[2022-07-05 15:12] clee604 commented on #157
I was browsing some of the issues on another V2 firmware and found these two which seem similar to my issue
https://github.com/openmiko/openmiko/issues/62

For curiosity I ran windows disk scan and repair on some sd cards and windows indeed did pick up some errors. Not sure if it's due to the camera getting powered off or rebooting, it could be a cause for some of the issues?

@gtxaspec in this th

[2022-07-05 16:30] endertable commented on #157
Wyze binaries run the following to remove the dirty bit and repair the FS, if needed:

 tf_prepare --blkdev /dev/mmcblk0p1 --strategy=2 --samplecnt=64

Try that and see if it works for you..

[2022-07-05 16:39] clee604 commented on #157
just so i'm clear, I run that in the command line via ssh on the device where I suspect the memory card is corrupted?

[2022-07-05 16:50] gtxaspec commented on #157
@endertable thats right!

@clee604, no, this command has to be run early in the boot process, it doesn't work when run manually.  But, I will include `fsck.vfat` in an upcoming release of wz_mini

[2022-07-05 16:56] gtxaspec opened #160 "include fsck.vfat"
buildroot 2022.02.1

[2022-07-05 17:06] gtxaspec commented on #160
we should probably bind over tf_prepare and prevent iCamera from attempting to repair the FS, since the sd card is already mounted as /opt.  We could run fsck in the initramfs before we mount the sd card.

[2022-07-05 17:07] gtxaspec commented on #156
@endertable https://s3-us-west-2.amazonaws.com/wuv2/upgrade/HL_CAMTC/firmware/4.55.0.105.tar

[2022-07-05 17:55] endertable commented on #156
You are awesome!!   Got updated stuff off of it to run my "car" cam.  But "car" as in full sized car   :)

[2022-07-05 18:24] mrsarge opened #161 "Wyze Cam v3 no stream audio when loading wz_mini_hacks"
Brand new Wyze Cam v3.
If I boot it with the Micro SD card inserted, thus loading wz_mini_hacks, I have no audio in the Wyze app.
Also tried to enable the RTSP stream and I have no audio in there either.

Removed the Micro SD card, rebooted and audio is working properly in the Wyze app.

Firmware 4.36.9.139

[2022-07-05 18:30] gtxaspec commented on #161
Just tested, on 139, using the latest non beta wyze app (android) sound works fine with wz_mini.
What platform? android or ios?
latest wz_mini release?

[2022-07-05 18:32] mrsarge commented on #161
Android.
Downloaded the master.zip yesterday.

[2022-07-05 19:15] mrsarge commented on #161
Since everything is fine when booting without the Micro SD, the app should be ok.
I also just tested the Speak feature and it doesn't work when using wz_mini.
It's like the speaker and microphone were disabled.

(I got the audio prompt from wz_mini when I did the first boot)

[2022-07-05 19:44] gtxaspec commented on #161
let me try a fresh install and check stand by

[2022-07-05 19:54] gtxaspec commented on #161
confirmed, seems like some sort of regression.  looking into it now

[2022-07-05 19:59] ryny24 opened #162 "Wishlist Item: Home Assistant integration"
Does anyone know if this is possible with the script capabilities?   Possible Person Detection as an entity. :)

I'll play around!

[2022-07-05 20:09] capncybo commented on #161
So that's why that "Rat-Bird" Magpie I tried to Scare off... never flew away. LOL

[2022-07-05 22:14] gtxaspec commented on #161
found the issue, new release soon

[2022-07-06 01:18] goldenhub77 commented on #136
@gtxaspec any updates?

[2022-07-06 03:42] gtxaspec commented on #161
fixed in latest release, please test

[2022-07-06 04:00] gtxaspec commented on #136
still working, I'll have a test branch up soon to see.  stand by

[2022-07-06 05:34] virmaior commented on #128
can you put one of the non-functioning cards into a computer and tell us whether it's formatted FAT32 or EXFAT? (first link for how to do so on windows: https://www.diskpart.com/articles/check-sd-card-format-0310.html )

[2022-07-06 05:58] tavicu commented on #128
It was formatted at FAT32.

I will close this issue for now since it's not related to update-run.sh
If you want to debug and have any indications on how to do it, I will be happy to open a new issue and continue there.
Let me know :)

[2022-07-06 05:58] #128 closed

[2022-07-06 13:29] mrsarge commented on #161
It works!

Thank you for the quick fix.

[2022-07-06 16:40] capncybo opened #163 "cmd waitmotion issue & clarification"
I only started testing "cmd waitmotion __" yesterday by using:
cmd waitmotion 20
no luck, so I tried longer timeouts... cmd waitmotion 60
Nope... cmd waitmotion 1000
Hmmmm...

Perhaps I was misunderstanding the example & functionality.
However I did discover that using... ctrl+c would break any future attempts to use this command, until after rebooting the camera.
+ the documentation didn't mentio

[2022-07-06 18:21] gtxaspec commented on #163
you need to have motion tagging enabled in the app

[2022-07-06 18:49] capncybo commented on #163
In WYZE Android Application I have:
Settings > Detection Settings > MOTION DETECTION SENSITIVITY: Low 1 --- 100 High  (tired a few different values, 50, Nope)
Detection Zone: Off  (Note: I tried enabling every square, but no luck)
Settings > Event Recording > **Detects Motion**  off
Is this possibly what you mean by "motion tagging enabled in the app" ???

[2022-07-06 20:07] capncybo commented on #163
Oh for F__K's  sake... I'm really starting to HATE the non-intuitive, non-consistent, manner that certain app developers program & stick options anywhere.  Shouldn't that "Motion Tagging" option also be included & accessible somewhere within settings?
Sorry, Rant over... I know it's not your application.
But what was so wrong with the file menu structure, I mean in "most" counties we read from: Le

[2022-07-06 20:19] capncybo commented on #163
But for Now, the only text output that I'm seeing is...
clear
No co-ordinates

[2022-07-06 23:17] gtxaspec commented on #163
theres a bug (or change) in the newer wyze implentation vs the atomcam, which is what the waitmotion function is based on, so you need to run it in a loop for now.

[2022-07-07 00:00] gtxaspec commented on #161
resolved for now =D

[2022-07-07 00:00] #161 closed

[2022-07-07 00:25] capncybo commented on #163
Thanks for all the help & explanations... I will endeavor to put the waitmotion function into a loop & retest.

[2022-07-07 07:21] gtxaspec commented on #156
audio is broken in the car fw with libcallback, test with refactored libcallback

[2022-07-07 07:52] gtxaspec opened #165 "impdbg debug"
put them in a function and run the commands sequentially to avoid rare situation where if run simultaneously they corrupt the pointer inside the shared memory

[2022-07-07 16:40] endertable commented on #156
What I like about the car FW is that you can use it as a standalone cam as it has AP mode built in.  It obviously starts the IOTC stream in AP mode ( IOTC_Initialize2() ) without needing internet unlike the online FWs.  For car FW you must use the Wyze Car app and the resolution in AP mode is horrible, or last least for me it is.
The tinkering continues..

[2022-07-08 21:39] gtxaspec opened #168 "enable 802.11w Management Frame Protection on wifi drivers test"
See if it works on both 8189fs and altobeam

[2022-07-09 02:11] gtxaspec commented on #160
added in https://github.com/gtxaspec/wz_mini_hacks/commit/a901c24868178064f0e98a1a55a5a1c968bc8642

[2022-07-09 02:11] #160 closed

[2022-07-09 02:12] gtxaspec commented on #130
fixed in https://github.com/gtxaspec/wz_mini_hacks/commit/c9acdc25bcdf1225064287bff2ef33ec8cabef0e

[2022-07-09 02:12] #130 closed

[2022-07-09 05:58] gtxaspec opened #169 "motor_stop libcallback function breaks audio on t20 devices"
investigate

[2022-07-09 06:29] gtxaspec opened #170 "libcallback jpeg capture broken on T20"
investigate

[2022-07-09 08:13] gtxaspec commented on #170
in:
[code]
on t20:
`uint dummy[3];`

[2022-07-09 23:27] jemershaw commented on #157
@gtxaspec I think you added the fsck to the release? That still didn't fix my problem I have to every few hours to log into my rtsp server and restart the ffmpeg session. I can capture logs if it would be helpful. I know it's not the command I'm using because it worked with the wyze rtsp firmware and my other cameras have no problems.

@clee604 I have high and low setup. I have frigate connect rec

[2022-07-10 13:32] jemershaw commented on #157
It actually seems like maybe the problem with the cameras. They were activated earlier this year and they are the only two having problems. Might have to see if I can rma it from wyze.

[2022-07-10 15:00] virmaior commented on #119
I've got 5 Wyze V3s (T31) and 1 atomcam V2 (T31) running wz_mini and atomcam_tools respectively. There's a lot to like about both tools, but right now they're setup pretty differently.  I think it'd be rather hard to just port what atomcam_tools has. The current setup there is:
1. lighttpd configured l[ike this](https://github.com/mnakada/atomcam_tools/blob/2f34aa4554fc04c18d6f0fb760fbc41bb227f0cf

[2022-07-10 21:40] guarddog13 opened #171 "MQTT?"
Can this turn on the Wyze Cam V3 as an MQTT client? Does it pub it's motion events?

[2022-07-10 23:10] gtxaspec commented on #171
see https://github.com/gtxaspec/wz_mini_hacks/discussions/75

[2022-07-11 00:14] skilau opened #172 "Wyze Cam FloodLight: Not controllable in Wyze Application."
I finally got around to putting wz_mini_hacks on my Wyze FloodLight.

Once I did this, wz_mini_hacks loads just fine, but the Floodlight Controls in the Wyze app no longer is shown.
It appears that Wyze doesn't believe the Floodlight is available anymore.

This is alluded to by a couple posts in this discussion:
https://github.com/gtxaspec/wz_mini_hacks/discussions/91

Checking dmesg, I see a coup

[2022-07-11 00:33] guarddog13 commented on #171
@gtxaspec thank you for the quick reply. I was looking at the reply from Matthew...does that script go into the camera's SDCARD /bin as a .bin file? This is what I would assume anyway...

I am using Agent DVR but it's very intensive to run 24/7 motion detection...and I'm so not paying for IFTTT. Using this I can trigger Agent's detector on and off via HA. This is even better than MQTT.

[2022-07-11 00:37] guarddog13 commented on #171
If I could use the cmd to trigger based on the camera's smart detection I could elimate the agent dvr lol.

[2022-07-11 01:34] gtxaspec commented on #172
@skilau thats interesting.  Does the floodlight have an additional USB port?

[2022-07-11 01:35] gtxaspec commented on #171
you would place it in a file called something like `motion.sh` and then give it execute permissions `chmod +x motion.sh` and then shove in somewhere on the sdcard

[2022-07-11 01:47] guarddog13 commented on #171
Thats what I've done. I also seen the custom script command in the config so called its path there? I'm assuming that's correct?

[2022-07-11 01:47] skilau commented on #172
@gtxaspec, yes, it has an extra USB port on the outside.  You apparently can use it to add another V3 cam if you want.
I don't use it though, or have anything plugged into it.

I saved this camera to install wz_mini_hacks on last, because it doesn't have any really good way to install a USB Ethernet adapter on it, while still looking reasonable.
So I am using this one as Wifi only.

I am using you

[2022-07-11 01:51] gtxaspec commented on #172
@skilau Looks like there is an internal USB hub, so `SPOTLIGHT SERIAL IC->USB-to-SERIAL IC -> USB HUB -> CAMERA`

unfortunately for us, the DWC2 (usb2 driver) is really old and buggy, so it doesn't support the `SPLIT` USB High Speed transfer mode.  We may be able to have it work by forcing the usb2 interface to full-speed, dthe down side is you will be limited to 12mbps, usb1.1 speeds ... I can po

[2022-07-11 01:56] gtxaspec commented on #171
if you are using the latest version just place it in `/opt/wz_mini/etc/rc_local.d/`

[2022-07-11 01:57] skilau commented on #172
@gtxaspec
Is the USB 1.1 speed just the connection to the Floodlight only?
Or is it also the Cam -> Wifi also?

If it is just the Floodlight, 1.1 speed shouldn't really matter much, as there isn't much data going between them anyway.
But if the 1.1 also would affect the Cam -> Wifi connection, yeah, that would not be good...

I can definitely give the new kernel a try, if it isn't too much of a ha

[2022-07-11 02:02] gtxaspec commented on #172
It will be all USB devices to the camera, we have to force the camera's USB 2.0 host controller to 1.1 speed.

The wifi runs off SDIO, so it's unaffected.

kernel attached, rename it to the factory name.

[kernel-t31.bin.gz](https://github.com/gtxaspec/wz_mini_hacks/files/9080369/kernel-t31.bin.gz)

[2022-07-11 02:20] skilau commented on #172
@gtxaspec  Thanks!

I am now running with the new kernel, the dmesg logs look a whole lot cleaner, and indeed, the Floodlight is now seen properly.
After running some quick tests turning it on and off, it looks good.

So that was definitely the issue and fix, thank you!

Of course, I am not sure of the way to ultimately resolve this, as most people would probably want High Speed USB.

[2022-07-11 02:26] gtxaspec commented on #172
thanks for the feedback.  I will look into the newer dwc2 drivers, and test to see if they compile on our kernel.

[2022-07-11 02:44] guarddog13 commented on #171
Would I call for it in the config still? I put it at /opt/wz_mini/[my own file called Scripts] then I put that path in the configuration. That seems to be working. Is putting it in opt/wz_mini/etc/rc_local.d a better option or does it matter?

[2022-07-11 03:19] gtxaspec commented on #171
no need to put the path in if you put it in the rc_local.d

[2022-07-11 03:40] guarddog13 commented on #171
I'll try it like that then. Thank you so much. Thank you for this, as well. This is amazing and so much faster than *cough* IFTTT.

[2022-07-11 07:27] guarddog13 commented on #171
All setup on all 3 cams. Wow this is amazing btw. Was able to flash the regular firmware back, looks like I get to keep all features plus now my agent dvr is only consuming 20 percent of my CPU compared to 60 before. Gracias

[2022-07-11 14:54] claudobahn commented on #133
@gtxaspec noticed you removed all the sources for libcallback as part of the commit for this (https://github.com/gtxaspec/wz_mini_hacks/commit/d87d43241fbd04e4b7304e2aca94d42dbab088dd). Any chance you could restore that?

Seems like a useful piece of source code for expanding functionality.

[2022-07-11 22:38] gtxaspec commented on #172
@skilau can you share some logs? trying to figure out how the camera here audio to the footlight speaker... lsusb if you can

[2022-07-12 00:43] jemershaw commented on #157
Well it turned out the camera I moved ended up having the same problem but this time video1 doesn't work and video2 is black but audio works no problem.

[2022-07-12 00:50] jemershaw commented on #157
I'm able to recover by running `cmd video off` then `cmd video on` not sure what that does but is there a possibility at startup there is a sync problem between the os and hardware?

[2022-07-12 03:01] skilau commented on #172
@gtxaspec Sure!  Sorry I missed this request earlier!

# lsusb
Bus 001 Device 002: ID 05e3:0610
Bus 001 Device 001: ID 1d6b:0002
Bus 001 Device 003: ID 1b3f:2008
Bus 001 Device 004: ID 1a86:7523

[2022-07-12 03:02] gtxaspec commented on #172
@skilau is this with no devices plugged into the camera?

can you also do `logread | grep sound`

[2022-07-12 03:05] skilau commented on #172
@gtxaspec :  Correct.  I just have the Floodlight with the Cam only.  No other devices plugged into the external USB port.

`
# logread | grep sound
May 13 15:22:37 audiocardprocess: [soundcard_watchdog_init] ok TimerId:0
May 13 15:22:42 iCamera: soundcard_module_init Successfully
May 13 15:22:45 audiocardprocess: [watchdog]dbg: soundcard_watchdog_snd_msg_feed [time:1652473365]
May 13 15:22:46 iCa

[2022-07-12 03:08] gtxaspec commented on #172
@skilau interesting.  We had an issue with the kernel and the new version of libcallback, iCamera was breaking sound because we were using the same pcm device assigned to a "soundcard".   The ingenic device's use a custom OSS sound implementation, so there should be no concept of a soundcard in these devices...

Originally we thought to disable the whole soundcard_module_init function, which was a

[2022-07-12 03:17] skilau commented on #172
@gtxaspec Ah, I hadn't considered that.  Now I had to go look up that USB id:
"Generalplus Technology USB Audio Device"

I suppose that might make sense.  I think the Audio is better on this compared to the regular Camera.
And the Alarm on it is VERY loud.  It is meant to scare people off, and it sure would once they hear it! :)

[2022-07-12 03:17] gtxaspec commented on #172
you should try piping an mp3 radio station to it using cmd aplay...lol

[2022-07-12 03:19] skilau commented on #172
Ha, that is an interesting idea!
PS: You should have heard it when I first set it up on Wyze!
It screamed "READY TO CONNECT", and I swear the whole neighborhood could hear it!

[2022-07-12 04:01] gtxaspec opened #174 "Don't require a wifi connection to use usb-ethernet"
### Discussed in https://github.com/gtxaspec/wz_mini_hacks/discussions/173

<div type='discussions-op-text'>

<sup>Originally posted by **UncleJohnsBnd** July 11, 2022</sup>
Does a Wi-Fi signal need to be available for the USB network adapter to be able to work?

I setup a brand new Cam3 with no SD card and got it working on the app.

Formatted 256gb SD to Fat32 and copied all the files in SD_ROOT

[2022-07-12 05:08] gtxaspec commented on #172
@skilau need some more logs when you get a chance:

 `/sys/devices/platform/jz-dwc2/dwc2/usb1/speed`
`/sys/devices/platform/jz-dwc2/dwc2/usb1/speed`
`/sys/devices/platform/jz-dwc2/dwc2/usb1/1-1/product`

[2022-07-12 05:14] gtxaspec commented on #172
I see how this works on the stock kernel, all usb devices are limited to full-speed (12mbps) by default.  This is how they have it working.

[2022-07-12 10:37] gtxaspec commented on #172
@skilau just to test, does the speaker work when you talk through the app? or use the siren?

[2022-07-12 11:06] gtxaspec commented on #169
fixed in latest libcallback release, upcoming wz_mini release

[2022-07-12 11:06] #169 closed

[2022-07-12 11:06] gtxaspec commented on #163
fixed in latest libcallback release, upcoming wz_mini release

[2022-07-12 11:07] gtxaspec commented on #152
latest libcallback release

[2022-07-12 11:07] #152 closed

[2022-07-12 17:15] capncybo commented on #163
To clarify: Which Bug?
-the Timeout not working
-Ctrl-c Crashing future attempts to run: cmd waitMotion

[2022-07-12 18:05] gtxaspec commented on #163
timeout not working - fixed
ctcl-c crashing future attempts to run - you have to wait until the original waitMotion period you specified has expired to run it again.

[2022-07-12 18:59] guarddog13 opened #175 "Won't Load"
I'm struggling quite a bit with this on installating it on my 4th camera. For some reason it just won't load the wz_mini. I was having this issue last night as well but it eventually stuck. Not sure what i can do to get it going on this camera.

[2022-07-12 19:40] capncybo commented on #175
Did you try & power down one of your other "working cameras"...
remove it's microSDcard & try inserting it & powering up the problematic one?

[2022-07-12 19:49] guarddog13 commented on #175
Just tried that.. with a fresh install of the latest firmware still doesn't boot up. Red light turns on then off. Setup button doesn't respond either.

[2022-07-12 19:50] gtxaspec commented on #175
try a fresh install again., boot the camera, wait a while, if it still doesnt boot, pull the sd card and check the logs folder inside the wz_mini directory.  any logs there?

[2022-07-12 20:15] guarddog13 commented on #175
@gtxaspec There's 2 files in there. One called .gitignore and one called wz_inti.log.

This is what's in it.

+ echo 'replace stock busybox'
replace stock busybox
+ mount --bind /opt/wz_mini/bin/busybox /bin/busybox
+ echo 'replace stock fstab'
replace stock fstab
+ mount --bind /opt/wz_mini/etc/fstab /etc/fstab
+ echo 'mount wz_mini tmpfs'
mount wz_mini tmpfs
+ mount -t tmpfs /opt/wz_mini/tmp
+ e

[2022-07-12 20:15] guarddog13 commented on #175
On a sidenote I put the card back in the other camera and now the custom script I had in rc.local.d isn't working anymore.

[2022-07-12 20:17] gtxaspec commented on #175
do you hear the audio prompt on the camera that doesn't boot? is it the regular V3? or a floodlight or something else?

[2022-07-12 20:25] guarddog13 commented on #175
It is the regular V3 and I did hear both audio prompts about first boot and extracting swap. It appears that it stops right at the extracting swap so I'm going to try to set that to false and see what happens.

[2022-07-12 20:26] gtxaspec commented on #175
try a different memory card if you can (i know you already tried one from another camera)

[2022-07-12 20:29] guarddog13 commented on #175
Thats my next goal i have to either find one or go grab one. Wifey gonna grab one for me lol.

[2022-07-13 01:39] guarddog13 commented on #175
New SD card, same behavior. I finally got it. I ended up doing everything completely clean lol.
1. Put the firmware back on cam.
2. Reformatted fat 32
3. Didn't edit any of the SD Root except the ssh file. Seems that edited the conf file before transferring causes issues.

[2022-07-13 01:39] #175 closed

[2022-07-13 01:39] guarddog13 commented on #175
Thank you!

[2022-07-13 01:44] #171 closed

[2022-07-13 01:44] guarddog13 commented on #171
Thank you!

[2022-07-13 02:15] skilau commented on #172
@gtxaspec :  I had honestly never triggered the alarm before, so I just tried it now!
It does work, it does like a pretty loud Beep-Beep-Beep noise, and flashes the LED floodlights off and on.

dmesg shows:
[82886.015402] SPEAKER CTL MODE3 !
[82888.196972] SPEAKER CTL MODE0 !
When I trigger the alarm (and turn it off)

[2022-07-13 02:47] gtxaspec commented on #172
@skilau voice too?

[2022-07-13 06:30] virmaior commented on #119
I will probably try to put something together on the weekend, but my initial thoughts for a completely unsecure dangerous version are:
1. write a bash script that turns each line of wz_mini.conf  VAR=val into a <input type="text" name="VAR" value="val" /> .
2. encapsulate that with a html / form / body over it.
3. another bash script that would use that to pump a revised version of wz_mini.conf an

[2022-07-13 07:44] gtxaspec commented on #32
boot log
[code]

[2022-07-13 08:23] gtxaspec commented on #32
possible microSD interface
![20220713_011000.jpg](https://user-images.githubusercontent.com/12115272/178686560-3f180a91-6611-4b6f-8fc4-c496bdf99efa.jpg)

[2022-07-13 10:17] gtxaspec opened #176 "USB sound card support"
need to test various cards.   probably needs snd-usb-audio

check for:
cannot submit urb 0, error -22: internal error

will allow connecting camera to external speakers and microphone

natively supported in app.

[2022-07-13 12:05] virmaior commented on #119
rudimentary display on ini via httpd is now functional: https://github.com/virmaior/wz_mini_hacks/tree/master/SD_ROOT/wz_mini/web/cgi-bin

`httpd -p 80 -h /opt/wz_mini/web`

will make a pull request once I've gotten the updating script built.

[2022-07-13 13:28] guarddog13 opened #177 "cURL Support?"
I know I asked in a comment....(newb move lol).

But figured I'd open a feature request too, as I it's fairly important to my goals. cURL support would open up all kinds of possiblilities to use motion for triggers it would open up things like maker api calls via Hubitat, could make POST requests to basically any home auto software that supports it. My idea is to skip even Home Assistant and have

[2022-07-13 23:20] gtxaspec commented on #177
I thought I had included both wget and curl, oops.  I'll throw in curl for you.

[2022-07-13 23:22] guarddog13 commented on #177
That's awesome cURL would be amazing.

[2022-07-13 23:32] gtxaspec commented on #177
added in https://github.com/gtxaspec/wz_mini_hacks/commit/7e56f96e443e1e02dcc7cba2ff743fe14bf7264c

[2022-07-13 23:37] gtxaspec opened #178 "garage door opener accessory testers needed"
Does anyone have the garage door opener accessory?  If so, does it work while using wz_mini?  can you provide the output of `lsusb` and `dmesg` while it's hooked up if you do?

thanks!

[2022-07-13 23:50] gtxaspec commented on #163
out now in https://github.com/gtxaspec/wz_mini_hacks/commit/68b0e2092ea8e64b679fad60f1c61e12b514eeee

[2022-07-14 01:27] gtxaspec commented on #156
maybe those functions for AP standalone mode are present in the regular binary...

[2022-07-14 02:28] endertable commented on #32
Nice meticulous breakdown of the doorbell.  It's good they find to keep they're hardware very similar.  Also makes it easier for us.  :)

[2022-07-14 02:30] jemershaw opened #179 "Branch no-conntrack/video regression"
I'm just wondering what the status was for the no-conntrack branch?

I think it fixed some of my connection problems  with the v3 and the latest firmware.

I think I might have ran into something similar to https://github.com/gtxaspec/wz_mini_hacks/issues/161 but with the video being a black screen in rtsp(this was using the master branch)

[2022-07-14 02:43] endertable commented on #156
The only binaries I have to add to regular FW (for over a year now) has been the hostapd binary which allows one to turn the Cam into a "hotspot" or AP mode.  Was using their old binary from their V2 RTSP and now got the new updated version from Car FW, hehe.  They don't include that binary in their "regular" FW.  If you touch "/configs/.toycar" it goes into AP mode after reboot and the iCamera wi

[2022-07-14 02:51] gtxaspec commented on #179
@jemershaw issues even with today's latest release?

[2022-07-14 03:28] #177 closed

[2022-07-14 03:42] jemershaw commented on #179
I just installed it, it usually takes a few reboots etc before the video on startup has problems.

[2022-07-14 03:42] gtxaspec commented on #179
ok let me know, if you still have issues I will update the conntrack branch too.

[2022-07-14 03:47] jemershaw commented on #179
Yes it looks like it is still happening on the latest master release. My guess is because I have rtsp-simple-server trying to connect once it is listening.

[2022-07-14 03:48] gtxaspec commented on #179
@jemershaw and it only works with nocontrack?

[2022-07-14 03:54] jemershaw commented on #179
I think it was still happening on that branch. I only ran into the audio problem in the no-conntrack branch but I didn't test that much so let me redeploy.

[2022-07-14 04:02] jemershaw commented on #179
The video seems fine but the audio doesn't seem to want to work.

[2022-07-14 04:03] gtxaspec commented on #179
so:
master no video
no-conntrack video ok, audio broken

[2022-07-14 04:12] jemershaw commented on #179
@gtxaspec that is correct. This is for a V3 camera.

[2022-07-14 04:13] SomebodySysop opened #180 "Keep wz_mini alive"
I just installed wz_mini_hacks on V3 cam.  I have only enabled usb_ethernet and rtsp.  It runs for a few hours, then for some reason stops (crashes?) and WyzeCam wifi returns.  In addition, I can no longer ssh into the unit without restarting it.

I'm wondering is there some way to keep wz_mini alive?  Some way for the server itself to detect when it has stopped, and restart it?

I do not know why

[2022-07-14 04:14] gtxaspec commented on #179
and it only happens when using `rtsp-simple-server`?

[2022-07-14 04:17] gtxaspec commented on #180
check the logs folder inside wz_mini/logs

you can also run `gather_wz_logs.sh` and upload the archive here for analysis

[2022-07-14 04:44] SomebodySysop commented on #180
Attached is my log .gz file.

Suggestions on what I should be looking for in logs?

[log_gather_2022-07-14_T0423.tar.gz](https://github.com/gtxaspec/wz_mini_hacks/files/9108457/log_gather_2022-07-14_T0423.tar.gz)

[2022-07-14 04:54] gtxaspec commented on #180
what ethernet adapter are you using?
[code]

[2022-07-14 04:54] gtxaspec commented on #180
also, checkout today's release, there are some bug fixes.

[2022-07-14 04:56] gtxaspec opened #181 "add lsusb to gather_logs"
add lsusb to gather_logs

[2022-07-14 05:21] SomebodySysop commented on #180
This adapter: https://www.amazon.com/dp/B07M5X9795

With this setting:

ENABLE_USB_ETH="true"
ENABLE_USB_ETH_MODULE_AUTODETECT="false"
ENABLE_USB_ETH_MODULE_MANUAL="ax88179_178a"

[2022-07-14 05:52] gtxaspec commented on #180
does it work if you use "cdc_ether" instead of the ax88179 driver?

[2022-07-14 06:11] SomebodySysop commented on #180
No.

[2022-07-14 06:19] SomebodySysop commented on #180
I was following the lead of the guy who said:

You beat me to it. I've just received an adapter like yours (but no brand) and it is exactly an ASIX AX88772B USB 2.0 Ethernet. Works by enabling usbnet.ko and asix.ko drivers.
https://github.com/gtxaspec/wz_mini_hacks/discussions/73#discussioncomment-2926703

[2022-07-14 06:20] gtxaspec commented on #180
try asix instead of ax88179_178a

[2022-07-14 06:24] gtxaspec opened #182 "lamp socket accessory testers needed"
lamp socket accessory testers needed!  does the socket work with wz_mini?

[2022-07-14 06:45] SomebodySysop commented on #180
I tried asix and also auto detect.  Neither works.  The only one that works is ax88179_178a

I did, however, download and copy the latest zip build.

[2022-07-14 13:41] mcondren commented on #182
It does. Just installed this week. Been running for about 24 hours. I did set it to on 24/7 in the Wyze app and 16 hours later found the light off again, but I was able to turn it back on again in the app. Will continue to monitor.

[2022-07-14 14:44] virmaior commented on #119
more progress (https://github.com/virmaior/wz_mini_hacks/commit/9c065b078fde7645c6610202d238c80e03d8f420). It's basically midnight here so I'm done for the day but can now
1. display options with minimal typing support (true/false or text)
2. POST data to the server from that form
3. produce a new wz_mini.conf from it
4. rotate out old versions of the conf file (not presently targeting the real lo

[2022-07-14 15:55] SomebodySysop commented on #180
Crashed again this morning.  I modified wz_mini.conf:

ENABLE_USB_ETH_MODULE_MANUAL="asix, ax88179_178a, cdc_ether, r8152"

This was in dmesg.log:

[   28.671915] usbcore: registered new interface driver asix
[   29.316754] ax88179_178a 1-1:1.0 (unregistered net_device): Failed to read reg index 0x0040: -32
[   29.505226] ax88179_178a 1-1:1.0 eth0: register 'ax88179_178a' at usb-dwc2-1, ASIX AX881

[2022-07-14 19:53] jemershaw commented on #179
I haven't been able to time it right to create a connection without rtsp-simple-server. It seems like the lastest master release over some time the rtsp session for the tcp connection loses video. Still unclear why.

[2022-07-14 20:40] gtxaspec commented on #179
have you tried using UDP instead of TCP?

[2022-07-14 20:58] guarddog13 opened #184 "Waitmotion timing out periodically"
Any ideas how I could watch for this timeout to happen and then possibly have another script restart the timed out script so i don't have to continually monitor all the cameras and reboot them to get it going again?

[2022-07-14 21:01] gtxaspec commented on #156
working in https://github.com/gtxaspec/wz_mini_hacks/commit/84c893e593678016359d8909c4addaf8c9855d65

[2022-07-14 21:01] #156 closed

[2022-07-14 21:21] guarddog13 commented on #184
I downloaded the most recent release yesterday after you provided cURL support. Has there been a more recent update?

Here's the script I'm using.

#!/opt/wz_mini/bin/bash

while true
do
  ret='cmd waitmotion 1000 | grep "timeout" | wc -l'

  if $ret -eq 0 ; then
    echo "Reporting motion!"
    curl -q http://myAgentDVR.com/api/
  else
    echo "No motion found!"
  fi
done

It runs like it should

[2022-07-14 21:35] gtxaspec commented on #184
you could also try something like

#!/bin/sh

while true; do
[code]

[2022-07-14 21:44] guarddog13 commented on #184
Ugh how do the others get it to format right? Not having proper indents is driving this newb insane lol. #!/bin/sh vs... #!/opt/wz_mini/bin/bash? Does that make a difference?

[2022-07-14 21:48] gtxaspec commented on #184
in the github box, for the formatting you use three backticks

[code]
code
[code]

[2022-07-14 21:54] guarddog13 commented on #184
Hey look at that...thank you!

[2022-07-14 22:26] guarddog13 commented on #184
cmd waitmotion 10 or 1000? So every 10 seconds that echos the "Reporting Motion" and sends the POST to my server. It's returning timeout but still sending the commands after the if...as if the if doesn't exist. I may have formatted it incorrectly. How you have it formatted throws all kinds of errors and it exits. lol

[2022-07-14 22:35] gtxaspec opened #187 "DO NOT Upgrade to 4.36.10.2163 beta"
this BETA release has significant back end changes, and  breaks all libcallback functionality.

If you like RTSP, do not upgrade.  Otherwise, you can still use wz_mini to get root.

It appears they do not like competition =D

Very likely that they are actively developing to block the RTSP side of wz_mini and related projects.  just an FYI.

Honestly, it makes no sense to me, now, people will just

[2022-07-14 23:11] endertable commented on #187
Wyze actively looking for hacks, but this also happens because people complain to them that a hack does not work and they need tech assistance for it or need to return their bricked or non-working device.  :(

Reminder for us all:  Do NOT go to vendor for any issues with this hack.

[2022-07-15 03:17] capncybo commented on #187
This is TERRIBLE News, I've been worried something like this would eventually happen. for a while now.
So, I just saved myself a backup of the Last working firmware.
But In the immediate to prevent future pain, for us, RTSP users... shouldn't we configure:
DISABLE_FW_UPGRADE="true"
&
I doubt you've had very much time to reverse engineer whatever it is they've just done but in your expert opinion:

[2022-07-15 03:36] ryny24 commented on #187
Does 4.36.10.2163 only break RTSP, or does the V3 not boot if RTSP is enabled on 4.36.10.2163?

I just tried to change DISABLE_FW_UPGRADE="true", rebooted but my camera didn't come back. I'm using ethernet. After power cycling, changing the setting back, no help. I even downloaded the latest wz_mini_hacks and started fresh, but still no good.  Luckily, I had a saved SD_ROOT from Jul 8th, this work

[2022-07-15 03:54] guarddog13 commented on #184
All my cameras are running great now with that code. A new problem though lol. The scripts won't auto load on boot. I have to go into putty and ```nohup ./path/to/script & them``` to get them going and keep them going.

[2022-07-15 03:57] gtxaspec commented on #187
4.36.10.2163 only breaks RTSP and any libcallback related functions, for now.

Let me test the DISABLE_FW_UPGRADE. stand by

[2022-07-15 04:01] guarddog13 commented on #187
Well I guess I'll be downgrading cameras as I buy them....although the last two I bought from both Best Buy and Amazon had firmwares several versions old lol.

I always keep the stable firmware right on my desktop lol.

[2022-07-15 04:01] gtxaspec commented on #184
i think theres a bug in the script execution logic, stand by

[2022-07-15 04:03] gtxaspec commented on #187
4.36.9.139 is a pretty solid firmware version anyway

[2022-07-15 04:04] guarddog13 commented on #184
You're amazing...otherwise now that you provided the script they work great. I just have to manually start the script...which isn't a problem as long as I don't lose power and the script doesn't crash.

[2022-07-15 04:08] guarddog13 commented on #187
My family is enjoying the auto lights without talking to Google or finding a light switch they never use...I won't be losing 139 as I'm so not getting yelled at by a 4 year old because the kitchen didn't turn on for him lmao. I may even download a couple older firmwares...just in case.

[2022-07-15 04:17] gtxaspec commented on #187
enabling disable_fw_upgrade and then hitting upgrade in the app causes iCamera to crash...sheesh.  Something changed there.  For now, don't enable it, since the new FW is beta anyway.  I'll have a fix for the crash issue coming up

[2022-07-15 09:08] virmaior commented on #119
Rudimentary web server ready (or so I imagine) for integration: https://github.com/gtxaspec/wz_mini_hacks/pull/188

could still use:
1. more precise updating (right now it replaces everything)
2. pull in descriptions
3. some knowledge of parameters that can be changed without reboot
4. atomcam_tools style still image
5. better protection. You can almost certainly break it by using non [A-Za-z0-9]

[2022-07-15 16:30] SomebodySysop commented on #180
Swapped out with this ethernet adapter which I purchased years ago: https://www.amazon.com/gp/product/B00MYT481C/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1

With this OTG cable: https://www.amazon.com/dp/B07QGZK4FF?psc=1&ref=ppx_yo2ov_dt_b_product_details

Been working for the past 24 hours with no crash or reported fails in dmesg.log

Thank you!

[2022-07-15 17:01] capncybo commented on #184
To get it to work...
I had to remove the first * just before "detect"* on the "if" line + the OCD in me got me tinkering so he's mine, for the cut-n-paste type-people ;-)
` ` `
#!/bin/sh

while true; do
ret=$(cmd waitmotion 10)

if [[ "$ret" == "detect"* ]]; then
  printf "\nMotion-detected "
  date
  #Do Something here
  curl -s "http://__________________"  > /dev/null
  #cooldown time: but ONLY

[2022-07-15 17:11] jemershaw commented on #179
I didn't try, do you know if it is it listening by default?

[2022-07-15 17:27] gtxaspec commented on #179
it listens on udp and tcp by default

[2022-07-15 18:11] sideup66 commented on #187
I hope they do not send a C&D to gtxaspec :( . Though how could they? we are not modifying or reverse engineering their code in any way. The chinese version of this camera without their proprietary binary. If that scenario happens I wonder if there is a way we can straight fork from what wyze started with into our own firmware for the camera entirely....Is there any kernel level changes in this?

[2022-07-15 18:14] gtxaspec commented on #187
it's really a game of cat and mouse, with most manufacturers.  They close the loopholes, new ones are found.  Projects stop, new ones start.  The cycle continues.

[2022-07-15 18:22] guarddog13 commented on #184
What I have now runs great when I get back later I'll take that first * out. Did that get them to start on boot for you? That's my only issue now...this made these cameras worth every penny lol.

[2022-07-15 18:36] gtxaspec commented on #184
latest update has a fix for the script execution.

[2022-07-15 18:38] gtxaspec commented on #187
latest version fixed `DISABLE_FW_UPGRADE="true"`

here is the behavior:

once the variable is enabled, the watcher will wait and detect an incoming update, once an update is detected on the device, it will force an immediate reboot.  The update will not continue, as they are only pushed once to the camera upon request.

[2022-07-15 18:59] jsolarin commented on #38
I added the following to a custom script, /opt/wz_mini/startup.sh, (192.168.1.9 being my ntp server)

[code]

This seems to help stop the camera from looping the interface restart when it doesn't have internet, but I think the iCamera binary still does a heartbeat every 3 minutes to the wyze servers and kills the network for a second.

I tried "mount --bind /opt/wz_mini/bin/wpa_cli.sh /bin/wpa_cli

[2022-07-15 19:01] gtxaspec commented on #38
There's a way to hook the function in iCamera to stop it from cycling the network on firmware up to 4.36.9.139.  Working on it.

Be advised I've discovered that blocking some of  those domains may lead to iCamera crashing.

[2022-07-15 19:10] jsolarin commented on #38
That would be great, its terrible that they restart the network stack from the app.

Interestingly, with those domains blocked, the Wyze app still works when I open the camera back up to internet... I'm on 4.36.2.5 currently. No iCamera crash yet.

[2022-07-15 20:03] endertable opened #190 "V2 uBoot experiment"
@gtxaspec One of my V2 cams had a unique md5sum for /dev/mtd0, so I took your V2_kernel.bin and placed it as factory_ZMC6tiIDQN on the SD card.  Not really sure if that is the way it would work or if you have to compile that kernel file a different way for SD card, but the cam is reacting to the factory file.  Unfortunately, in this case, it is rebooting.  Would you like a copy or is that boat not

[2022-07-15 20:07] #190 closed

[2022-07-15 20:12] gtxaspec commented on #190
@endertable

name it `factory`
and see what happens.

also you can analyze uboot: `dd if=/dev/mtd0 of=/opt/mtd0.bin` and then run `strings /opt/mtd0.bin | grep factory` and see if you get any output

[2022-07-15 20:18] endertable commented on #190
Yep, I grepped 'factory' and I got: factory_ZMC6tiIDQN
I renamed it to 'factory' and it didn't start wyze_mini, just started normal but the filename above is what puts it into a reboot-loop.

I guess I should also mention, this cam does not have a wz_mini modified kernel loaded on it..

So should it just be as simple as putting your V2_kernel.bin on the SD card as factory_ZMC6tiIDQN or do those ke

[2022-07-15 21:01] gtxaspec commented on #190
send me the mtd0.bin file with the md5sum and I'll test it

[2022-07-15 21:16] gtxaspec commented on #190
@endertable to confirm, this is from a V2? what color?

[2022-07-15 21:27] endertable commented on #190
It is a white V2 cam and i used the following command:

dd if=/dev/mtd0 of=/tmp/mtd0

Sorry the final file I sent you was based on my script's naming convention of {Camera Name}_{MAC address}_{MD5 hash}_uBoot but it is the file from above command.  Most of my V2's uBoot have an MD5sum of b1f6f38dbb48d4e9d8911833aff0bc99

If you prefer, if you want to send me a factory_ZMC6tiIDQN, I can do the test

[2022-07-15 21:39] gtxaspec commented on #190
just wanted to make sure =D  I have a v2 wired up with a flash chip wired up externally.   so if i need to reprogram the flash chip no big deal

[2022-07-15 21:59] gtxaspec commented on #187
wyze has pulled the beta of 4.36.10.2163 due to bricking of cameras ...

[2022-07-15 22:08] clee604 commented on #187
what were the advertised benefits of this beta firmware anyways?

[2022-07-15 22:59] gtxaspec commented on #190
it works fine, and boot wz_mini.  i tested this by erasing /dev/mtd2, where the kernel lives on the camera.  then renaming v2_kernel.bin as the factory file, it boots it fine.  what a find!

[2022-07-15 22:59] gtxaspec commented on #190
@endertable you don't have any PAN camera's do you? lol

[2022-07-15 23:12] endertable commented on #190
I do, if my memory serves me they had the sane uboot md5 as the other V2’s.  I can confirm that when I get back to my server.

[2022-07-15 23:31] capncybo commented on #187
Is it wrong of me to enjoy seeing WYZE having to retract & retreat a little, LOL

[2022-07-16 00:26] guarddog13 commented on #184
I'm still having issues with this on all 3 cameras.

[2022-07-16 00:35] gtxaspec commented on #184
its probably launching too early then.  add `sleep 10` right above `while true` and see if that works?

[2022-07-16 00:41] gtxaspec commented on #184
it works for me with sleep 10...

[2022-07-16 00:45] guarddog13 commented on #184
I'll see if I have to do that if I have more issues. I started them all fresh did a couple of reboots and now all good. You're likely right cause it's random if it works or not. Plus no more errors with that first * gone.

[2022-07-16 00:57] #184 closed

[2022-07-16 03:47] gtxaspec commented on #172
got my floodlight.  It appears the serial adapter is a full-speed device, and the soundcard is a high-speed device, which is why audio works, but the floodlight control does not, unless we force the camera to full-speed.

[2022-07-16 04:56] endertable commented on #190
yes, the pancam V1 have the same md5sum as most of the V2's:  b1f6f38dbb48d4e9d8911833aff0bc99

[2022-07-16 05:06] gtxaspec commented on #190
nice.  now we just need someone to be a guinea-pig and test flash the bootloader on the pan... sadly I don't have one anymore I borrowed the ones I used to test

[2022-07-16 05:10] endertable commented on #187
It looks like they created iCamera into a huge super binary putting alot of the libraries into the one file.  It got to over 4MB in size from the mere 1.9MB in version 4.36.9.131.  I wonder if that's their way of having libcallback not work so easily anymore.
When you crunch so much into one thing there is a chance you're gonna break something..

[2022-07-16 05:16] endertable commented on #190
So I imagine you are using the flasheraseall commands?  What exact commands did you use to put the boot onto mtd0?

[2022-07-16 05:33] gtxaspec commented on #190
just

`flashcp -v file.bin /dev/mtd0`

no need to do flash erase all.  flashcp does the erase.

[2022-07-16 05:39] gtxaspec commented on #187
right, before the libraries were dynamically linked and loaded, now they are statically compiled in.

[2022-07-16 11:40] KillahB33 opened #191 "Bricked?"
I followed the instructions for a v2 camera and my camera is just slow flashing now and clicking (the sound it makes when it's going in/out of night vision)
Wondering what I can do now, I tried factory reset (holding setup button for 10 seconds) and still not working.
Not sure how to proceed.

[2022-07-16 12:08] KillahB33 commented on #191
Just found this issue, flashing Kali to a usb and will boot off that and try and remake the sd card. Will report back.

[2022-07-16 12:43] virmaior commented on #119
I've updated what I've done so far in the following ways:

1. by renaming wz_mini_web.sh to index.cgi , it will automatically be the default page at the IP address: 192.168.9.101
2. added support for showing the hack version correctly with hackver=$(cat /opt/wz_mini/usr/bin/app.ver)
3. added support for explanatory text on the right. match the name of the file to key.md and it will load it at that

[2022-07-16 14:08] KillahB33 commented on #191
Yep that was it so thank you @brentfraser

[2022-07-16 14:08] #191 closed

[2022-07-16 14:43] capncybo commented on #187
IMO Newer is NOT always "Better" & regarding making it into a single BIG Binary... YUCK !!!  But that will certainly protect WYZE's Intellectual Property.  My concerns with them moving in this direction is not only them making it harder (if not near impossible) to hack.  But with WYZE stuffing almost everything into their own binary... they can probably send a C&D Order & say Hands-off our IP.  Ho

[2022-07-16 20:24] endertable commented on #190
Ok, I did it to Pancam and rebooted and I verified it took by doing an md5sum on a dd out.  So at minimum I know it works with the stock firmware so no reason it shouldn't work with the factory file.  This cam also has a V1 sensor on it's back and I just got back from doing stuff and am on my way out to go do stuff so when I get back later I can test it with wz-mini boot.

[2022-07-17 06:35] endertable commented on #190
Strangest thing, is that the cam that I got the uBoot off of reacts to the factory file but it goes into a boot-loop.  The yellow light goes off for a second then comes on to reboot.   Sometimes it will just go on to boot the stock FW kernel on mtd2, but it absolutely refuses to boot wz_mini.  I used the same SD card on other V2's after I reflashed their uBoot and no issue, just the one cam.  No l

[2022-07-17 06:38] gtxaspec commented on #190
wierd I put it on all the v2s I have tomorrow and test.  can you access the serial console on the one that doesn't work (if you have the ability to)?

[2022-07-17 16:22] virmaior commented on #119
I won't have time to test it tonight but have static image support using `cmd jpeg` (not in merged branch yet: https://github.com/virmaior/wz_mini_hacks/tree/master/SD_ROOT/wz_mini/www/cgi-bin )

[2022-07-17 22:17] gtxaspec commented on #180
user resolved, closing! =D

[2022-07-17 22:17] #180 closed

[2022-07-17 23:48] gtxaspec commented on #174
@UncleJohnsBnd this should be fixed in the latest release today, can you test?

thanks

[2022-07-17 23:52] gtxaspec commented on #172
the solution I think is to patch the dwc2 driver, if there a low speed device somewhere on the bus detected, we must force the host controller to full-speed.  if the device is removed, switch it back to full speed.

[2022-07-18 03:36] capncybo opened #192 "upgrade-run.sh just broke my RTSP stream on v3 WYZE cams"
Just ran upgrade-run.sh @ 9:15pm Sunday July 2022...
It seems to have broken my RTSP stream on all THREE of my V3 WYZE Cameras.

[2022-07-18 04:01] gtxaspec commented on #192
@capncybo any logs from the wz_mini/logs folder?

[2022-07-18 04:06] gtxaspec commented on #192
@capncybo i found the problem.  the commit intended to fix the wifi-ethernet from earlier today has broken the rtsp password code.  i will fix this now

[2022-07-18 04:42] virmaior commented on #119
put in a new pull request including the screenshot feature.

When I get around to it, I can copy the sort of thing atomcam_tools does -- it's not a live feed in the configuration page; it's a 1x/second refresh the image.

[2022-07-18 04:54] capncybo commented on #192
Oh-Man you are fast... guess you don't need my logs then.  THX

[2022-07-18 05:11] gtxaspec commented on #192
fixed in latest master, please test @capncybo

[2022-07-18 05:33] capncybo commented on #192
Resolved all THREE v3 Cameras are working after re-running: upgrade-run.sh
Thanks AGAIN

[2022-07-18 09:50] virmaior opened #194 "version 20220718 - broken usb_direct"
I just tried to upgrading one of my cameras to the latest version. I ran into the following issues:
1. wyze_hacks seems to be incompatible with the wz_init.sh code (rectified by adding a line to remove wyze_hacks code from rcS).
2. usb direct doesn't appear to be working. The camera defaulted to wifi. Bonding didn't work. was able to manually raise the usb direct connection via wifi.
3. `cmd jpeg`

[2022-07-18 11:25] UncleJohnsBnd commented on #174
No... Not working.... I get a steady blue flashing light with USB Ethernet set to true with the 2.4 on or off.  App shows connected but no feed, steady fast flash blue.

If I disable USB Ethernet I then connect but on wifi only.

[2022-07-18 13:30] virmaior commented on #194
It looks like a regression came up
where wpa_check changed.

not working code in 07-18-2022:
[code]

I think the versions from 7-17-2022 were working:
https://github.com/gtxaspec/wz_mini_hacks/blob/cfcad72bbfe0513831360d200a2e66f44fa6af3f/SD_ROOT/wz_mini/etc/init.d/wz_user.sh

https://github.com/gtxaspec/wz_mini_hacks/blob/3f7344111603dda48180a99e348efe4f9c792d74/SD_ROOT/wz_mini/etc/init.d/wz_user

[2022-07-18 13:53] gtxaspec commented on #194
ouch, I'll take a look.  thanks

[2022-07-18 15:30] capncybo commented on #192
RESOLVED

[2022-07-19 02:19] gtxaspec commented on #174
try doing a fresh install, working well for me on multiple cameras.

[2022-07-19 02:37] UncleJohnsBnd commented on #174
@gtxaspec I'll try again..... This is what I did.

Did a re-format
Installed new version
Let camera boot up and connect
Shut down
Updated config for USB = true
Restart

Starts up..... Fast flash blue light...  Like it is stuck in loop.

I'll let you know what happens this go around.

[2022-07-19 02:42] mcondren commented on #136
Just checking in on this. I am also seeing this issue with motion. Sometimes it creates artifacts, sometimes it drops most of the frames that include the motion and appears to freeze for a few seconds. 20fps.

[2022-07-19 02:52] UncleJohnsBnd commented on #174
@gtxaspec  yes.... It does work.  I forgot I had added in an extension cable so I decided to remove it and now it works just fine.

I thought this extension would carry the power and data but apparently not.  Need to find one that does...

CY Micro USB 2.0 Type B 5Pin Male... https://www.amazon.com/dp/B00S6AZCHW?ref=ppx_pop_mob_ap_share

[2022-07-19 04:01] gtxaspec opened #195 "web server UI"
@virmaior

the web config interface is awesome, i  have enabled it on all my devices!

1. after editing the config, all the spaces are removed from the wz_mini.conf file, is this by design?
2. after clicking update, I see if reboots right away, can we make rebooting an option, as in, "config updated, do you want to reboot now or go back to the config screen"
3. maybe we could add some text that wi

[2022-07-19 04:05] virmaior commented on #195
For 1, sheer incompetence on my part but built around the idea that the webpage is responsive to the configuration file (i.e., all new entries in the configuration file automatically are editable in the webpage because it derives its list from the configuration file rather than requiring separate maintenance). (I'll look into the spaces issues)
For 2, sounds good (I'll see when I can get to it).
F

[2022-07-19 04:08] gtxaspec commented on #195
@virmaior one more, maybe we could add an argument for jpeg.cgi for either 1 or 0 to indicate if we want to pull a 1080p or 360p image?

[2022-07-19 04:10] gtxaspec commented on #195
I forgot to mention, we do include bash, I remember in one of your commits you were talking about the ash vs bash intricacies.

[2022-07-19 04:12] virmaior commented on #195
@gtxaspec  was planning to check that out ... and then updating to the latest version temporarily clobbered my camera due to a regression error (cough). But hopefully I'll be able to update it to the latest version later today and work on these ideas.

ash vs bash, that's interesting. the cgi server definitely ran ash (which lacks associative array support) and required basically creating oodles o

[2022-07-19 09:20] virmaior commented on #194
confirmed fixed!

[2022-07-19 09:20] #194 closed

[2022-07-20 06:10] endertable commented on #190
Doing serial console access As always sounded interesting. I’m sure there are tutorials out there. Do you have some links to some? Or do you have your own tutorial and software/parts list?

[2022-07-20 06:20] gtxaspec commented on #190
do you have a raspberry pi? it's the simplest solution if you do... otherwise I can whip up a tutorial with photos

[2022-07-20 09:39] endertable commented on #190
I do have a raspberry pi.

[2022-07-20 11:08] virmaior commented on #195
jpeg.cgi and #3 (partially) from the list above done in latest pull request.

[2022-07-20 11:09] virmaior commented on #119
latest pull request shows an image that updates every second of the current camera view.

[2022-07-21 03:16] gtxaspec commented on #181
added in https://github.com/gtxaspec/wz_mini_hacks/commit/57bd0e8d9470f759ea4af85773f56e2210244316

[2022-07-21 03:16] #181 closed

[2022-07-21 03:16] gtxaspec commented on #174
resolved! =D

[2022-07-21 03:16] #174 closed

[2022-07-21 03:17] gtxaspec commented on #136
still experiencing this with the latest release?

[2022-07-21 03:17] gtxaspec commented on #179
any update? still having issues?

[2022-07-21 15:09] mcondren commented on #136
I turned off one of the two streams, reduced my bit rate by 3/4’s, and reduced my frame rate as well and it mostly went away. Perhaps the camera just can’t handle what I was doing, or my Wi-Fi network couldn’t.

[2022-07-21 15:47] virmaior commented on #195
added a version of the "do you want to reboot or keep editing?" (I'm not partial to how it's done).

Also fixed an issue where it was only making 1 backup. ash vs bash strikes again (maybe I don't know the path to the current bash but merely changing it to /usr/bin/bash lead to an auto 404).

From the list, I just need to figure out why it's clobbering blank lines. I've got an idea as to why but w

[2022-07-21 15:57] gtxaspec commented on #195
you can try `#!/opt/wz_mini/bin/bash`

[2022-07-21 17:51] Vendo232 commented on #195
web UI config? tell me more pls, I`m all in

[2022-07-22 01:10] virmaior commented on #195
@Vendo232 download latest master set WEB_SERVER_ENABLED=true in the config file.
then browse to ip address of your camera.
Currently three pages:
1. config page
2. car page
3. current camera jpeg page (your choice between channel=0 high res and channel=1 low res)

[2022-07-22 05:04] gtxaspec opened #201 "conf setting to prevent dns flooding"
add an option to wz_mini.conf to allow the user to prevent dns flooding on all devices.

[2022-07-22 15:10] virmaior commented on #195
I've figured out the space removal issue.

difference between the behavior of
[code]
where at least in ash, it's dropping the blank lines (possibly I've got the wrong IFS)
vs
[code]
which keeps them.

will upload when I've got a few more ideas sorted.

[2022-07-22 16:07] jemershaw commented on #179
I'm actually doing mapping with ffmpeg so udp doesn't work most of the time because video sometimes is corrupted.

[2022-07-22 16:18] jsolarin commented on #38
@gtxaspec any news on how to hook that function? I have found that if I unblock the internet from the camera, and let it do it's heartbeat, I can reblock the internet for a while before the camera "senses" it's blocked. After a random time (hours to days) however, the camera will again go into that network restart loop.

[2022-07-23 03:41] gtxaspec commented on #201
`ENABLE_LOCAL_DNS`
released in https://github.com/gtxaspec/wz_mini_hacks/commit/3175ed3d085d2f8c41de027abcb8763ea75b553f

[2022-07-23 03:42] #201 closed

[2022-07-23 03:54] gtxaspec commented on #190
![20220722_205322.jpg](https://user-images.githubusercontent.com/12115272/180589558-b500070d-e5d4-4eca-9fb3-0e3675a99b9b.jpg)

[2022-07-23 03:56] gtxaspec commented on #38
@jsolarin
try:

`touch /tmp/restart_wlan0.sh; mount --bind /tmp/restart_wlan0.sh /system/bin/restart_wlan0.sh`

does this prevent the camera from cycling the network?

[2022-07-23 04:28] jsolarin commented on #38
Interesting...

So I had it echo out to a file to see if it was calling that script... And it is...

[code]

But it still drops packets every few minutes when the log gets written to... So it's still restarting the network stack somehow?

[2022-07-23 04:34] gtxaspec commented on #38
yes, its re-running the dhcp client.  working on hooking it

[2022-07-23 04:40] jsolarin commented on #38
At least now we have timing,

Attempted to restart network at Sat Jul 23 04:22:37 UTC 2022
Attempted to restart network at Sat Jul 23 04:26:00 UTC 2022
Attempted to restart network at Sat Jul 23 04:29:23 UTC 2022
Attempted to restart network at Sat Jul 23 04:32:46 UTC 2022
Attempted to restart network at Sat Jul 23 04:36:09 UTC 2022
Attempted to restart network at Sat Jul 23 04:39:33 UTC 2022

[2022-07-23 06:50] gtxaspec opened #204 "implement standard init system"
convert init files to standard init system Sxx files

[2022-07-23 08:21] virmaior commented on #195
I think the latest pull request hits all of the issues here (https://github.com/gtxaspec/wz_mini_hacks/pull/205).

[2022-07-23 08:22] virmaior commented on #119
@skilau  I think the latest pull request (https://github.com/gtxaspec/wz_mini_hacks/pull/205) should handle most of what you were hoping for on this item.

What I completely lack a deep understanding of is whether there are any settings we can tweak without requiring reboot to take effect. That would be pretty cool.

Also I don't think we can get in-browser rtsp like video.

[2022-07-23 14:16] endertable commented on #119
@virmaior great job!  I agree the only way to get browser like video will be an mjpeg server or *maybe* onvif?

[2022-07-23 14:20] endertable commented on #190
Ok.  Did you solder or purchase some special clip pins.  And you use a special getty from pi or telnet to cam or is it a kermit proggy?

[2022-07-23 18:52] skilau commented on #119
@virmaior Absolutely!  I just tried it out now, and it works great!
Thank you so much for stepping up and doing this!

[2022-07-23 18:52] #119 closed

[2022-07-23 18:52] skilau commented on #119
The new web server/pages work great!

[2022-07-24 06:51] gtxaspec commented on #190
you can use something like these:
https://www.amazon.com/Connector-Arduino-Raspberry-Including-Headers/dp/B0815S6P8Y
you really don't have to solder the headers on,  use the male to female ones, and just poke them through while you are reading the terminal

you can use `tio` on the rpi to connect.  enable serial console in raspi-config

[2022-07-24 06:53] gtxaspec commented on #195
@virmaior looking real good! thank you so much

[2022-07-24 14:19] endertable commented on #190
Sweet!!  Part on order. You requested the output of uBoot.  Do I redirect output of tio to file or does it have an auto capture log file.  I am new this particular stuff but it sounds fun. 😀

[2022-07-25 15:21] gtxaspec commented on #195
from `http://0.0.0.0/cgi-bin/config.cgi`, if you click on the "Revert Menu" link on the bottom, you get a 404 error

[2022-07-25 15:39] virmaior commented on #195
indeed. should be fixed with this pull request (https://github.com/gtxaspec/wz_mini_hacks/pull/206)..

[2022-07-27 15:21] jsolarin commented on #38
So, I attempted to hook the /sbin/udhcpc binary after it aquired an IP address... but that just put the camera into a boot loop haha.

[2022-07-27 16:42] billotronic commented on #182
Tested on and off via app and it works fine. Will report back when I have a chance to test motion.

Wyze V3 4.36.9.139
Socket 0.9.025
wz_mini_hacks 07-25-22 (no version numbers?)

Thank you for this awesome project.

[2022-07-27 23:03] Vendo232 commented on #162
you can also use frigate NVR and add Wyze cams via RTSP then Frigate has amazing HA integration including selectable motion detection for person, cat, car etc..

![image](https://user-images.githubusercontent.com/44098230/181387174-46eb926e-3d75-4d5c-b89e-fd215f68928b.png)

[2022-07-28 08:18] SomebodySysop opened #207 "Edit authorized_keys file while system is online"
I installed winscp but it required that I create another public key in the putty format (my original key is in the ssh-2 format).  I have a wyzecam v3 running wz_mini_hacks to which I would like to add the new key without having to remove the sdcard.  I can still ssh in, but I need to add the new key in order to use winscp with it.

Problem is, when I ssh to the cam and try to edit /media/mmc/wz_m

[2022-07-28 23:52] virmaior commented on #207
can you clarify what you mean by "try to edit"? Do you mean use ssh and use nano or some other means?

[2022-07-29 00:36] SomebodySysop commented on #207
Log in using ssh.  cd -> /media/mmc/wz_mini/etc/ssh/ and use "vi" to open authorized_keys.  Even though file says user and group have write permission, vi reports ReadOnly.

[2022-07-29 03:43] gtxaspec commented on #207
I was able to use `nano /opt/wz_mini/etc/ssh/authorized_keys` to edit, no permissions errors.

permissions on my v3 are as follows:

`-rwxrwxrwx    1 root     root            36 Jul 29 03:42 /opt/wz_mini/etc/ssh/authorized_keys`

[2022-07-29 03:47] gtxaspec commented on #207
check `dmesg` to see if there are any errors relating to the memory card, if there is significant corruption, the kernel will set the card to `read only`

[2022-07-29 03:52] RyanHope opened #208 "No RTSP streams on V3"
The web server works but I can not connect to any RTSP stream. A port scan shows 80,22 and 4000 as only open ports.

[2022-07-29 03:56] SomebodySysop commented on #207
Get error using vi or nano.

Yes, geting this in dmesg:

[52317.247307] FAT-fs (mmcblk0p1): error, invalid access to FAT (entry 0x186e3cce)
[52317.262092] FAT-fs (mmcblk0p1): error, invalid access to FAT (entry 0xef367dea)
[52317.304261] FAT-fs (mmcblk0p1): error, invalid access to FAT (entry 0x69bdfc48)
[52317.314553] FAT-fs (mmcblk0p1): error, invalid access to FAT (entry 0x7a012e39)
[177527.523

[2022-07-29 03:58] gtxaspec commented on #207
I would pull the card, format it as FAT32,  then copy the files back and try again.  If you still get errors, try another card, or just use another card to save time if you have it.  Test the suspect card later.

[2022-07-29 04:56] SomebodySysop commented on #207
Thank you!

[2022-07-30 04:06] virmaior commented on #208
web server and rtsp are separate.

have you set the config and after that let the camera **reboot**?

[code]

[2022-07-30 04:12] virmaior commented on #208
Also what version of wyze's firmware do you have? (the most recent beta one clobbers the hook that was making RTSP possible)

[2022-07-30 04:25] RyanHope commented on #208
I have those options enabled. I have tried with empty password (using auto MAC pass), I have tried setting a password. No combination seemed to get RTSP started. Was running on 4.36.9.139.

[2022-07-30 04:28] virmaior commented on #208
hmm...
1. what url are you trying to use for RTSP?
2. there's an image in the upper right that successfully updates in the config webpage right?

[2022-07-30 04:29] RyanHope commented on #208
1. I have tried /unicast, /unicast_video1, /unicast_video2 (if I recall)
2. yes, the video was working in the web server, both in the config view and the car/pan view

[2022-07-30 04:55] virmaior commented on #208
That you can see the image in the webpages confirms that the hook is in place that can make RTSP work.

Two things you haven't directly confirmed so far:
1. You've rebooted the camera after making the setting changes to enable RTSP right? (the settings only take effect on reboot)
2. What's the full url (not just the part on the end)?

another possibility that I haven't at all checked myself is tha

[2022-07-30 19:57] gtxaspec commented on #208
can you run `gather_wz_logs.sh` and upload it here? we can take a look and see whats going on

[2022-07-30 20:00] RyanHope commented on #208
I just got all my "production" cams setup with the RTSP beta fw from Wyze but I do have some other undeployed cams I can still test with but I need to find or buy some more sd cards first. Will get back on this asap.

[2022-07-30 22:13] gtxaspec commented on #208
make sure you are using a newer, non rtsp firmware with wzmini for best rtsp results.  the rtsp beta fw is old and has some issues.

[2022-07-31 01:10] RyanHope commented on #208
Is there a way to manually flash back to 4.36.9.139?

[2022-07-31 01:38] gtxaspec commented on #208
[flash the latest versi](https://download.wyzecam.com/firmware/v3/demo_wcv3_4.36.9.139.zip)

[2022-07-31 03:04] virmaior commented on #208
directions for how to flash: https://support.wyze.com/hc/en-us/articles/360031490871-How-to-flash-your-Wyze-Cam-firmware-manually

In order to flash it, the SD card must be formatted as FAT32 (same is required for wz_mini to run), because the bootloader can't read ExFAT. (Most 32gb and larger cards are formatted as ExFAT by default, so if unsure whether your card is ExFAT or FAT32 use an 8gb or sm

[2022-07-31 04:28] RyanHope commented on #208
yeah, i flashed it manually to the RSTP version so I know how to get back, just didnt have a link to the fw as I was normally using the in-app update

[2022-07-31 14:38] LouDnl commented on #69
I have a camera with the same Ingenic T31 soc that seems to be based on the Ingenic Zeratul development kit. Unfortunatly I am in the same position as you when trying to unpack the rootfs. I have dumped the Serial Flash chip and can get the squashfs and jffs2 images, but the rootfs is somehow compressed and I cannot unpack it.

[2022-08-01 04:07] gtxaspec commented on #204
branch is available for testing now:

https://github.com/gtxaspec/wz_mini_hacks/tree/new_init

[2022-08-01 18:58] jsolarin commented on #38
@gtxaspec any update on hooking the dhcp client restart?

[2022-08-02 04:13] gtxaspec commented on #69
@LouDnl not yet, haven't found the docs or sdk.  Most of the information is here:

https://caibiao-lee.blog.csdn.net/?type=blog

[2022-08-02 06:28] LouDnl commented on #69
Do you have discord?

[2022-08-02 06:47] LouDnl commented on #69
I have found this indeed, CSDN doesn't allow reading. Here's readable links:
BLOG:
君正T31硬件设计手册-爱代码爱编程
https://icode.best/i/41780336027339

君正Zeratul开发(0)——序言及目录-爱代码爱编程
https://icode.best/i/19347139642873

君正Zeratul开发(1)——分区启动分析-爱代码爱编程
https://icode.best/i/19349839198032

君正Zeratul开发(2)——uboot启动分析-爱代码爱编程
https://icode.best/i/19351039601500

君正Zeratul开发(3)——升级回滚-爱代码爱编程
https://icode.best/i/193524396

[2022-08-02 13:46] LouDnl commented on #69
I cracked the protection, send me a message on Discord if you're interested -> LouD#4930
![image](https://user-images.githubusercontent.com/8543038/182390134-ae1ef853-ec3d-47e3-ac2c-6f694ac3fc50.png)

[2022-08-02 13:57] jemershaw commented on #179
I even tried bypassing rtsp-simple-server and just use frigate and sometimes it works and sometimes the videos don't get recorded. I had to resort to putting back on the stock rtsp version since that doesn't have any problems.

[2022-08-02 14:14] jemershaw commented on #179
Also some of the recordings are just a black screen. I'm not sure if anyone else is using frigate and is having this problem or not.

[2022-08-02 16:24] endertable commented on #190
![B4D2BDA3-7BB9-4D42-9CA0-B03E0E498FA9](https://user-images.githubusercontent.com/75660899/182424402-27da86f6-cfd0-4bfc-849b-68769b38db5d.jpeg)

looks like they may have changed the hardware.  Mine looks different.   But i believe those are the UART pons/holes on the lower left of the main board?  One is a squarez

[2022-08-02 16:32] gtxaspec commented on #190
yes, those look like the serial pins.

[2022-08-02 19:41] endertable commented on #190
OK, I connected all pins to pi pins (6,8,10) and to the 3 holes, executed:   tio -b 115200 /dev/serial0  then plugged in cam.
Nada.  One of the holes has a square around it and in one schematic that was for 3.3v but then where would the ground be?!?

Another guy stated from left to right GND, TX, RX.  Is there a way to test which one is ground cuz I am surprised I haven't fried this yet, hehe.

[2022-08-03 01:27] endertable commented on #190
Here is the log from the ?new? V2 that had the uBoot.  You can see the reboot call in there that creates the boot loop.

[tio1.log](https://github.com/gtxaspec/wz_mini_hacks/files/9247192/tio1.log)

[2022-08-03 02:07] billotronic commented on #182
Ok, best I can tell, the socket works 100% as expected via the wyze app in regards to turning the light on and off both manually and with motion.

[2022-08-03 03:25] gtxaspec commented on #190
can you pull the card, is there a log file called something initramfs.log on the root of the sd card

[2022-08-03 03:25] gtxaspec commented on #182
@billotronic awesome, thanks

[2022-08-03 03:47] gtxaspec commented on #204
testing looks good, merging to master soon

[2022-08-03 03:49] gtxaspec commented on #182
taking this as a win =D

[2022-08-03 03:49] #182 closed

[2022-08-03 03:50] gtxaspec commented on #172
no go so far.  We are able to compile dwc2 as module, but it doesn't recognize the controller when you try to load it.

[2022-08-03 03:55] endertable commented on #190
There was no such file anywhere on the SD card.  Or any other new file for that matter..

[2022-08-03 03:57] gtxaspec commented on #190
can you try formatting the sd card and doing a fresh install? or using another sd card if you have it preferably.

it may be an error loading files from the  sdcard

[2022-08-03 20:54] gtxaspec opened #214 "add syslog logging for debugging"
add function to log everything from syslog to a file for debugging.  add a warning to the user that this may take up a lot of space on the memorycard.

[2022-08-03 20:59] gtxaspec opened #215 "Video upside-down in webcam mode on T31"
### Discussed in https://github.com/gtxaspec/wz_mini_hacks/discussions/213

<div type='discussions-op-text'>

<sup>Originally posted by **ajbucci** August  3, 2022</sup>
Does anyone know of a way to flip the video in webcam mode? Currently the video is up-side-down</div>

[2022-08-04 01:17] gtxaspec commented on #214
in https://github.com/gtxaspec/wz_mini_hacks/commit/12a4549b5ece8317036a14048310fe369cac2a55

[2022-08-04 01:17] #214 closed

[2022-08-04 02:13] gtxaspec commented on #215
fixed by patching address 0x51a0 and changing 03 to 01

[2022-08-04 02:39] gtxaspec commented on #215
fixed in https://github.com/gtxaspec/wz_mini_hacks/commit/4a6a5b2c4b35e9ac12b91cf6bf1a6332de267b01

[2022-08-04 04:42] #215 closed

[2022-08-05 05:05] gtxaspec opened #217 "devices with failed wlan hw"
@juanboro

I noticed your fork with the changes you made for failed wlan hw.  Do you mind if I roll these changes into master?  I am about to merge in a new init.d system and It would probably be easier than with the old one.

thanks!

[2022-08-05 17:45] juanboro commented on #217
Sounds great.  Yeah – it’s been on my to-do to put in a PR.  The camera I have with the failed wlan HW is at a remote location I don’t have physical access to all the time – so I haven’t been able to test with the latest updates (wz-mini-hacks has been running stably untouched on it for the past month though 😊).

Thanks!

From: gtxaspec ***@***.***>
Sent: Friday, August 5, 2022 1:06 AM
To: gtxaspe

[2022-08-07 03:47] baudneo opened #222 "H264 Mainline/Baseline encoding causing errors."
I am trying to use Janus WebRTC with the RTSP streams provided but the encoding options are incorrect for the spec from what research ive done. The 2nd stream (360p) gets farther along than the main stream does but both fail.

# SubStream
[code]

# MainStream
[code]

Substream is calling for profile 4dxxxxx whichis Mainline when the spec calls for Baseline. The mainstream does not seem to call a p

[2022-08-07 04:17] gtxaspec commented on #222
@baudneo unfortunately, we are at the mercy of the ingenic media platform's mercy regarding the stream implementation.

see https://github.com/cgrrty/Ingenic-SDK-T31-1.1.1-20200508/tree/main/doc

you can run `impdbg --enc_info` to see the stream parameters

The program we use to forward the streams is `v4l2rtspserver` https://github.com/mpromonet/v4l2rtspserver, but I don't believe that changes an

[2022-08-07 19:40] baudneo commented on #222
Ah ok, I'll play around a bit and see if anything is possible. I think janus also allows to override the ftmp line. Hopefully the encoding conforms to whatever chrome/Firefox allow.

Seems chrome only accepts 1 type -> profile-level-id=42e01f

[2022-08-07 22:55] #222 closed

[2022-08-08 01:48] gtxaspec commented on #204
updated in master.

[2022-08-08 01:48] #204 closed

[2022-08-08 03:46] bjs-pdx opened #223 "Unable to run compile_image.sh"
After cloning the repository, I try to run compile_image.sh in the v2_install directory and I get the following:

`compile_image.sh
wz_mini: this will download the latest firmware version from the vendor and compile a modified demo.bin.  Are you sure? [y/N]y
checking for tools
tools OK
create temporary work directory
check for local zip
local archive not found
downloading latest firmware
build for

[2022-08-08 04:00] gtxaspec commented on #223
can you give me some specifics on what OS you are running?

[2022-08-08 04:03] bjs-pdx commented on #223
Ubuntu 18.04.

I think I found the solution.  Manually downloaded the latest firmware zip for the V2 and renamed it to demo.zip.  The script seems to have completed and generated a demo.bin.  Will try it tomorrow.  Seems the script isn't finding the firmware file on the Wyze servers.

`compile_image.sh
wz_mini: this will download the latest firmware version from the vendor and compile a modified d

[2022-08-08 11:53] vic4news commented on #172
Thanks for the status update.

[2022-08-08 14:59] clee604 opened #225 "Regression in local_dns"
It seems in the latest version there is a regression for the DNS flood issue that was fixed in previous version via the enable_local_dns feature.

After updating, the `c1ybkrkbr1j10x.credentials.iot.us-west-2.amazonaws.com` dns flood is back, and every five seconds.

Applying the old fix, `touch /tmp/test_hosts;echo -e "127.0.0.1 localhost\n54.185.42.140 [c1ybkrkbr1j10x.credentials.iot.us-west-2.a

[2022-08-08 18:34] gtxaspec commented on #225
fixed, updated master, try now

[2022-08-08 19:38] capncybo commented on #225
Curious to know... was the implementation of the init.d system to quickly solve issues which are dependant on boot-order ?

[2022-08-08 19:39] gtxaspec commented on #225
not really, it is more of a getting ready for overlayfs, easier to manager than giant scripts

[2022-08-08 20:33] clee604 commented on #225
thanks, upgraded and testing now.

There any chance we could get the resolv.dnsmasq nameservers settable via configuration or something that can survive upgrades? I like to have my cameras point to my pihole so I can monitor the DNS calls.

[2022-08-08 23:40] gtxaspec commented on #225
Sure, I'll add that to the upgrade script.

[2022-08-09 05:46] jsolarin commented on #38
I was able to find that the udhcpc has a default.script file that is called.

Tue Aug  9 05:34:21 UTC 2022 /usr/share/udhcpc/default.script deconfig
Tue Aug  9 05:34:27 UTC 2022 /usr/share/udhcpc/default.script bound
Tue Aug  9 05:37:38 UTC 2022 /usr/share/udhcpc/default.script deconfig
Tue Aug  9 05:37:41 UTC 2022 /usr/share/udhcpc/default.script bound
Tue Aug  9 05:41:01 UTC 2022 /usr/share/udhc

[2022-08-10 15:27] bjs-pdx commented on #208
I'm having the same problem with a PanCam V2 and a regular V2.  The pan has the video image on the web page, the v2 does not.  The V2 is running firmware 4.9.8.1002 and the PanV2 is on 4.49.1.47.  I'm trying to access the stream using VLC and none of the strings for accessing rtsp work, with or without authentication.  Log for VLC just says connection refused.

[2022-08-10 15:36] baudneo commented on #208
Have to tried video6_unicast and video7_unicast endpoints?

[2022-08-10 15:39] baudneo commented on #208
Can you run `netstat -tulpn` on your wyze v2 and v2 pan to see what ports are open and what processes have those ports open.

Have you done the gather logs command and browsed logs to see if there are any clues 8m there?

[2022-08-10 16:15] bjs-pdx commented on #208
Running netstat -tulpn from ssh on both cameras shows no listing for port 8554.  What is the command needed for gathering the logs?  This is all very new to me as I only installed the stuff a couple of days ago.

[2022-08-10 16:26] #223 closed

[2022-08-10 16:27] bjs-pdx commented on #223
Had to manually download the firmware zip file to the v2 install directory and name it demo.zip.  The script then executes.

[2022-08-10 18:19] baudneo commented on #208
gather_wz_logs.sh

[2022-08-11 00:12] juanboro commented on #217
I've merged the new init onto my current master branch.  I'll be able to test it out in a couple weeks when I have physical access to the camera with the broken internal wifi.

[2022-08-13 18:58] capncybo opened #240 "Fix of: Regression in local_dns #225 seems to have effect on..."
I have been regularly using this project on three version 3 Wyze cameras & happily upgrading via: upgrade-run.sh for a while now.
But In parallel with this project, I've been running the: https://github.com/mrlt8/docker-wyze-bridge project on a pi400.
I've been using the other project mainly for its web-based streaming to support the HTTP(in-browser) viewing.
Until recently I could easily update &

[2022-08-14 00:17] gtxaspec commented on #240
no clue, we still operate the same way: boot the camera, wait for icamera, start rtsp server, network online.

[2022-08-14 00:24] gtxaspec commented on #225
backup added in latest master

[2022-08-14 00:42] gtxaspec opened #241 "V2 installation proposed changes"
current method:

1. Run compile script
2. script downloads firmware
3. extracts firmware
4. replace kernel
5. repack firmware
6. flash demo.bin
7. boot wz_mini

The downside to this, is the need to modify the onboard flash with a modified kernel.

proposed method:

1. Flash special demo.bin containing kernel only (ONLY ONCE, EVER, PER v2 DEVICE), which will flash a new version of u-boot, able to l

[2022-08-14 03:55] gtxaspec commented on #190
any update? @endertable

[2022-08-14 05:38] endertable commented on #190
Sorry I forgot to post, yes it must have been the card.  I actually just reformatted the same card and it worked...

[2022-08-14 06:49] gtxaspec commented on #241
I have successfully flashed four v2 devices using this method.  If anyone would like to test, let me know!

[2022-08-14 15:07] capncybo commented on #240
Thank you for the response...
It turns out the issue(s) was actually caused by the OTHER project & upgrading it to v1.8.3
Closing now ;-) THX

[2022-08-14 23:23] gtxaspec commented on #241
Here is the new provisional installation directions for T20 devices which does not require compiling the firmware:

Installation ( **for PanV1/V2 ONLY** )

1. Format memory card, FAT32, DOS Partition type
2. copy `demo_uboot.bin` to root of memory card, and make sure it is the **only** file on the memory card
3. rename `demo_uboot.bin` to `demo.bin` on the memory card root, again making sure it is

[2022-08-15 01:40] Bob-AOL commented on #241
Outstanding. I'm game. And I just figured out how to run the other script after getting Ubuntu loaded onto a stick and shaking off over ten years of Linux cobwebs! LOL At least I have the platform to try this now.

And my version of demo.bin actually worked..., albeit on one of three cams only. That does have me slightly concerned about those two cams. Multiple cards across all three cams only see

[2022-08-15 14:16] clee604 commented on #225
sorry for the delay, cameras been running for a few days and DNS looks like it is resolved.

[2022-08-15 15:14] capncybo commented on #240
CLOSED

[2022-08-15 15:14] #240 closed

[2022-08-15 17:02] Bob-AOL commented on #241
Is 7-Zip and acceptable alternative to enabling special permissions on the Windows folder and getting Samba running right on the Ubuntu thumb drive -- just to unzip and transfer 2 files back and forth? The tar command line utility in Windows 10 is not cooperating, either.

[2022-08-15 19:49] Bob-AOL commented on #241
Too anxious to wait for an answer on the 7-Zip question. It works fine for the tasks and essentially makes the V2 process almost as easy as the V3 process for Windows users -- just a couple of extra steps and no Linux intimidation involved.

The process as described worked perfectly for me -- again, on one of three of my V2s. All three took the wipe down and the OEM recovery without a hitch. The s

[2022-08-15 20:38] gtxaspec commented on #241
both files can be included, only one is used depending on the device.

the folder `wz_mini` must be copied to the root, not the subfolders inside wz_mini.

after the stock firmware is flashed, the demo.bin files are no longer needed

[2022-08-17 12:52] guarddog13 opened #246 "waitmotion question"
How does the cmd waitmotion work when it finds motion? Is there any reason to put a delay in the script while motion is true? If it's restarting what is the interval during motion? I have a room in the house that is a "throughway" and trying to figure out the timeframe someone needs to be in the room before the light turns on. I want to set a wait for trigger in HA and knowing the interval would a

[2022-08-17 12:59] guarddog13 opened #247 "MQTT?"
Any Chance you could add MQTT support? I'm not sure if that would even be possible lol.

[2022-08-17 15:50] virmaior commented on #247
Discussion ongoing at https://github.com/gtxaspec/wz_mini_hacks/discussions/75
and https://github.com/gtxaspec/wz_mini_hacks/issues/171 was opened by ... guarddog13

[2022-08-17 16:07] dskaplan commented on #208
This is silly and not a real fix, but @bjs-pdx I was having the same issues and changed the port of the streams to something different and it worked. After rebooting with new port, I changed it back to the default `8554`, rebooted, and was good to go. Worked for 3 different v3s for me.

[2022-08-17 18:05] sideup66 commented on #187
Is this still shaping up to be a thing in the next firmware release of the camera? Im curious if we can workaround it by having the custom kernel possibly load a custom icamera binary based on the old firmware version and load our libraries? though I dont know what other functionality that would impact...unless it can simply be a part of enabling rtsp...otherwise use stock icamera binary...

[2022-08-17 18:24] RyanHope commented on #208
I thought I remember testing different ports with no luck but I can revisit that. I have new SD cards again and can resume testing/playing with this.

[2022-08-17 20:01] SteveAtSWS opened #250 "v2 setup error"
Doing a fresh install and I can't get the setup to run. Below is the output from running compile_image.sh

[code]

Any ideas what I did wrong?

[2022-08-18 00:28] virmaior commented on #250
I don't have a v2 but your issue looks identical to https://github.com/gtxaspec/wz_mini_hacks/issues/223
try manually downloading to supply the file.

[2022-08-18 04:09] clee604 commented on #225
@gtxaspec actually, after the backup was added to the latest master, I don't see any DNS calls to my pihole which is unusual. Trying to do `nslookup google.com` results in `nslookup: bad address '192.168.x.xx # wlan0'` (it correctly points to my DNS pihole server's IP)

Is there a way to check if the DNS server is set properly? I suspect it is not even though the resolve.dnsmasq file does have my

[2022-08-18 04:26] gtxaspec commented on #225
check with `cat /etc/resolv.conf`

[2022-08-18 04:33] gtxaspec commented on #225
if it's set to 127.0.0.1 that means the local dnsmasq server is being used.

[2022-08-18 04:51] clee604 commented on #225
everything seems in order... 127.0.01 for resolv.conf and my DNS set in resolv.dnsmasq

Is `nslookup `supposed to work?

[2022-08-18 13:07] SteveAtSWS commented on #223
I got the new firmware to build, now the camera won't take the update.

In their official flashing instructions it says with the camera unplugged and the SD card with firmware in place, hold down the Setup button and plug in the power and continue holding until both yellow and blue lights are on at the same time (should take about 6 seconds). In my case, the light never has both LED's on and if I

[2022-08-18 13:39] SteveAtSWS commented on #223
Figured out the problem. I had the SD card formatted as exFAT instead of FAT32.

[2022-08-18 15:24] Bob-AOL commented on #250
I had no problem using the most recent release. You may also want to consider #241 as an alternative solution. It avoids that issue altogether. Read the instructions and disclaimer carefully, then go for it.

The cam will then boot from the memory card with full OEM functionality like the V3s and can revert to factory firmware by simply removing the SD card.

The flash process worked flawlessly fo

[2022-08-18 16:11] Bob-AOL commented on #241
< both files can be included, only one is used depending on the device.>

Some browsing elsewhere seems to suggest that an additional one may be required for the problem V2s that provides what the base u-boot is looking for on the SD card for these particular devices -- if I'm sorta understanding this sorta correctly.

[2022-08-18 17:20] cbass27 opened #251 "Unsure how web server image capture works"
I enabled the web server and click the Current Screen link to view/download the current image capture but my browser asks me to download the jpeg.cgi file. Am I doing something wrong or is it not supported in Microsoft Edge browser?

Thanks!

[2022-08-18 19:09] rickgitdone commented on #187
my V3 CAM quit connecting to rtsp and then noticed rtsp wasn't an active process when SSH'd in.. reverted CAM back to 4.36.2.5 and let it come up and see it in Wyze app... I have rsyn'd my SD_ROOT to the latest github after using a git pull ... can't see rtsp on the process list nor using netstat ... are they able to reach back into older firmware to block rtsp?

I am going to re-clone the repo to

[2022-08-18 21:09] gtxaspec commented on #225
it does, check the syntax on the command you are using.

try:

`nslookup google.com 127.0.0.1`

[2022-08-18 21:17] clee604 commented on #225
interesting, thanks.
[code]
both work fine, just not nslookup without manually specifying the dns server.

Seems everything is fine and working as intended.

[2022-08-18 21:17] #225 closed

[2022-08-18 21:18] gtxaspec commented on #225
when nslookup fails, can you verify that /etc/resolv.conf ONLY has the 127.0.0.1 entry?

[2022-08-18 21:20] clee604 commented on #225
[code]
My name servers come up here

[2022-08-18 21:23] gtxaspec commented on #225
i see, thats why it's failing, because there is more than one entry.  it looks like there may be a timing issue with the dnsmasq script.

edit `/opt/wz_mini/etc/resolv.conf` and ensure there is only the first line,
`nameserver 127.0.0.1`

then edit `/opt/wz_mini/etc/network.d/S09dnsmasq`

right under `        if [[ "$ENABLE_LOCAL_DNS" == "true" ]]; then`
add:
[code]

so the entire section should l

[2022-08-18 21:39] clee604 commented on #225
works after the fix.
cat /etc/resolv.conf brings only the name server also

[2022-08-18 22:01] virmaior commented on #251
hmm.. I use brave, chrome, and safari and it hasn't asked me to download the file rather than see it in browser. Edge is also based on chromium/webkit so it should behave the same way ...

Two possibilities come to mind:
1. There's a bug for v2 cameras that's not related to the www code which breaks the image capture (https://github.com/gtxaspec/wz_mini_hacks/issues/170)
2.  in an earlier version,

[2022-08-19 00:54] cbass27 commented on #251
It could be the v2 camera bug. Any idea how to fix this or should I just wait for a fix in a newer release? Thank you!

[2022-08-19 02:43] gtxaspec commented on #251
still researching v2 compatibility, stay tuned.

[2022-08-19 03:18] bjs-pdx opened #256 "wz_mini won't install on older V2"
I have an older V2 camera (2019) and tried to install wz_mini on it today.  Ran the firmware installation process, heard the announcement regarding first boot and cache expansion then...nothing.  Light went out on camera and it never connected to the wifi.  Looking at the logs, it appears that the wifi NIC doesn't initialize nor connect to anything.  Attaching the logs.

[.wz_mini_initramfs.log](h

[2022-08-19 04:01] gtxaspec commented on #256
did you manually supply the firmware, or auto download with the compile script?

i can see:

`cp: can't stat '/system/init/app_init.sh': No such file or directory`
the /system partition didn't mount for some reason.

[2022-08-19 05:01] clee604 commented on #225
are there any other implications to this other than nslookup not working? ie. should I update all of my cameras with this timing fix?

[2022-08-19 05:02] gtxaspec commented on #225
can you run this fix for a bit and see if it holds? still testing on my end.

[2022-08-19 05:06] clee604 commented on #225
sure i'll leave it on one camera for now. It doesn't get rebooted often except for updates usually but i'll just test doing a nslookup after every reboot

[2022-08-19 06:10] bjs-pdx commented on #256
Not sure what you are asking.  This is the same demo.bin used on another, newer V2 which worked fine.  I had to download the zip file manually from Wyze, rename it demo.zip and then run the compile.  The auto download isn't working, or at least it wasn't when I tried to run it.

[2022-08-19 06:13] gtxaspec commented on #256
@bjs-pdx I just added wz_mini to add additional logging information, can you download the latest version, and try again?

[2022-08-19 06:14] bjs-pdx commented on #256
sure...it will be tomorrow.

[2022-08-19 15:20] guarddog13 opened #259 "Not an Issue Just a Notation"
If you use the rasp pi imager you can format any size SD card to FAT32 with no issue, FYI.

[2022-08-19 15:33] baudneo commented on #259
Sick, thanks for the idea.

[2022-08-19 16:19] guarddog13 commented on #259
Lol I use 128GB cards with this hack on all my cameras. I have 7 cameras running this on agentDVR with a deepstack server. I keep my recording for the SD cards and use the NVR just for people detection.

[2022-08-19 17:03] guarddog13 opened #260 "Questions about the scripts and waitmotion"
So I have a script that I'm running to detect motion which sends curl posts to AgentDVR with Deepstack built in. (See below).

Turning on the "motion (person) sensor" is nearly perfect. However, turning it off is very unreliable. What I noticed is that the else side happens while your in the room moving about. It doesn't fire again when I walk out of the room. Is there something I'm doing wrong? I

[2022-08-19 17:47] bjs-pdx commented on #256
Well, ran the updated version this morning and installed without any problem.  My suspicion would be an issue with the files on the SD card.  I formatted the card to FAT32 then copied all the new files to it.  I put the card in the camera, ran the firmware update process and the wz_mini files loaded.  Can't think of anything else.

[2022-08-19 18:08] guarddog13 commented on #260
When i test this. The else side never fires. It just stops once motion stops I put echos in on that side and nothing, nothing at all.

[2022-08-19 18:44] bjs-pdx commented on #256
I'm going to close this since the camera appears to be working correctly now.  I'm going to put it down to user (me) error.

[2022-08-19 18:44] #256 closed

[2022-08-19 19:08] guarddog13 commented on #260
Seems doing it like this makes it very reliable. Just let it check every 1 second for 10 seconds, it continues while you leave the room and triggers things correctly.

[code]

[2022-08-19 19:53] Bob-AOL commented on #250
The problem persists with two of my three V2s not loading wz_mini. After quite a bit of reading, it would seem that u-boot wants to see a different version of the factory file for these particular cameras to even recognize the SD card, let alone boot from it.

I've used both the traditional installation process and the new 'enhancement' version without success on these two cameras. Both approaches

[2022-08-19 20:18] gtxaspec commented on #250
@Bob-AOL with the new install method, there should be log files on the root of the SD card, can you check?

[2022-08-19 20:34] Bob-AOL commented on #250
Will do. But so far, that's been the Catch-22. The SD card doesn't seem to even be recognized.

And I'm certainly open to anything you suggest that's within my capability to investigate. Even dusted off my nano chops a little bit the other day. LOL

'Preciate the help.

[2022-08-19 20:51] Bob-AOL commented on #250
A swap.gz appears in the wz_mini folder. No log files in root.

wz_mini.conf is the default with no user added settings, btw.

[2022-08-19 21:34] bjs-pdx commented on #250
If I remember my sd card, check /opt/wz_mini/log.  Can't remember what was there but there is a log file on mine.

[2022-08-19 22:31] Bob-AOL commented on #250
No such file. The log folder just has the empty .gitignore file. Here's a non-working version.

![SD Root](https://user-images.githubusercontent.com/110629141/185712439-03ce7799-b73e-452e-8c54-1dc4c723b7ca.jpg)

![SD wz_mini](https://user-images.githubusercontent.com/110629141/185712462-705674e6-01ec-4254-bc90-dc92eef6ca2c.jpg)

This is a functioning version.

![SD Root_Working](https://user-image

[2022-08-19 22:37] bjs-pdx commented on #250
I don't see any log files on either listing...did you check /wz_mini/log/?

[2022-08-19 23:39] Bob-AOL commented on #250
As mentioned, there are log files as one would expect where they should probably be expected in the second two pics which are from the working v2.

Zero log files anywhere in the first two pics from a SD card boot attempt resulting in basically non-recognition of the SD card at all in the non-cooperative cameras. The same card will boot right up on the working camera. The card from the working cam

[2022-08-19 23:41] Bob-AOL commented on #250
BTW, I'm doing this bone clean with wifi only.

[2022-08-19 23:42] vincom commented on #208
fyi, v3 cam wyze rtsp fw. using blueiris v5, could get the rtsp stream using the wyze rtsp credentials and url.  if v3 has the wyze rtsp fw, and i insert scard w/mini hack i couldnt get blueiris to get the rtsp stream either with rtsp or http url. tried numerous urls and settings. web server is displaying the stream.
went back to stock fw and can use http url in blueiris to get the rtsp stream wit

[2022-08-19 23:57] Bob-AOL commented on #250
Pretty good odds the answer lies somewhere in this thread...

https://www.reddit.com/r/wyzecam/comments/jyc9jo/does_the_new_version_of_the_wyze_cam_v2_hardware/

[2022-08-20 00:35] virmaior commented on #208
@vincom  the wyze provided rtsp firmware is trash so that's unsurprising. better to use the stock firmware and enable rtsp using wz_mini

[2022-08-20 01:07] bjs-pdx commented on #250
Not sure exactly what's going on there but the post is 2yrs old.  I'll see if I have something in that range, 2020, to test.

[2022-08-20 01:12] vincom commented on #208
agreed, it was just a fyi, cause i know users are going to try this hack on the wyze rtsp fw, but its just a headache, go to stock and no issues with this hack or atleast ur removing one variable for trouble shooting.
also onec configured with wyze firmware just reflashing fw doesnt reset your wyze app settings, "no" reconnecting to your wifi steps needed

[2022-08-20 02:46] gtxaspec commented on #250
does anyone have the ability to connect one of the non functioning camera's uart (serial port) to a  serial port on a pc or raspberry pi to read the debug output?

[2022-08-20 02:47] cbass27 commented on #251
@gtxaspec I shall. Thank you!

[2022-08-20 04:03] gtxaspec commented on #259
@guarddog13 you can also check and create discussions here:

https://github.com/gtxaspec/wz_mini_hacks/discussions

just in case there is something that is not an issue

[2022-08-20 04:18] gtxaspec commented on #259
converting to discussion for visibility

[2022-08-20 04:18] #259 closed, assigned to nobody

[2022-08-20 04:18] gtxaspec commented on #251
converting to discussion for visibility

[2022-08-20 04:19] gtxaspec commented on #247
see mentioned issues.

[2022-08-20 04:19] #247 closed

[2022-08-20 04:20] gtxaspec commented on #207
looks like the issue was the sd card, resolving for now!

[2022-08-20 04:20] #207 closed

[2022-08-20 04:20] gtxaspec commented on #195
webserver is live, resolving

[2022-08-20 04:20] #195 closed

[2022-08-20 04:21] gtxaspec commented on #163
working as intended for now.

[2022-08-20 04:21] #163 closed

[2022-08-20 04:21] gtxaspec commented on #162
see above, resolving!

[2022-08-20 04:21] #162 closed

[2022-08-20 04:47] gtxaspec commented on #241
@Bob-AOL

If you could try some things:

1. download the .860 firmware for your v2.  flash your v2 with it
2. verify via the mobile app that your camera _**is**_ running on the .860 firmware
3. if it is, proceed to download the .1002 firmware for your v2.  flash your v2 with it.
4. verify via the mobile app that you are on the .1002 firmware
5. if it is, proceed to follow the new instructions to f

[2022-08-20 04:53] gtxaspec commented on #136
@goldenhub77

I run my devices at 30fps, with the following settings:
[code]
the camera seems to work fine.  I don't use rtsp, but it shouldn't be an issue as long as you have good wifi.

[2022-08-20 04:54] gtxaspec commented on #157
test the latest versions, they have improved the libcallback library. resolving for now

[2022-08-20 04:54] #157 closed

[2022-08-20 04:56] gtxaspec commented on #179
I would post in the discussions area for other frigate users or rtsp-simple-server users to see, and if possible share setup information to fix your issue.  resolving for now

[2022-08-20 04:56] #179 closed

[2022-08-20 05:18] SomebodySysop commented on #207
Yes, sorry, the issue was the sd card.  When I looked at it in the pc it showed as full.  Anyway, replaced card and all is well.  Thank you!

[2022-08-20 05:26] gtxaspec commented on #170
fixed in https://github.com/gtxaspec/wz_mini_hacks/commit/a8ce83e17ae7d5aee311fb6604f5ad296118bb82

[2022-08-20 05:26] #170 closed

[2022-08-20 05:40] gtxaspec commented on #208
@RyanHope let us know if you have any update to see if we can help further!

[2022-08-20 06:30] vincom commented on #208
all good, even got streaming via port 80 on blueiris and android apps

[2022-08-20 12:13] Bob-AOL commented on #250
The age of the post is sorta the point -- especially given the fact that the general discussion is about the impact of V2 hardware changes on the Xiaomi hack. Looks like lots of pertinent info there which could shed some light on the wz_mini's apparent inability to run on certain V2 hardware as well.

Will try .860 firmware this morning as has been suggested by our host., The only other firmware l

[2022-08-20 16:15] bjs-pdx commented on #250
I'm slightly sceptical but open to the idea of a hardware change.  However, I'd like to point out that later versions of the V2 don't seem to have any problems.  So, did Wyze change the hardware again?

[2022-08-20 16:40] Bob-AOL commented on #250
If it's not a hardware issue, it's firmware issue. Guess that depends on whether you're the developer or the designer.

One thing is absolutely certain..., it's a _compatibility_ issue between the two.

[2022-08-20 17:43] Bob-AOL commented on #241
The new instructions procedure is what I originally followed as detailed previously. Doing it all over again starting at .860 instead of .1002 made no difference. Rather pointless since the uboot_demo.bin wiped the flash for a clean .1002 anyway, didn't it? At least the uboot version generated the attached log file that may shed some light. The SD card is still not recognized to generate a wz_mini

[2022-08-20 19:11] Bob-AOL commented on #241
So I've gone back through all available layers of V2 firmware to 2020 and tried the conventional installation approach with each one. Still no joy

The one cooperative V2 is still cruising along nicely.

[2022-08-20 19:42] Bob-AOL commented on #241
@gtxaspec

I'm out of bullets on the basic trial and error front.

[2022-08-20 20:15] gtxaspec commented on #241
@Bob-AOL thanks for the valuable info and logs.  Let me analyze and I'll get back to you.

[2022-08-21 06:05] endertable commented on #250
@Bob-AOL If you do the following command on the "bad" cam:

dd if=/dev/mtd0 of=/tmp/mtd0

What is the size of the file /tmp/mtd0?

Also, what is the md5um (md5sum /tmp/mtd0)

[2022-08-21 06:33] gtxaspec commented on #250
@endertable the md5sum is in the u_boot log he posted

[2022-08-21 10:07] homemain opened #268 "Failed to start RTSP streams on Pan V2 - missed libsetunbuf.so"
First of all - thanks a lot for this project! That does exactly what many DIY people would expect from the camera software!

I have an issue with RTSP stream, that you could probably help me with.
During RTSP startup I receive following message in logs and RTSP server doesn't start

[code]

My /system/lib folder looks like this, there is really no libsetunbuf.so
[code]

I  have Wyze Cam Pan V2 wit

[2022-08-21 10:21] homemain opened #269 "FAT file system on SD Card gets corrupted"
Almost immediately after the start of Wyze Cam Pan V2 with wz_mini_hacks SD card gets into read-only mode and there are following messages in the logs

[code]
I run fsck.vfat and problem seems to be fixed, but only until next reboot

[code]

Windows check disk tool also sees this errors, fix them, but they appears again after card is inserted into the cam.
SD Card it self is healthy. I plugged it

[2022-08-21 14:54] endertable commented on #250
What i noticed is that the md5sum of applied image on /dev/mtd0 was different from file.  Was curious if maybe the size of his boot partition was different?

[2022-08-21 17:03] Bob-AOL commented on #250
How would I access the directory structure of a stock firmware cam to check?

[2022-08-21 18:13] gtxaspec commented on #268
your firmware is too old.  try upgrading to a newer firmware

[2022-08-21 19:05] gtxaspec commented on #269
two things:

your firmware is too old, try upgrading to a newer one ( yes it makes a difference =D )
do you have another memory card to test?

[2022-08-21 21:33] Bob-AOL commented on #250
I presume this is where the magic happens? More than likely RX, TX, and V for a serial connection from what I've learned from a great YT video on the subject. Not exactly sire I want to jump into it, but it's pretty cool to see how this stuff actually evolves.

![UART](https://user-images.githubusercontent.com/110629141/185811323-9e4341e0-4fa6-4620-ae7b-fe3dc9d6b886.jpg)

Also some board info for

[2022-08-21 23:14] endertable commented on #250
You can use a RPi to access and the pin leads in order of the picture are:  GND, TX, RX

Looking at your log file, it "seems" you don't have the new uboot on the cam.  It looks like it runs into md5sum errors and restores your original one so if that is the case, viewing the startup won't do you any good at this point unless you force the cam to keep the new uboot irregardless of errors.
Then agai

[2022-08-21 23:32] Bob-AOL commented on #250
I was under the impression the script wiped the flash and there no longer is (was?) an original uboot to revert to?

[2022-08-22 00:34] gtxaspec commented on #250
the process is as follows:

backup the stock uboot
verify the uboot file
if it passes, flash it to the flashrom
once flashed, verify it
if it fails, restore the stock uboot

interestingly, on @Bob-AOL's camera, once flashed the bootloader does not pass verification.  I didn't experience this on any of my v2 hardware.

[2022-08-22 01:32] Bob-AOL commented on #250
At least we now know that much.

Any possible areas that I could explore further on my end?  About the only thing I can think of is trying a different method of un-compressing the new files that may be more user friendly to the problem cams. I used 7-Zip on Windows which obviously worked ok for the one cam. Could the hardware on the other cams simply be less tolerant of minor irregularities in the

[2022-08-22 19:24] homemain commented on #269
Yeah. Upgrade from 4.49.1.**20** to 4.49.1.**47** solves the problem! so it makes a difference :)

[2022-08-22 19:24] #269 closed

[2022-08-22 19:25] homemain commented on #268
Yeah. Upgrade from 4.49.1.20 to 4.49.1.47 solves this issue as well! so it makes a difference :)

[2022-08-22 19:25] #268 closed

[2022-08-22 23:23] IpslWon opened #274 "Spotty connection to my NAS server"
I've set up a v3 Wyze Cam Indoor/Outdoor and have it connected as a general RTSP stream camera in my QNAP server. The camera wont stay connected. I can connect to the web GUI and it seems to be working, but the camera itself will drop it's connection. The camera is relatively close to the WiFi AP so I don't think that's an issue.

I've tried changing RTSP_HI_RES_ENC_PARAMETER to 2, 4, 8 without ch

[2022-08-23 05:28] HclX opened #275 "pan v2 bootloader image?"
I see this hack works for pan v2, can you help me dump the flash content of pan v2 using this hack? I'm studying it's factory reset image format and it seems encrypted. Trying to figure it's encryption method and decryption key but I will need a copy of the bootload image.

[2022-08-23 06:21] gtxaspec commented on #275
[mtd0.bin.gz](https://github.com/gtxaspec/wz_mini_hacks/files/9399840/mtd0.bin.gz)
@HclX

[2022-08-23 16:44] haderp opened #276 "Reboot loop when using web config reboot"
When using the reboot option after configuration change the camera will enter a reboot loop after the 90 second wait time due to the reload function calling document.location.reload calling the reboot command directly from the url.  Would location.replace and redirecting back to config.cgi be a better option?

[2022-08-23 22:31] gtxaspec commented on #241
@Bob-AOL I may have a solution, would you be willing to flash a test bootloader?  I won't say it's without risk of bricking the camera.  Let me know!

[2022-08-24 00:52] juanboro commented on #217
Submitted as PR  #241

[2022-08-24 14:06] virmaior commented on #276
yes, will fix.

[2022-08-24 16:00] Bob-AOL commented on #241
If it's no less dangerous than the other 'enhanced' method, sure. Have you tried it with success?

I'm also trying to establish a Linux platform that allows me to do everything in the Linux environment -- thinking there may be some degree of sensitivity by the problem cam flash to how I'm compiling and transferring the .sh file for use with the conventional method.

[2022-08-24 17:56] claudobahn opened #278 "WIFI driver roaming in wpa_cli - 'FAIL'"
@gtxaspec my wifi environment has multiple stations serving the same SSID, allowing clients to roam. I noticed that since switching to the newer wifi drivers a while back, triggering roaming using `wpa_cli` no longer seems to be possible, all I get is a `FAIL`. Before the new drivers, issuing a `roam <BSSID>` in `wpa_cli` would sort of work, though not always associate successfully.

Wondering if

[2022-08-24 22:07] MomosX opened #279 "Cameras not connecting through Wyze app outside LAN"
First of all let me thank you for this great hack.  Since i found it i converted 9 Wyze V3 to wyze_mini_hacks, and moved all to Ethernet connections which i must say is one of the best features:)

Since some weeks ago my cameras do not connect through wyze app when i'm outside the LAN.  I have the latest 4.36.9.139 FW, wyze_mini_hacks working prefectly. I am pretty sure this used to work a month a

[2022-08-25 04:25] bjs-pdx commented on #279
Pretty sure that's an issue with VPN or another setting on your phone.  If you check the Wyze forum and look for that topic I think you'll find an answer.  It happens without wz_mini.

[2022-08-25 11:27] MomosX commented on #279
Thank you for the answer. Unfortunatelly that's not it.  I double and triple checked and there is no VPN active.  I even deleted all the VPN profiles i had just to make sure.  All the cameras get stuck at connecting camera (1/3) and then error 27 or error 20010 which would suggest the camera can not connect to the internet.

[2022-08-25 15:06] bjs-pdx commented on #279
Are you running android?  Did you take a look at the last link I posted?  IP V6 can cause problems too. The issue isn't with the cameras it is with the phone.  If the cameras were unable to connect to the internet they wouldn't boot and you couldn't access them on the local network since Wyze servers are involved either way.

[2022-08-25 18:46] MomosX commented on #279
Yes i looked and checked - i do not have any IPv6 on my android, all APN are set to IPv4 only.  I'm just trying to get to the bottom of this so i figured a question would not hurt.

What i did to further troubleshoot the problem:  i inserted in my android phone a second SIM card from another carrier.  Left voice on the first one but switched data to the new (second SIM) - and it works !!

So the c

[2022-08-26 02:54] endertable commented on #279
So if yo pull SD card out of a camera and run the stock firmware, can you connect to the cam from "the outside".  Easiest way to  test is by turning wifi off on your phone so it uses cellular service.

[2022-08-26 05:53] MomosX commented on #279
I'll close this as i'm pretty sure after even more testing that there is an issue with the mobile carrier.  Thank you :)

[2022-08-26 05:53] #279 closed

[2022-08-26 12:06] guarddog13 opened #280 "Scripts timeout?"
At least once a day I have to reboot one of my 7 cameras as the waitmotion scripts I have in rc.local.d quit working. The cameras work fine with no disconnects. I'm not sure why the scripts are dying out periodically and it's only happening overnight btw.

[2022-08-26 18:07] guarddog13 opened #282 "Crontab Not Working"
I have crontab enabled on my cameras and if I try command crontab -e I get the following error.

"crontab: can't change directory to '/var/spool/cron/crontabs': No such file or directory"

[2022-08-26 20:31] claudobahn commented on #278
Interestingly when I use purely command-line, the following sequence currently mostly works for me:
* `wpa_cli -i wlan0 scan`
* `wpa_cli -i wlan0 scan_results`
* `wpa_cli -i wlan0 roam <BSSID>`

Sometimes says `OK` and ends up re-associating with a completely different BSSID, but at least it doesn't outright fail from the get-go.

Still curious to find out if you have any insight into the general

[2022-08-27 04:26] gtxaspec commented on #241
@Bob-AOL stand by, still working on things behind the scenes

[2022-08-27 06:17] gtxaspec commented on #278
i'll take a look at the driver

[2022-08-27 06:26] gtxaspec commented on #282
the command you want to use is:

`crontab -c /opt/wz_mini/etc/cron -e`

[2022-08-27 06:27] guarddog13 commented on #282
Thank you so much!!

[2022-08-27 06:31] gtxaspec commented on #280
can you share your scripts? maybe we can debug them.

[2022-08-27 06:37] guarddog13 commented on #280
I'm not home to be able to copy it proper. I have it in discussion #261 the only thing different is i have done 2 second sleeps and added some more curl commands.

[2022-08-27 12:01] Bob-AOL commented on #241
I know you're spread pretty thin and development can take time. Was just curious if there was any progress. I'd be willing to send you one of the cams if it would be at all helpful (or practical).

Again, your efforts in all of this are greatly appreciated!

[2022-08-29 14:46] rickgitdone commented on #38
I used this above for timesync since I have been running OK on latest pull of wz_min_hacks  and  Wyze 4.36.2.5 with Internet blocked..

edit hosts file and bind it to /etc/hosts so that timesync pulls correct time from a local source on your LAN segment...

/opt/wz_mini/etc/hosts  to below
127.0.0.1       localhost
<local NTP>     clock.fmt.he.net
<local NTP>     ntp0.cornell.edu
<local NTP>     t

[2022-08-29 18:27] C2BB opened #285 "[FEATURE REQUEST] Set static / preferred IP"
Thank you for this wonderful solution, it was exactly what I needed to solve my RTSP issues in Home Assistant. In my setup I use an add-on to host a separate wifi network and it lacks the option to do any ip/mac binding. Is that something that could be easily incorporated into this handy little bag of tricks? If not a static IP perhaps a preferred IP or range and fallback to whatever DHCP offers i

[2022-08-29 18:59] claudobahn commented on #285
This is something you typically configure on your router. The router's DHCP server is responsible for assigning IP addresses, so typically you just grab the MAC address off your camera and ear-mark it for a particular IP address on your router.

[2022-08-29 22:04] C2BB commented on #285
Typically, yes, but in my setup i'm creating a wireless network for all my IoT devices through a home assistant add-on that does not offer the ability of manual assignment/binding through its included DHCP server, so I figured I'd throw this out there in the off chance it's a simple feature addition.

[2022-08-29 22:49] C2BB commented on #285
Typically, yes, but in my setup i'm using a USB wifi adapter to create wireless network for all my IoT devices through a home assistant add-on that does not offer the ability of manual assignment/binding through its included DHCP server, so I figured I'd throw this out there in the off chance it's a simple feature addition.

[2022-08-29 23:37] bjs-pdx commented on #285
`a home assistant add-on that does not offer the ability of manual assignment/binding through its included DHCP server,`

Which add-on?  Almost every DHCP server has the ability to create reserved IP addresses.

[2022-08-29 23:39] C2BB commented on #285
https://github.com/joaofl/hassio-addons/tree/master/hassio-hotspot

[2022-08-29 23:45] bjs-pdx commented on #285
Did you have to install this to make it work:

https://github.com/home-assistant/addons/blob/master/dhcp_server/README.md

If so:

`This add-on provides a simple DHCP server for your network. It provides some basic needs, like, reserving IP addresses for your devices to ensure they always get assigned the same IP address.`

[2022-08-30 00:29] C2BB commented on #285
Nope, just added the repo to my add-in's custom repos list, installed from the web gui and was up and running with this cheap usb dongle https://a.co/d/edu81Qi . It's been working great for my WiFi based smart bulbs and switches. Brought my wyze cams into the mix the other day and while they work as well, a restart of HA / host leaves me having to chase down IPs and update my frigate configuration

[2022-08-30 00:36] claudobahn commented on #285
It looks like the https://github.com/joaofl/hassio-addons/tree/master/hassio-hotspot add-on uses udhcp, there's a udhcp.conf file included with that plugin. From the documentation for udhcp, all you have to do is add
[code]
to that included udhcp.conf file. Obviously replace MAC/IP.

[2022-08-30 02:54] Jonathan-Garber opened #286 "[Question] Automatic IR Day/Night"
Is there any on board software that handles automatic day/night IR LED control?

[2022-08-30 03:06] C2BB commented on #285
Thank you for the lead, I'll give that a go.

[2022-08-30 04:30] MomosX opened #287 "Cameras freezing"
Hi,

I have a bunch of Wyze V3, all on the latest FW and with wizi_mini_hacks installed.   Most of them are hardwired using Ugreen Asix Eth 2.0 adaptors, the rest are on wifi.

For 2 weeks i have been trying to find out why some of the cameras simply stop working after some time (a few hours to 24h).  Both hardwired and on wifi.  I have changed the SD cards, the Ugreen adaptors, changed Eth ports

[2022-08-30 04:31] C2BB commented on #285
Worked like a charm. Thank you @claudobahn !!!

[2022-08-30 13:50] claudobahn commented on #286
If you use SSH to log on to the camera, type `cmd` to get help or `cmd irled on` or `cmd irled off` specifically to turn them on/off.

For automatic control, the Wyze supplied app/firmware handles that. So go into the Wyze app and set up (or turn off) IR auto and which LED (near/far) to use.

[2022-08-30 14:37] C2BB commented on #287
This was happening to me as well on my V3. I need more time to verify (only 24 hours in at the moment) but for me the "fix" was to turn off the native Wyze recording to SD. When I had that enabled and the wz_mini_hacks setting ENABLE_MP4_WRITE set to true my SD card filled up quickly leaving it in a state where wz_mini_hacks could no longer function (and hence why in your case things work again wi

[2022-08-30 15:20] C2BB commented on #287
I'm running into the exact same problem with my V3 (wifi)

[2022-08-30 16:40] C2BB commented on #287
Looking through your logs I see that FPS configuration apply fails (and I assume your config has it set at 20 based on the error message):

`#####S18fps#####
Seting system FPS if greater than default
sh: 20: unknown operand`

I also noticed that in the web config editor that if an FPS value is set, it cannot be unset after...perhaps the two are correlated.

My camera just started acting up again a

[2022-08-30 17:24] MomosX commented on #287
I have not set any FPS in config file, as i understood that default camera FPS will be used if left blank. However i set Night_
Drop_Disable = true.  But the cameras fail in daytime also.
FSCK is on.
1 hour ago 2 more cameras became unresponsive, no SSH, nothing.  Cutting the power does not help.

[2022-08-31 00:30] KevinKadow opened #288 "Editing wz_mini.conf on Microsoft Windows breaks the configuration entirely"
It isn't currently possible to create/modify a working SD card from a Windows host, due to artifacts from editing "wz_mini.conf".

The errors after editing the configuration from Windows are due to DOS linefeeds added to the end of each line in wz_mini.conf when modified using common Windows apps (notepad, etc).

One way to prevent this would be to modify the scripts which "source" the conf file (

[2022-08-31 00:43] KevinKadow opened #289 "Using wz_mini_hacks on a device which has the "official" Wyze RTSP beta firmware fails to start the RTSP server"
In configuring a batch of camera we failed to realize that some of our V3 cameras already were modified previously with the RTSP firmware.

In these instances, the hack seemed to work successfully (webserver for example started okay) but instead of starting the RTSP service on port 8554, the original Wyze service on port 554 will be running.

As an initial mitigation, it would be useful for the wz

[2022-08-31 04:05] gtxaspec commented on #289
I will add a warning in the logs, thanks.

[2022-08-31 06:22] MomosX commented on #288
I do it on a win11 machine without any problems.  Just use Notepadd++ to edit the files.

[2022-08-31 15:35] tbrausch commented on #289
Quick question - should the wz_mini_hack work on Wyze firmware 4.61.0.3 (Wyze RTSP) if I disable RTSP for the camera in the Wyze App?  I am hoping to continue running the Wyze RTSP firmware but slowly migrate to wz_mini_hack.

I flashed one camera back to the main formeare and was able to get wx_mini_hack working for the low resolution stream, but the high resolution stream consistently exhibits t

[2022-08-31 21:55] bjs-pdx commented on #285
If you are satisfied with the solution, you should close this.

[2022-09-01 17:17] C2BB commented on #287
Are you trying to use this with Home Assistant / Frigate by chance?

[2022-09-01 18:10] MomosX commented on #287
I am using them with Frigate and a Coral TPU yes.  I have 8 Wyze v3 working perfectly, and 4 giving me a very hard time.... My next step will be to change the power supply for those 4 to see what happens as i am running out of things to change.

[2022-09-01 18:14] C2BB commented on #287
Can you share your Frigate config?...Over the last few days of triaging this I have narrowed down my issues which were exactly as you've described yours and it ended up being my Frigate configuration (was trying to RTMP stream at 1080P which as noted in the docs isnt going to work well). I have Frigate running smoothly now with V2 and V3 both a mix of official RTSP firmware, and some latest firmwa

[2022-09-01 18:17] MomosX commented on #287
`  TerasaSpate:
    ffmpeg:
      inputs:
        - path: rtsp://admin:spectra@192.168.X.XXX:8554/unicast
          roles:
            - record
            - detect
            - rtmp
    detect:
      width: 1920
      height: 1080
      fps: 5
    objects:
       track:
         - person
         - cat
         - dog
    record:
      enabled: True
      events:
        objects:
          - pers

[2022-09-01 18:21] C2BB commented on #287
Yep, thats the gist of what I had when I was running into the same issues as you. After carefully going back through the Frigate docs I noticed a key point in the "Stream Viewing" section per HA: https://docs.frigate.video/guides/camera_setup . Then looking at the camera docs I figured out how to split the streams up. Note you will need to enable both streams in your wz_mini_hack config. Here is m

[2022-09-02 03:40] C2BB commented on #287
Hope that solves it for you! One more link I came across where the author of Frigate made comment specific to lower cost cams such as Wyze and issues running many cams and/or HD streams and detection: https://www.reddit.com/r/homeassistant/comments/runlac/wyze_cam_v3_and_frigate_getting_errors/

[2022-09-02 03:59] gtxaspec commented on #289
fixed in https://github.com/gtxaspec/wz_mini_hacks/commit/4cb55cbb1e0f1bbd4ed064c0b3143665a57aa2ac

[2022-09-02 03:59] #289 closed

[2022-09-02 03:59] gtxaspec commented on #289
it should.

[2022-09-02 04:01] gtxaspec commented on #208
aging, closing, feel free to re open or make a new issue/discussion if further issues persist.

[2022-09-02 04:01] #208 closed

[2022-09-02 04:01] #285 closed

[2022-09-02 04:01] virmaior commented on #289
I will try to add this to the diagnostics page. Mostly everything on that page is culled from gtxaspec helping someone with a problem, so you get to be the origin on this one!

[2022-09-02 06:24] gtxaspec commented on #278
@claudobahn can you enable debugging output (modify the file `/opt/wz_mini/etc/init.d/S10kmod` and set the log level: `rtw_drv_log_level=5`, check the section corresponding to your camera) and see if there is any output in dmesg when you try to do the wpa_cli that fails?

thanks

[2022-09-02 06:25] gtxaspec commented on #276
@haderp can you confirm this is fixed?

[2022-09-02 06:25] gtxaspec commented on #282
see solution, closing!

[2022-09-02 06:25] #282 closed

[2022-09-02 06:27] gtxaspec commented on #275
@HclX did that work for you? Let me know if you need anything else.

[2022-09-02 06:27] #275 closed

[2022-09-02 15:47] claudobahn commented on #278
I've done this: `mv /opt/wz_mini/bin/iwlist /opt/wz_mini/bin/iwlist.disabled` and will see if the cameras behave better. Though  "better" will be difficult to quantify :)

[2022-09-02 15:54] claudobahn commented on #278
Hm, never mind, according to your comment, that only impacts the V2. And even thought running `iwlist wlan0 scan` outputs all the networks in the area, `wpa_cli -i wlan0 scan_results` only shows the currently connected AP afterwards. Until I run `wpa_cli -i wlan0 scan`, then doing `wpa_cli -i wlan0 scan_results` does show other access points / networks.

[2022-09-03 12:57] baudneo commented on #287
I am having this issue as well. The weird thing is that the rtsp wz mini stream Conti ues to broadcast and send/receive. The wyze app only gets to 2/3 authenticating but does not connect. If I ssh into the camera and reboot then things start working as they should.

Usually how I find this issue is happening again is in the morning. The camera keeps its or filter engaged which keeps the image b&w.

[2022-09-03 15:57] baudneo commented on #289
What are you using to view the stream that is tearing? I had same issue and it turned out to be CUDA hwdecoder via ffmpeg.

[2022-09-04 08:14] C2BB commented on #287
Can't speak to zoneminder. Try testing with only the low definition feed. For wyze App issues, clear the app cache, solves many connection issues.

[2022-09-04 12:40] tbrausch commented on #289
I mostly use the Frigate Card (in Home Assistant) with webrtc to view the
stream, but the tearing also happens in VLC simply running a network
stream.  After seeing another post referring to this, I
set ENABLE_LOCAL_DNS and ENABLE_FSCK_ON_BOOT to true which seemed to
significantly reduce the number of times the tearing occurs, but it still
happens  4-5 times per minute or so.  My views now use 640

[2022-09-04 14:09] guarddog13 opened #293 "DNS Issues Still"
Ok so I've been trying to troubleshoot a couple of things with my cameras and noticed something in my adguard. I have 3 cameras that eventually time out their scripts at least every other day. They need reboots. These 3 cameras also drop frames a lot when using the high res stream on AgentDVR. When checking Adguard all 3 of these cameras top the DNS inquires of my entire network. I have DNSMasq tu

[2022-09-04 14:42] guarddog13 commented on #293
The DNS inquiries and dropped frames/scripts timing out seem to go hand in hand. I can reboot the cameras until the dropped frames stop. When the feeds quit dropping frames the excessive DNS inquries stop. Are the cameras trying to talk to Wyze and not able to? Is there a way around this? Why is communication to Wyze failing if that's the issue?

[2022-09-04 15:42] haderp commented on #276
Yes, can confirm the reboot function now works as expected and this issue is resolved.

[2022-09-04 15:42] #276 closed

[2022-09-04 16:08] MomosX commented on #287
Ok reporting back. 48h and not a single drop/freeze in any of my Wyze cameras.  They work flawlessly no matter what resolution i set the stream/streams on. for testing purposes i left some with only main stream and some with dual stream.  Performance wise i can say i'm more happy with the ones having a single stream at max resolution.

What i did was change the power supplies on all those that wer

[2022-09-05 02:04] C2BB commented on #287
Great news! That's the first I've heard of the stock power supplies causing stability issues. Curious, did you replace with the same amperage power supply or go with something bigger?

[2022-09-05 04:24] MomosX commented on #287
Well they were stock and not so stock. I've bought them from Amazon US and i'm in Europe, so they came with those 2 pins that do not fit into power outlets here. So i opened them and cut those 2 pins to solder some wires as i had to mount them into junction boxes anyhow.  Guess i didn't do such a good job on a few of them as they did not work as expected. I replaced them with some small modular US

[2022-09-05 20:35] #287 closed

[2022-09-06 13:10] billotronic commented on #182
I think this needs to be reopened and tested some more. I am trying to operate my v3 and not have it trigger the lamp socket at night and it seems impossible. I have a control v3 setup with no hacks and I am able to disable the socket as expected.

Lamp socket firmware: 0.9.0.27

Is there something I can look for in logs for this?

[2022-09-08 19:10] maxfield-allison commented on #241
can confirm this worked for me on two v2's and one pan v1. ultimately makes life 10 times easier in the long run. Would be wonderful to automate the process even more but I understand the limitations.

[2022-09-08 20:17] maxfield-allison commented on #241
just did another v2. I was going to try to combine steps 7-10 but i accidentally copied the factory_ZMC6tiIDQN file for v3 and decided to just continue on. but it did flash the stock firmware with the SD_ROOT contents in the card. so odds are its safe to condense at least a little.

[2022-09-08 21:04] maxfield-allison commented on #288
it is currently possible if you use a text editor that doesnt save encoding info. notepad++ or sublime are great options

[2022-09-08 21:06] maxfield-allison commented on #241
One minor issue. Looks like I cant open the rtsp streams from any of these now. tried VLC and motioneye.

[2022-09-09 23:59] kohrar commented on #38
I'm using wz_mini_hacks on the old RTSP beta (4.61.0.3) and the wifi connection drops for ~4 seconds every ~20 seconds after blocking all internet traffic to it. It looks like something's rerunning wpa_supplicant and udhcpc during the dropout periods.

Tweaking the hosts file with the domains @rickgitdone mentioned as well as the wyze API domains seemed to have substantially reduced those dropouts

[2022-09-10 01:54] tensiondriven commented on #127
As a counterpoint, having the documentation in source control makes a lot of sense to me.

I agree that the readme could be improved and split out into multiple files, but I do not think divorcing the docs from git would be an improvement.

The good news is that any one of us could update the docs and submit a pull request to improve this with minimal technical expertise.

[2022-09-11 22:17] compeek commented on #241
I tried this today on one of my V2s, and it seems to be working great! (I didn't even both trying to current official method first, so I can't compare to that.)

[2022-09-11 22:40] Bob-AOL commented on #241
Still only one for three here.

[2022-09-11 23:32] maxfield-allison commented on #241
Could it be the cards or maybe the PC you're using to write to the cards?
Maybe even the download is corrupted? Just spit balling.

On Sun, Sep 11, 2022, 5:40 PM Bob-AOL ***@***.***> wrote:

[2022-09-11 23:48] Bob-AOL commented on #241
Thanks. Been there. Done that..., multiple times. It's all pretty well covered above (and elsewhere). Our host is still working on it as is also covered above.

[2022-09-13 03:53] rca commented on #38
I'm very interested in getting the network dropouts sorted out as well.

Not sure how helpful this is, but running `strings` on the `iCamera` binary shows `ifconfig wlan0 down` buried in there somewhere:

[code]

I can see them dropping wlan0 to configure hostapd so that you could potentially initialize the camera by joining a self-hosted network ... or as a last ditch effort to get an internet co

[2022-09-13 04:31] endertable commented on #38
Possible, but you may have to do some more doubles checks.  E.g., iCamera calls a script or other executable to restart the network, for some reason, sometimes it picks up iCamera vs the other script/executable as the PPID.  ifconfig is also needed to bring the network up, so in effect you could prevent yourself from rejoining the network.

Kinda risky messing with ifconfig, but as long as you use

[2022-09-13 11:55] rca commented on #38
Agreed about the risk; I'm considering a different approach: look into defanging `iCamera`, which is the actual problem.

Sounds good.  Can you point me to documentation that outlines how to do this?  I searched the repo and your comment above is the only reference to "flagfiles".

Thanks!

---

FWIW, I put the cameras on an IoT network that doesn't allow access to the public Internet, which is wh

[2022-09-14 01:52] endertable commented on #38
The following snippet would have to go right before iCamera is kicked off.   First read ASSUMPTIONS then EXPLANATIONS

======================================================
if [ -f /configs/TESTFLAG ]
then
    ##  Flag file exists so good to go on defanged ifconfig for this session
    mkdir /run/bin
    cp /opt/wz_mini/test/ifconfig_dfanged   /run/bin/ifconfig
    export PATH=/run/bin:$PATH

[2022-09-16 05:03] kohrar commented on #38
I poked around in the `iCamera` binary and I seemed to have made it not bounce the network connection after being unable to reach the cloud servers or google.com. There're a few function calls that are made during the network initialization phase. By bypassing the calls to check whether the domain name is working and making the retry loop indefinitely to prevent it from resetting the network on fa

[2022-09-16 14:33] capncybo commented on #38
@kohrar This is fantastic work & very much appreciated, (much of your knowledge is far beyond my level of understanding).
I'm currently running firmware 4.36.9.139 But if I understood you correctly...
#1) Your patch is already working however, it's specifically for: RTSP beta firmware 4.0.61.1
#2) Sometime soon, you will attempt to patch firmware 4.36.9.139...
I hope I understood that correctly, A

[2022-09-16 15:28] gtxaspec commented on #38
@kohrar awesome work.  Are the functions you are patching native to the iCamera binary, or an external library? if they are external, we could probably add your fixes into libcallback via ld preload.

[2022-09-16 21:55] kohrar commented on #38
Thanks for the complements and I'm glad that this is of interest to you all.

@capncybo, Yes, the patch is only for 4.0.61.1 (the RTSP beta). I'll look at the latest firmware this weekend.
@gtxaspec, I'm modifying the iCamera binary directly. The network reset is triggered there rather than some outside library, I think. Since all the tools necessary to do the patching is already part of wz_mini_h

[2022-09-16 22:06] rca commented on #38
I have been looking into ways to get iCamera to call defanged versions of system executables, and I got it to use custom versions of `ifconfig`, `killall`, and `udhcpc`, but your way of doing this is much more elegant.

The thought of writing a script that does this in boot was something I was going to look into upon reading your notes (nice notes, btw!).

I wasn't clear on how you went from deter

[2022-09-17 04:55] kohrar commented on #38
@rca Yes, that was my initial approach as well too. Looking at the iCamera binary though, I think it may be calling other things aside from those utilities that may be bouncing the network connection.

The function names are just names I made up as I looked through the disassembly in Ghidra. As a result, the comments in my patch script probably probably won't make much sense. If you want to take a

[2022-09-18 01:41] rca commented on #38
Awesome, thanks for the update @kohrar !  I've patched my camera and will let it run overnight.

I'm comparing this to another camera that is running `4.36.9.139` + wz_mini_hacks.  With my attempt to patch network system executable calls I got the signal drops from 690 times down to 386 over ~2 days.  About half isn't bad, but not great either.  This is probably due to the network restarts getting

[2022-09-18 01:51] johnsolarino commented on #38
I also installed version 4.36.9.139 on 2 cameras and patched the iCamera binary. So far they haven't have any drops or packet loss without internet. Other cameras have 40 - 100 no signal alarms in the same time period. This looks great so far!

[2022-09-18 01:54] jsolarin commented on #38
I also installed version 4.36.9.139 on 2 cameras and patched the iCamera binary. So far they haven't have any drops or packet loss without internet. Other cameras have 40 - 100 no signal alarms in the same time period. This looks great so far!

[2022-09-18 14:09] rca commented on #38
After running `iCamera.patched` overnight it's had 0 drops compared to 60 on an unpatched camera; nice work!  🙌🏽

[2022-09-18 18:26] plloppii commented on #38
Trying to test this as well,
I'm struggling to turn off internet access for the wyze and getting it connected to my computer through an unmanaged switch.
I'm using the V3 with the UCTRONICS POE ethernet adapter.  Any ideas?

[2022-09-19 18:06] capncybo commented on #38
@kohrar Sorry for being late to the "Patch" party ;-)
I did successfully patch firmware v4.36.9.139 on THREE of my WYZE v3 Cameras.
  Fantastic Work BTW
From my perspective, It seemed to work great for the short-time I was using it.
However I quickly realized...
 from a WYZE Application perspective... the patch (obviously) OFF-LINES the cameras.
 Not sure if the wife & kids will like loosing their

[2022-09-19 18:17] rickgitdone commented on #38
where is the best location to pull this patched code with git?

I ask since I am seeing a forked repo with the code and the discussion is here....

[2022-09-19 19:38] rca commented on #38
@capncybo you are correct; the patch makes the cameras offline only.  Good call that there are some folks that do not want to completely disable the Wyze application.  Personally, that's exactly what I'm looking for, but this patch should be compatible with both use-cases.

The original, untouched binary is at `/system/bin/iCamera`.  You would have to update the `iCamera` wrapper script to point b

[2022-09-19 20:11] capncybo commented on #38
@rca Thanks for the added information, & yes indeed it did help :+1:

[2022-09-19 20:52] kohrar commented on #38
@rickgitdone You can use the pull request #298. My fork's master branch also has this change, but I hope that this can eventually get merged in.

To @capncybo's point, perhaps the option for this feature should be called something to the effect of `ENABLE_SELFHOSTED_MODE` which should make it clear it will break the functionality with Wyze's cloud service. It didn't occur to me it would break Wyze

[2022-09-20 03:02] gtxaspec commented on #38
@kohrar Thank's for the pull requests!  I don't have access to a camera to test for the next few days, but once I do, I'll get on merging these in ASAP!

[2022-09-20 16:40] ragenhe opened #305 "PAN V1 question....."
I have a Pan V1 that will not flash the firmware manually.

I have a V2 and a V3 that will and is running wz_mini_hacks, so I know the process well enough to remove user error as the cause.

I have tried different SD cards to ensure it wasn't corruption.

It wasn't bought when they first came out, so batch wise I don't think it was in the beginning.

Can anyone suggest another way?  Or has anyone

[2022-09-20 23:45] xraive commented on #38
@kohrar Would you have time to make a patch for Wyze Cam v2? The latest firmware version is 4.9.8.1002.

[2022-09-21 08:28] virmaior commented on #305
just to confirm  you ran `compile_image.sh pan` to produce the image?

another possibility is that at least for Wyze v2s (I don't own a v2 or panv1 so am depending on memory reading about a similar issue), there have been different bootloaders where others have mentioned finding rare cameras that won't do the normal load. I think there was a process described about a month ago where the bootloader

[2022-09-21 10:27] ragenhe commented on #305
Yes, I ran it with the pan present.

Let me find that and read through it.

Thank you!
Ragen
________________________________
From: virmaior ***@***.***>
Sent: Wednesday, September 21, 2022 4:28:24 AM
To: gtxaspec/wz_mini_hacks ***@***.***>
Cc: Ragen Herrington ***@***.***>; Author ***@***.***>
Subject: Re: [gtxaspec/wz_mini_hacks] PAN V1 question..... (Issue #305)

just to confirm you ran compile

[2022-09-21 17:06] ragenhe commented on #305
Even the downloaded special uboot demo bin cannot be flashed.

For the record, right after I bought the camera, I tried to flash the wyze rtsp firmware and it wouldn't work either.

So for this camera, it appears I'm just stuck with stock firmware.

[2022-09-21 17:39] rickgitdone commented on #38
I changed the firmware over to v4.36.9.139 to match the iCamera binary being patched... pulled the #298 today edited the  ENABLE_SELFHOSTED_MODE to "true"

don't see my CAM coming on WIFI now ... without the SDCard in the CAM is working... might there be an issue in the forked repo ? I did wipe the SDCard in between so that its fresh each time as well...

I created a new clone of https://github.co

[2022-09-21 17:47] kohrar commented on #38
@rickgitdone, Could you please send the wz mini boot logs? It should be on your SD card. Perhaps it would be more fitting to comment directly on my PR #298 to keep everything related to the change there. Thanks!

[2022-09-22 13:27] #305 closed

[2022-09-22 16:35] kohrar commented on #38
@xraive, I took a look at iCamera for the v2 in this firmware version, but things are a bit different there (codebase looks similar but also a bit different) and it'll need more investigating.

[2022-09-23 13:57] Bob-AOL commented on #241
[gtxaspec](https://github.com/gtxaspec)

Just checking back in on this. I've re-visited everything again from scratch with the same results.

[2022-09-23 16:52] gtxaspec commented on #241
hey Bob, I'll have an update this weekend for ya!

[2022-09-23 17:14] Bob-AOL commented on #241
Cool. I'm anxious to kick the tires and take it for a spin.

[2022-09-26 13:19] maxfield-allison commented on #293
what are the firmware versions? have you tried disabling adguard temporarily?

[2022-09-27 06:21] kohrar commented on #38
My PR should support the Wyze Cam v2 on the latest firmware as well. Please give any comments/feedback at #312

I've also merged all my other PR fixes in my fork's master branch (https://github.com/kohrar/wz_mini_hacks) in case 0wish to try using the update script on my repo.

[2022-09-28 04:43] dgrzjohn opened #314 "Selfhosted Mode failing to patch iCamera"
The iCamera patch is failing to apply on my Wyze v3 cam which causes selfhosted mode to still have connectivity issues.  I think this is the relevant part from the wz_init.log:

`====> Calling patch_out_code_test_enable

Original at 0x7dfcc
00000000: cbf0 110c                                ....
Patched
00000000: 0000 0000                                ....
iCamera patch failed.
Reverting iCamera

[2022-09-28 05:53] gtxaspec commented on #314
confirmed,

[code]

[2022-09-28 06:13] gtxaspec commented on #314
@dgrzjohn
in the file `/opt/wz_mini/usr/bin/patch_icamera.sh`
comment out line #239

`#set -e`
and then reboot and see if it works.

[2022-09-28 06:36] dgrzjohn commented on #314
That seems to have allowed the patch to complete successfully.   Thank you!

[code]

[2022-09-28 18:49] kohrar commented on #314
Thanks for reporting this @dgrzjohn.

PR #315 should fix this issue.

[2022-09-29 00:19] gtxaspec commented on #314
#315 merged!

[2022-09-29 01:18] dgrzjohn commented on #314
Working after updating the firmware.  Thanks again!

[2022-09-29 13:18] xraive commented on #38
I don't know if this is the right place but now that I have my devices completely offline, how can I stop recording to MicroSD without the app? I am going to be recording over the network using motioneye or some other solution.

[2022-09-29 15:02] jsolarin commented on #38
@xraive You can turn off recording in the /config/.user_config

recordType=3

https://github.com/gtxaspec/wz_mini_hacks/discussions/309

[2022-09-29 15:22] xraive commented on #38
@jsolarin Thank you for this.  My apologies for not finding this.  I was searching to see if this was discussed in other issues, but I didn't see it.

[2022-09-29 15:49] jsolarin commented on #38
@xraive I don't have any v2s to check with anymore but did you reboot the camera to reload the config?

If you have another v2 that you can put on the internet, you can watch that file and change the setting in the wyze app to see what it sets to.